vgITCADF/PartialArmTemplates/ArmTemplate_5_30_2020_14_32_56.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "vgITCADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PIP_NTF_DWH_MART')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Delete Old Stage Data",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DWH_STAGE",
								"type": "DatasetReference",
								"parameters": {
									"P_FILE_NAME": "NTF.csv"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": false
							}
						}
					},
					{
						"name": "Set PATH",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_PATH",
							"value": "NTF"
						}
					},
					{
						"name": "Copy NTF File to Satge",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set PATH",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Delete Old Stage Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": "2020-05-28T00:00:00.000Z",
									"modifiedDatetimeEnd": "2020-05-30T00:00:00.000Z",
									"wildcardFolderPath": {
										"value": "@variables('V_PATH')",
										"type": "Expression"
									},
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ProjectID",
											"type": "String"
										},
										"sink": {
											"name": "ProjectID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Context",
											"type": "String"
										},
										"sink": {
											"name": "Context",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FirmID",
											"type": "String"
										},
										"sink": {
											"name": "FirmID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Date of data collection",
											"type": "String"
										},
										"sink": {
											"name": "Date of data collection",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "interviewkey",
											"type": "String"
										},
										"sink": {
											"name": "interviewkey",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "interviewid",
											"type": "String"
										},
										"sink": {
											"name": "interviewid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A01",
											"type": "String"
										},
										"sink": {
											"name": "A01",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A02",
											"type": "String"
										},
										"sink": {
											"name": "A02",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A03",
											"type": "String"
										},
										"sink": {
											"name": "A03",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A04",
											"type": "String"
										},
										"sink": {
											"name": "A04",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A06",
											"type": "String"
										},
										"sink": {
											"name": "A06",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A07",
											"type": "String"
										},
										"sink": {
											"name": "A07",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A09",
											"type": "String"
										},
										"sink": {
											"name": "A09",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A10",
											"type": "String"
										},
										"sink": {
											"name": "A10",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A11",
											"type": "String"
										},
										"sink": {
											"name": "A11",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A12",
											"type": "String"
										},
										"sink": {
											"name": "A12",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "A13",
											"type": "String"
										},
										"sink": {
											"name": "A13",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "B01",
											"type": "String"
										},
										"sink": {
											"name": "B01",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "B03",
											"type": "String"
										},
										"sink": {
											"name": "B03",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "B17",
											"type": "String"
										},
										"sink": {
											"name": "B17",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BA03",
											"type": "String"
										},
										"sink": {
											"name": "BA03",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BA04",
											"type": "String"
										},
										"sink": {
											"name": "BA04",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BA07",
											"type": "String"
										},
										"sink": {
											"name": "BA07",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BA08",
											"type": "String"
										},
										"sink": {
											"name": "BA08",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BA11",
											"type": "String"
										},
										"sink": {
											"name": "BA11",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BA12",
											"type": "String"
										},
										"sink": {
											"name": "BA12",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BA13",
											"type": "String"
										},
										"sink": {
											"name": "BA13",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BA14",
											"type": "String"
										},
										"sink": {
											"name": "BA14",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BA15",
											"type": "String"
										},
										"sink": {
											"name": "BA15",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BB02",
											"type": "String"
										},
										"sink": {
											"name": "BB02",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BB08",
											"type": "String"
										},
										"sink": {
											"name": "BB08",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BB09",
											"type": "String"
										},
										"sink": {
											"name": "BB09",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BC03",
											"type": "String"
										},
										"sink": {
											"name": "BC03",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BC04",
											"type": "String"
										},
										"sink": {
											"name": "BC04",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "C04",
											"type": "String"
										},
										"sink": {
											"name": "C04",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "C05",
											"type": "String"
										},
										"sink": {
											"name": "C05",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DA01",
											"type": "String"
										},
										"sink": {
											"name": "DA01",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DB01",
											"type": "String"
										},
										"sink": {
											"name": "DB01",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DB02",
											"type": "String"
										},
										"sink": {
											"name": "DB02",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DB03",
											"type": "String"
										},
										"sink": {
											"name": "DB03",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FILE_NAME",
											"type": "String"
										},
										"sink": {
											"name": "FILE_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LOAD_TIMESTAMP",
											"type": "String"
										},
										"sink": {
											"name": "LOAD_TIMESTAMP",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DWH_READ",
								"type": "DatasetReference",
								"parameters": {
									"P_FILE_NAME": "*.*",
									"P_PATH": {
										"value": "@variables('V_PATH')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DWH_STAGE",
								"type": "DatasetReference",
								"parameters": {
									"P_FILE_NAME": "NTF.csv"
								}
							}
						]
					},
					{
						"name": "DF_NFT_UNPIVOT",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy NTF File to Satge",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_NFT_UNPIVOT",
								"type": "DataFlowReference",
								"datasetParameters": {
									"SrcSTGNTR": {
										"P_FILE_NAME": "NTF.csv"
									}
								}
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "DF_DIM_SURVEY_DETAILS",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy NTF File to Satge",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_DIM_SURVEY_DETAILS",
								"type": "DataFlowReference",
								"datasetParameters": {
									"SrcNTF": {
										"P_FILE_NAME": "NTF.csv"
									}
								}
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "DF_NTF_DIM_ENTITY",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy NTF File to Satge",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_NTF_DIM_ENTITY",
								"type": "DataFlowReference",
								"datasetParameters": {
									"SrcNTF": {
										"P_FILE_NAME": "NRF.csv"
									}
								}
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"variables": {
					"V_FILE_NAME": {
						"type": "String"
					},
					"V_PATH": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_DIM_SURVEY_DETAILS')]",
				"[concat(variables('factoryId'), '/dataflows/DF_NTF_DIM_ENTITY')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_DIM_SURVEY_DETAILS')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DWH_STAGE",
								"type": "DatasetReference"
							},
							"name": "SrcNTF"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_SURVEY_DETAILS",
								"type": "DatasetReference"
							},
							"name": "ExistingDIM"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MART_DIM_SURVEY_DETAILS",
								"type": "DatasetReference"
							},
							"name": "DIMSURVEYDETAILS"
						}
					],
					"transformations": [
						{
							"name": "SelectColumns"
						},
						{
							"name": "SourceRecordHash"
						},
						{
							"name": "Exists"
						},
						{
							"name": "RunInfor"
						},
						{
							"name": "AlterRow1"
						},
						{
							"name": "DISTINCT"
						}
					],
					"script": "source(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\tFirmID as string,\n\t\t{Date of data collection} as string,\n\t\tCountry as string,\n\t\tinterviewkey as string,\n\t\tinterviewid as string,\n\t\tA01 as string,\n\t\tA02 as string,\n\t\tA03 as string,\n\t\tA04 as string,\n\t\tA06 as string,\n\t\tA07 as string,\n\t\tA09 as string,\n\t\tA10 as string,\n\t\tA11 as string,\n\t\tA12 as string,\n\t\tA13 as string,\n\t\tB01 as string,\n\t\tB03 as string,\n\t\tB17 as string,\n\t\tBA03 as string,\n\t\tBA04 as string,\n\t\tBA07 as string,\n\t\tBA08 as string,\n\t\tBA11 as string,\n\t\tBA12 as string,\n\t\tBA13 as string,\n\t\tBA14 as string,\n\t\tBA15 as string,\n\t\tBB02 as string,\n\t\tBB08 as string,\n\t\tBB09 as string,\n\t\tBC03 as string,\n\t\tBC04 as string,\n\t\tC04 as string,\n\t\tC05 as string,\n\t\tDA01 as string,\n\t\tDB01 as string,\n\t\tDB02 as string,\n\t\tDB03 as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcNTF\nsource(output(\n\t\tSURVEY_DETAILS_SR_KEY as integer,\n\t\tRECORD_HASH_VALUE as string,\n\t\tINTERVIEWEE_NAME as string,\n\t\tINTERVIERWER_NAME as string,\n\t\tINTERVIEEE_TELEPHONE as string,\n\t\tINTERVIEWEE_POSITION as string,\n\t\tINTERVIEWEE_EMAIL as string,\n\t\tSUPERVISOR_NAME as string,\n\t\tTIME_INTERVIEW_STARTED as string,\n\t\tTIME_INTERVIEW_ENDED as string,\n\t\tINTERVIEW_DURATION as string,\n\t\tINTERVIEW_KEY as string,\n\t\tINTERVIEW_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ExistingDIM\nSrcNTF select(mapColumn(\n\t\tINTERVIEW_KEY = interviewkey,\n\t\tINTERVIEW_ID = interviewid,\n\t\tINTERVIERWER_NAME = A01,\n\t\tINTERVIEEE_TELEPHONE = A02,\n\t\tTIME_INTERVIEW_STARTED = A03,\n\t\tSUPERVISOR_NAME = A07,\n\t\tINTERVIEWEE_NAME = A09,\n\t\tTIME_INTERVIEW_ENDED = A10,\n\t\tINTERVIEW_DURATION = A11,\n\t\tINTERVIEWEE_EMAIL = A12,\n\t\tINTERVIEWEE_POSITION = A13,\n\t\tFILE_NAME,\n\t\tLOAD_TIMESTAMP\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectColumns\nDISTINCT derive(SOURCE_RECORD_HASH = sha2(256,\r\nINTERVIEWEE_NAME,\r\nINTERVIERWER_NAME,\r\nINTERVIEEE_TELEPHONE,\r\nINTERVIEWEE_POSITION,\r\nINTERVIEWEE_EMAIL,\r\nSUPERVISOR_NAME,\r\nTIME_INTERVIEW_STARTED,\r\nTIME_INTERVIEW_ENDED,\r\nINTERVIEW_DURATION,\r\nINTERVIEWEE_NAME,\r\nINTERVIEW_ID)) ~> SourceRecordHash\nSourceRecordHash, ExistingDIM exists(SOURCE_RECORD_HASH == RECORD_HASH_VALUE,\n\tnegate:true,\n\tbroadcast: 'auto')~> Exists\nExists derive(BATCH_ID = 1,\n\t\tSOURCE = FILE_NAME,\n\t\tCREATED_BY = FILE_NAME,\n\t\tUPDATED_BY = FILE_NAME,\n\t\tDATE_CREATED = currentTimestamp(),\n\t\tDATE_UPDATED = currentTimestamp()) ~> RunInfor\nRunInfor alterRow(insertIf(1==1)) ~> AlterRow1\nSelectColumns aggregate(groupBy(INTERVIEWEE_NAME,\n\t\tINTERVIERWER_NAME,\n\t\tINTERVIEEE_TELEPHONE,\n\t\tINTERVIEWEE_POSITION,\n\t\tINTERVIEWEE_EMAIL,\n\t\tSUPERVISOR_NAME,\n\t\tTIME_INTERVIEW_STARTED,\n\t\tTIME_INTERVIEW_ENDED,\n\t\tINTERVIEW_DURATION,\n\t\tINTERVIEW_KEY,\n\t\tINTERVIEW_ID,\n\t\tFILE_NAME),\n\tCOUNT = count()) ~> DISTINCT\nAlterRow1 sink(input(\n\t\tSURVEY_DETAILS_SR_KEY as integer,\n\t\tRECORD_HASH_VALUE as string,\n\t\tINTERVIEWEE_NAME as string,\n\t\tINTERVIERWER_NAME as string,\n\t\tINTERVIEEE_TELEPHONE as string,\n\t\tINTERVIEWEE_POSITION as string,\n\t\tINTERVIEWEE_EMAIL as string,\n\t\tSUPERVISOR_NAME as string,\n\t\tTIME_INTERVIEW_STARTED as string,\n\t\tTIME_INTERVIEW_ENDED as string,\n\t\tINTERVIEW_DURATION as string,\n\t\tINTERVIEW_KEY as string,\n\t\tINTERVIEW_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tRECORD_HASH_VALUE = SOURCE_RECORD_HASH,\n\t\tINTERVIEWEE_NAME,\n\t\tINTERVIERWER_NAME,\n\t\tINTERVIEEE_TELEPHONE,\n\t\tINTERVIEWEE_POSITION,\n\t\tINTERVIEWEE_EMAIL,\n\t\tSUPERVISOR_NAME,\n\t\tTIME_INTERVIEW_STARTED,\n\t\tTIME_INTERVIEW_ENDED,\n\t\tINTERVIEW_DURATION,\n\t\tINTERVIEW_KEY,\n\t\tINTERVIEW_ID,\n\t\tBATCH_ID,\n\t\tSOURCE,\n\t\tCREATED_BY,\n\t\tUPDATED_BY,\n\t\tDATE_CREATED,\n\t\tDATE_UPDATED\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DIMSURVEYDETAILS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MART_DIM_SURVEY_DETAILS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_NTF_DIM_ENTITY')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DWH_STAGE",
								"type": "DatasetReference"
							},
							"name": "SrcNTF"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "ExistingDIM"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "ExistingDIM1"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "ExitingDimMaxID"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "DIMENTITY"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "UpdDIMENTITY"
						}
					],
					"transformations": [
						{
							"name": "SelectColumn"
						},
						{
							"name": "DistinctByAggregate"
						},
						{
							"name": "SourceRecordHash"
						},
						{
							"name": "SelectExistingCol"
						},
						{
							"name": "ExstingRecordHash"
						},
						{
							"name": "Exists1"
						},
						{
							"name": "Lookup1"
						},
						{
							"name": "ConditionalSplit1"
						},
						{
							"name": "RunInfo"
						},
						{
							"name": "AlterRow1"
						},
						{
							"name": "RunInfo2"
						},
						{
							"name": "AlterRow2"
						},
						{
							"name": "LatestEntityID"
						},
						{
							"name": "Join1"
						},
						{
							"name": "SurrogateKey1"
						},
						{
							"name": "Join2"
						}
					],
					"script": "source(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\tFirmID as string,\n\t\t{Date of data collection} as string,\n\t\tCountry as string,\n\t\tinterviewkey as string,\n\t\tinterviewid as string,\n\t\tA01 as string,\n\t\tA02 as string,\n\t\tA03 as string,\n\t\tA04 as string,\n\t\tA06 as string,\n\t\tA07 as string,\n\t\tA09 as string,\n\t\tA10 as string,\n\t\tA11 as string,\n\t\tA12 as string,\n\t\tA13 as string,\n\t\tB01 as string,\n\t\tB03 as string,\n\t\tB17 as string,\n\t\tBA03 as string,\n\t\tBA04 as string,\n\t\tBA07 as string,\n\t\tBA08 as string,\n\t\tBA11 as string,\n\t\tBA12 as string,\n\t\tBA13 as string,\n\t\tBA14 as string,\n\t\tBA15 as string,\n\t\tBB02 as string,\n\t\tBB08 as string,\n\t\tBB09 as string,\n\t\tBC03 as string,\n\t\tBC04 as string,\n\t\tC04 as string,\n\t\tC05 as string,\n\t\tDA01 as string,\n\t\tDB01 as string,\n\t\tDB02 as string,\n\t\tDB03 as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcNTF\nsource(output(\n\t\tENTITY_SR_KEY as integer,\n\t\tENTITY_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tENTITY_NAME as string,\n\t\tENTITY_EMAIL_DOMAIN_NAME as string,\n\t\tADDRESS as string,\n\t\tCITY as string,\n\t\tREGION as string,\n\t\t{PHONE NUMBER} as string,\n\t\tWEBSITE as string,\n\t\tTWITTER as string,\n\t\tLINKEDIN as string,\n\t\tBSO_OWNERSHIP as string,\n\t\tPOST_CODE as string,\n\t\tPOBOX as string,\n\t\tCITY_REGION as string,\n\t\tCATEGORY as string,\n\t\tCONFIDENTIAL as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tOTHER_EMAILS as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_INFORMATION as string,\n\t\tMAILING_ADDRESS_STREET1 as string,\n\t\tMAILING_ADDRESS_STREET2 as string,\n\t\tMAILING_ADDRESS_CITY as string,\n\t\tMAILING_STATE_PROVICE as string,\n\t\tMAILING_POST_CODE as string,\n\t\tMAILING_COUNTRY as string,\n\t\tMAILING_FORMAT_UN as string,\n\t\tFIRM_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ExistingDIM\nsource(output(\n\t\tENTITY_SR_KEY as integer,\n\t\tENTITY_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tENTITY_NAME as string,\n\t\tENTITY_EMAIL_DOMAIN_NAME as string,\n\t\tADDRESS as string,\n\t\tCITY as string,\n\t\tREGION as string,\n\t\t{PHONE NUMBER} as string,\n\t\tWEBSITE as string,\n\t\tTWITTER as string,\n\t\tLINKEDIN as string,\n\t\tBSO_OWNERSHIP as string,\n\t\tPOST_CODE as string,\n\t\tPOBOX as string,\n\t\tCITY_REGION as string,\n\t\tCATEGORY as string,\n\t\tCONFIDENTIAL as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tOTHER_EMAILS as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_INFORMATION as string,\n\t\tMAILING_ADDRESS_STREET1 as string,\n\t\tMAILING_ADDRESS_STREET2 as string,\n\t\tMAILING_ADDRESS_CITY as string,\n\t\tMAILING_STATE_PROVICE as string,\n\t\tMAILING_POST_CODE as string,\n\t\tMAILING_COUNTRY as string,\n\t\tMAILING_FORMAT_UN as string,\n\t\tFIRM_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ExistingDIM1\nsource(output(\n\t\tMAX_VAL as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: 'Select IsNULL(Max(ENTITY_ID),1) MAX_VAL\\nFROM MART_OWNER.DIM_ENTITY',\n\tformat: 'query') ~> ExitingDimMaxID\nSrcNTF select(mapColumn(\n\t\tFIRM_ID = FirmID,\n\t\tENTITY_NAME = A04,\n\t\tADDRESS = A06,\n\t\tFILE_NAME,\n\t\tLOAD_TIMESTAMP\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectColumn\nSelectColumn aggregate(groupBy(ENTITY_NAME),\n\teach(match(name!='ENTITY_NAME'), $$ = last($$))) ~> DistinctByAggregate\nDistinctByAggregate derive(SOURCE_RECORD_HASH = sha2(256,\r\nENTITY_NAME,\r\nADDRESS,\r\nFIRM_ID\r\n)) ~> SourceRecordHash\nJoin1 select(mapColumn(\n\t\tEXIST_ENTITY_ID = ExistingDIM@ENTITY_ID,\n\t\tEXIST_VERSION_NO = ExistingDIM@VERSION_NO,\n\t\tEXIST_ENTITY_NAME = ExistingDIM@ENTITY_NAME,\n\t\tEXIST_ADDRESS = ADDRESS,\n\t\tEXIST_FIRM_ID = FIRM_ID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectExistingCol\nSelectExistingCol derive(RECORD_HASH = sha2(256,\r\nEXIST_ENTITY_NAME,\r\nEXIST_ADDRESS,\r\nEXIST_FIRM_ID\r\n)) ~> ExstingRecordHash\nSourceRecordHash, ExstingRecordHash exists(SOURCE_RECORD_HASH == RECORD_HASH,\n\tnegate:true,\n\tbroadcast: 'auto')~> Exists1\nExists1, ExstingRecordHash lookup(ENTITY_NAME == EXIST_ENTITY_NAME,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> Lookup1\nLookup1 split(isNull(EXIST_ENTITY_ID),\n\tdisjoint: false) ~> ConditionalSplit1@(NewRecord, UpdateRecord)\nSurrogateKey1 derive(ENTITY_ID = MAX_VAL+Dim_Surrogate_Key,\n\t\tVERSION_NO = 1,\n\t\tBATCH_ID = 1,\n\t\tSOURCE = FILE_NAME,\n\t\tCREATED_BY = FILE_NAME,\n\t\tUPDATED_BY = FILE_NAME,\n\t\tDATE_CREATED = currentDate(),\n\t\tDATE_UPDATED = currentDate()) ~> RunInfo\nRunInfo alterRow(insertIf(1==1)) ~> AlterRow1\nConditionalSplit1@UpdateRecord derive(VERSION_NO = EXIST_VERSION_NO +1,\n\t\tBATCH_ID = 1,\n\t\tSOURCE = FILE_NAME,\n\t\tUPDATED_BY = FILE_NAME,\n\t\tDATE_UPDATED = currentDate()) ~> RunInfo2\nRunInfo2 alterRow(insertIf(1==1)) ~> AlterRow2\nExistingDIM1 aggregate(groupBy(ENTITY_ID,\n\t\tENTITY_NAME),\n\tVERSION_NO = max(VERSION_NO)) ~> LatestEntityID\nExistingDIM, LatestEntityID join(ExistingDIM@ENTITY_ID == LatestEntityID@ENTITY_ID\n\t&& ExistingDIM@ENTITY_NAME == LatestEntityID@ENTITY_NAME\n\t&& ExistingDIM@VERSION_NO == LatestEntityID@VERSION_NO,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Join1\nJoin2 keyGenerate(output(Dim_Surrogate_Key as long),\n\tstartAt: 1L) ~> SurrogateKey1\nConditionalSplit1@NewRecord, ExitingDimMaxID join(1==1,\n\tjoinType:'cross',\n\tbroadcast: 'auto')~> Join2\nAlterRow1 sink(input(\n\t\tENTITY_SR_KEY as integer,\n\t\tENTITY_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tENTITY_NAME as string,\n\t\tENTITY_EMAIL_DOMAIN_NAME as string,\n\t\tADDRESS as string,\n\t\tCITY as string,\n\t\tREGION as string,\n\t\t{PHONE NUMBER} as string,\n\t\tWEBSITE as string,\n\t\tTWITTER as string,\n\t\tLINKEDIN as string,\n\t\tBSO_OWNERSHIP as string,\n\t\tPOST_CODE as string,\n\t\tPOBOX as string,\n\t\tCITY_REGION as string,\n\t\tCATEGORY as string,\n\t\tCONFIDENTIAL as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tOTHER_EMAILS as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_INFORMATION as string,\n\t\tMAILING_ADDRESS_STREET1 as string,\n\t\tMAILING_ADDRESS_STREET2 as string,\n\t\tMAILING_ADDRESS_CITY as string,\n\t\tMAILING_STATE_PROVICE as string,\n\t\tMAILING_POST_CODE as string,\n\t\tMAILING_COUNTRY as string,\n\t\tMAILING_FORMAT_UN as string,\n\t\tFIRM_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tENTITY_ID = Dim_Surrogate_Key,\n\t\tENTITY_NAME,\n\t\tADDRESS,\n\t\tFIRM_ID,\n\t\tBATCH_ID = ENTITY_ID,\n\t\tSOURCE,\n\t\tCREATED_BY,\n\t\tUPDATED_BY,\n\t\tDATE_CREATED,\n\t\tDATE_UPDATED\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DIMENTITY\nAlterRow2 sink(input(\n\t\tENTITY_SR_KEY as integer,\n\t\tENTITY_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tENTITY_NAME as string,\n\t\tENTITY_EMAIL_DOMAIN_NAME as string,\n\t\tADDRESS as string,\n\t\tCITY as string,\n\t\tREGION as string,\n\t\t{PHONE NUMBER} as string,\n\t\tWEBSITE as string,\n\t\tTWITTER as string,\n\t\tLINKEDIN as string,\n\t\tBSO_OWNERSHIP as string,\n\t\tPOST_CODE as string,\n\t\tPOBOX as string,\n\t\tCITY_REGION as string,\n\t\tCATEGORY as string,\n\t\tCONFIDENTIAL as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tOTHER_EMAILS as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_INFORMATION as string,\n\t\tMAILING_ADDRESS_STREET1 as string,\n\t\tMAILING_ADDRESS_STREET2 as string,\n\t\tMAILING_ADDRESS_CITY as string,\n\t\tMAILING_STATE_PROVICE as string,\n\t\tMAILING_POST_CODE as string,\n\t\tMAILING_COUNTRY as string,\n\t\tMAILING_FORMAT_UN as string,\n\t\tFIRM_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tENTITY_ID = EXIST_ENTITY_ID,\n\t\tVERSION_NO,\n\t\tENTITY_NAME,\n\t\tADDRESS,\n\t\tFIRM_ID,\n\t\tBATCH_ID,\n\t\tSOURCE,\n\t\tUPDATED_BY,\n\t\tDATE_UPDATED\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> UpdDIMENTITY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MART_DIM_ENTITY')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MART_DIM_ENTITY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ENTITY_SR_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ENTITY_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "VERSION_NO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ENTITY_NAME",
						"type": "varchar"
					},
					{
						"name": "ENTITY_EMAIL_DOMAIN_NAME",
						"type": "varchar"
					},
					{
						"name": "ADDRESS",
						"type": "varchar"
					},
					{
						"name": "CITY",
						"type": "varchar"
					},
					{
						"name": "REGION",
						"type": "varchar"
					},
					{
						"name": "PHONE NUMBER",
						"type": "varchar"
					},
					{
						"name": "WEBSITE",
						"type": "varchar"
					},
					{
						"name": "TWITTER",
						"type": "varchar"
					},
					{
						"name": "LINKEDIN",
						"type": "varchar"
					},
					{
						"name": "BSO_OWNERSHIP",
						"type": "varchar"
					},
					{
						"name": "POST_CODE",
						"type": "varchar"
					},
					{
						"name": "POBOX",
						"type": "varchar"
					},
					{
						"name": "CITY_REGION",
						"type": "varchar"
					},
					{
						"name": "CATEGORY",
						"type": "varchar"
					},
					{
						"name": "CONFIDENTIAL",
						"type": "varchar"
					},
					{
						"name": "SOCIAL_MEDIA",
						"type": "varchar"
					},
					{
						"name": "OTHER_EMAILS",
						"type": "varchar"
					},
					{
						"name": "OTHER_PHONE_NUMBERS",
						"type": "varchar"
					},
					{
						"name": "OTHER_INFORMATION",
						"type": "varchar"
					},
					{
						"name": "MAILING_ADDRESS_STREET1",
						"type": "varchar"
					},
					{
						"name": "MAILING_ADDRESS_STREET2",
						"type": "varchar"
					},
					{
						"name": "MAILING_ADDRESS_CITY",
						"type": "varchar"
					},
					{
						"name": "MAILING_STATE_PROVICE",
						"type": "varchar"
					},
					{
						"name": "MAILING_POST_CODE",
						"type": "varchar"
					},
					{
						"name": "MAILING_COUNTRY",
						"type": "varchar"
					},
					{
						"name": "MAILING_FORMAT_UN",
						"type": "varchar"
					},
					{
						"name": "FIRM_ID",
						"type": "varchar"
					},
					{
						"name": "BATCH_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SOURCE",
						"type": "varchar"
					},
					{
						"name": "CREATED_BY",
						"type": "varchar"
					},
					{
						"name": "UPDATED_BY",
						"type": "varchar"
					},
					{
						"name": "DATE_CREATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DATE_UPDATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "MART_OWNER",
					"table": "DIM_ENTITY"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MART_DIM_SURVEY_DETAILS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SURVEY_DETAILS_SR_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RECORD_HASH_VALUE",
						"type": "varchar"
					},
					{
						"name": "INTERVIEWEE_NAME",
						"type": "varchar"
					},
					{
						"name": "INTERVIERWER_NAME",
						"type": "varchar"
					},
					{
						"name": "INTERVIEEE_TELEPHONE",
						"type": "varchar"
					},
					{
						"name": "INTERVIEWEE_POSITION",
						"type": "varchar"
					},
					{
						"name": "INTERVIEWEE_EMAIL",
						"type": "varchar"
					},
					{
						"name": "SUPERVISOR_NAME",
						"type": "varchar"
					},
					{
						"name": "TIME_INTERVIEW_STARTED",
						"type": "varchar"
					},
					{
						"name": "TIME_INTERVIEW_ENDED",
						"type": "varchar"
					},
					{
						"name": "INTERVIEW_DURATION",
						"type": "varchar"
					},
					{
						"name": "INTERVIEW_KEY",
						"type": "varchar"
					},
					{
						"name": "INTERVIEW_ID",
						"type": "varchar"
					},
					{
						"name": "BATCH_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SOURCE",
						"type": "varchar"
					},
					{
						"name": "CREATED_BY",
						"type": "varchar"
					},
					{
						"name": "UPDATED_BY",
						"type": "varchar"
					},
					{
						"name": "DATE_CREATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DATE_UPDATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "MART_OWNER",
					"table": "DIM_SURVEY_DETAILS"
				}
			},
			"dependsOn": []
		}
	]
}