vgITCADF/PartialArmTemplates/ArmTemplate_5_29_2020_16_0_24.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "vgITCADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PIP_NTF_DWH_MART')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Filter Dir",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get NTF Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get NTF Files').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Delete Old Stage Data",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DWH_STAGE",
								"type": "DatasetReference",
								"parameters": {
									"P_FILE_NAME": "NTF.csv"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": false
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter Dir",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Dir').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set FILE NAME",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "MergeFiles"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DWH_READ",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DWH_STAGE",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": "NTF.csv"
											}
										}
									]
								},
								{
									"name": "Set FILE NAME",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_FILE_NAME",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Get NTF Files",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Delete Old Stage Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DWH_READ",
								"type": "DatasetReference",
								"parameters": {
									"P_FILE_NAME": "*.csv",
									"P_PATH": "NTF"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"variables": {
					"V_FILE_NAME": {
						"type": "String"
					},
					"V_PATH": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DWH_STAGE')]",
				"[concat(variables('factoryId'), '/datasets/DWH_READ')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_READ')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"P_FILE_NAME": {
						"type": "string"
					},
					"P_PATH": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().P_FILE_NAME",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().P_PATH",
							"type": "Expression"
						},
						"fileSystem": "target"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID|Context|FirmID|Date of data collection|Country|interviewkey|interviewid|A01|A02|A03|A04|A06|A07|A09|A10|A11|A12|A13|B01|B03|B17|BA03|BA04|BA07|BA08|BA11|BA12|BA13|BA14|BA15|BB02|BB08|BB09|BC03|BC04|C04|C05|DA01|DB01|DB02|DB03|FILE_NAME|LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_STAGE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"P_FILE_NAME": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().P_FILE_NAME",
							"type": "Expression"
						},
						"folderPath": "STAGE",
						"fileSystem": "target"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "FirmID",
						"type": "String"
					},
					{
						"name": "Date of data collection",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "interviewkey",
						"type": "String"
					},
					{
						"name": "interviewid",
						"type": "String"
					},
					{
						"name": "A01",
						"type": "String"
					},
					{
						"name": "A02",
						"type": "String"
					},
					{
						"name": "A03",
						"type": "String"
					},
					{
						"name": "A04",
						"type": "String"
					},
					{
						"name": "A06",
						"type": "String"
					},
					{
						"name": "A07",
						"type": "String"
					},
					{
						"name": "A09",
						"type": "String"
					},
					{
						"name": "A10",
						"type": "String"
					},
					{
						"name": "A11",
						"type": "String"
					},
					{
						"name": "A12",
						"type": "String"
					},
					{
						"name": "A13",
						"type": "String"
					},
					{
						"name": "B01",
						"type": "String"
					},
					{
						"name": "B03",
						"type": "String"
					},
					{
						"name": "B17",
						"type": "String"
					},
					{
						"name": "BA03",
						"type": "String"
					},
					{
						"name": "BA04",
						"type": "String"
					},
					{
						"name": "BA07",
						"type": "String"
					},
					{
						"name": "BA08",
						"type": "String"
					},
					{
						"name": "BA11",
						"type": "String"
					},
					{
						"name": "BA12",
						"type": "String"
					},
					{
						"name": "BA13",
						"type": "String"
					},
					{
						"name": "BA14",
						"type": "String"
					},
					{
						"name": "BA15",
						"type": "String"
					},
					{
						"name": "BB02",
						"type": "String"
					},
					{
						"name": "BB08",
						"type": "String"
					},
					{
						"name": "BB09",
						"type": "String"
					},
					{
						"name": "BC03",
						"type": "String"
					},
					{
						"name": "BC04",
						"type": "String"
					},
					{
						"name": "C04",
						"type": "String"
					},
					{
						"name": "C05",
						"type": "String"
					},
					{
						"name": "DA01",
						"type": "String"
					},
					{
						"name": "DB01",
						"type": "String"
					},
					{
						"name": "DB02",
						"type": "String"
					},
					{
						"name": "DB03",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		}
	]
}