vgITCADF/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "vgITCADF"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://vgtestadlsgen2.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_OLAC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "OLAC",
						"fileSystem": "target"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "Type of training",
						"type": "String"
					},
					{
						"name": "Course_name",
						"type": "String"
					},
					{
						"name": "Area of change",
						"type": "String"
					},
					{
						"name": "Service theme 1",
						"type": "String"
					},
					{
						"name": "Service theme 2",
						"type": "String"
					},
					{
						"name": "Date of data collection",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "First name",
						"type": "String"
					},
					{
						"name": "Last name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Name of the entity",
						"type": "String"
					},
					{
						"name": "Type of entity",
						"type": "String"
					},
					{
						"name": "Sub-type of entity",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "ISIC code division",
						"type": "String"
					},
					{
						"name": "HS 6 digit code (if available)",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_SHE_TRADES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "SHE_TRADE",
						"fileSystem": "target"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "Type of platform",
						"type": "String"
					},
					{
						"name": "SheTrades Project",
						"type": "String"
					},
					{
						"name": "Date of data collection",
						"type": "String"
					},
					{
						"name": "First name",
						"type": "String"
					},
					{
						"name": "Last name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Job title",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Organization/ Company name",
						"type": "String"
					},
					{
						"name": "Type of entity",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "ISIC",
						"type": "String"
					},
					{
						"name": "Please select the area of your activity",
						"type": "String"
					},
					{
						"name": "HS",
						"type": "String"
					},
					{
						"name": "Owner/ top manager gender",
						"type": "String"
					},
					{
						"name": "Owner/ top manager age",
						"type": "String"
					},
					{
						"name": "Type of event",
						"type": "String"
					},
					{
						"name": "Phone number",
						"type": "String"
					},
					{
						"name": "Registration Date",
						"type": "String"
					},
					{
						"name": "Submission Date",
						"type": "String"
					},
					{
						"name": "Middle name",
						"type": "String"
					},
					{
						"name": "Date of birth",
						"type": "String"
					},
					{
						"name": "Sub-type of entity",
						"type": "String"
					},
					{
						"name": "BSO ownership",
						"type": "String"
					},
					{
						"name": "Office Address",
						"type": "String"
					},
					{
						"name": "Post Code",
						"type": "String"
					},
					{
						"name": "Website",
						"type": "String"
					},
					{
						"name": "Twitter",
						"type": "String"
					},
					{
						"name": "LinkedIn",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_WEDF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "WEDF",
						"fileSystem": "target"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "Type of event",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Phone number",
						"type": "String"
					},
					{
						"name": "Registration Date",
						"type": "String"
					},
					{
						"name": "Submission Date",
						"type": "String"
					},
					{
						"name": "Last name",
						"type": "String"
					},
					{
						"name": "Middle name",
						"type": "String"
					},
					{
						"name": "First name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Date of birth",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Organization/ Company name",
						"type": "String"
					},
					{
						"name": "Job title",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Type of entity",
						"type": "String"
					},
					{
						"name": "Sub-type of entity",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "BSO ownership",
						"type": "String"
					},
					{
						"name": "Office Address",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Post Code",
						"type": "String"
					},
					{
						"name": "Website",
						"type": "String"
					},
					{
						"name": "Twitter",
						"type": "String"
					},
					{
						"name": "LinkedIn",
						"type": "String"
					},
					{
						"name": "Date of birth2",
						"type": "String"
					},
					{
						"name": "Country of Residence",
						"type": "String"
					},
					{
						"name": "Nationality",
						"type": "String"
					},
					{
						"name": "Address",
						"type": "String"
					},
					{
						"name": "Cityname",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RAW_SRC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"P_FILE_NAME": {
						"type": "string"
					},
					"P_PATH": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().P_FILE_NAME",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().P_PATH",
							"type": "Expression"
						},
						"fileSystem": "source"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "Type of event",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Registration Date",
						"type": "String"
					},
					{
						"name": "Last name",
						"type": "String"
					},
					{
						"name": "Middle name",
						"type": "String"
					},
					{
						"name": "First name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Date of birth2",
						"type": "String"
					},
					{
						"name": "Country of Residence",
						"type": "String"
					},
					{
						"name": "Nationality",
						"type": "String"
					},
					{
						"name": "Organization/ Company name",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Job title",
						"type": "String"
					},
					{
						"name": "Type of entity",
						"type": "String"
					},
					{
						"name": "Sub-type of entity",
						"type": "String"
					},
					{
						"name": "Address",
						"type": "String"
					},
					{
						"name": "Cityname",
						"type": "String"
					},
					{
						"name": "Post Code",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Phone number",
						"type": "String"
					},
					{
						"name": "Website",
						"type": "String"
					},
					{
						"name": "Twitter",
						"type": "String"
					},
					{
						"name": "LinkedIn",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STAGE_OLAC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "OLAC.csv",
						"folderPath": "STAGE",
						"fileSystem": "source"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "Type of training",
						"type": "String"
					},
					{
						"name": "Course_name",
						"type": "String"
					},
					{
						"name": "Area of change",
						"type": "String"
					},
					{
						"name": "Service theme 1",
						"type": "String"
					},
					{
						"name": "Service theme 2",
						"type": "String"
					},
					{
						"name": "Date of data collection",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "First name",
						"type": "String"
					},
					{
						"name": "Last name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Name of the entity",
						"type": "String"
					},
					{
						"name": "Type of entity",
						"type": "String"
					},
					{
						"name": "Sub-type of entity",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "ISIC code division",
						"type": "String"
					},
					{
						"name": "HS 6 digit code (if available)",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STAGE_SHE_TRADES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "SHE_TRADES.csv",
						"folderPath": "STAGE",
						"fileSystem": "source"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "Type of platform",
						"type": "String"
					},
					{
						"name": "SheTrades Project",
						"type": "String"
					},
					{
						"name": "Date of data collection",
						"type": "String"
					},
					{
						"name": "First name",
						"type": "String"
					},
					{
						"name": "Last name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Job title",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Organization/ Company name",
						"type": "String"
					},
					{
						"name": "Type of entity",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "ISIC",
						"type": "String"
					},
					{
						"name": "Please select the area of your activity",
						"type": "String"
					},
					{
						"name": "HS",
						"type": "String"
					},
					{
						"name": "Owner/ top manager gender",
						"type": "String"
					},
					{
						"name": "Owner/ top manager age",
						"type": "String"
					},
					{
						"name": "Type of event",
						"type": "String"
					},
					{
						"name": "Phone number",
						"type": "String"
					},
					{
						"name": "Registration Date",
						"type": "String"
					},
					{
						"name": "Submission Date",
						"type": "String"
					},
					{
						"name": "Middle name",
						"type": "String"
					},
					{
						"name": "Date of birth",
						"type": "String"
					},
					{
						"name": "Sub-type of entity",
						"type": "String"
					},
					{
						"name": "BSO ownership",
						"type": "String"
					},
					{
						"name": "Office Address",
						"type": "String"
					},
					{
						"name": "Post Code",
						"type": "String"
					},
					{
						"name": "Website",
						"type": "String"
					},
					{
						"name": "Twitter",
						"type": "String"
					},
					{
						"name": "LinkedIn",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STAGE_WEDF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "WEDF.csv",
						"folderPath": "STAGE",
						"fileSystem": "source"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "Type of event",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Phone number",
						"type": "String"
					},
					{
						"name": "Registration Date",
						"type": "String"
					},
					{
						"name": "Submission Date",
						"type": "String"
					},
					{
						"name": "Last name",
						"type": "String"
					},
					{
						"name": "Middle name",
						"type": "String"
					},
					{
						"name": "First name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Date of birth",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Organization/ Company name",
						"type": "String"
					},
					{
						"name": "Job title",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Type of entity",
						"type": "String"
					},
					{
						"name": "Sub-type of entity",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "BSO ownership",
						"type": "String"
					},
					{
						"name": "Office Address",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Post Code",
						"type": "String"
					},
					{
						"name": "Website",
						"type": "String"
					},
					{
						"name": "Twitter",
						"type": "String"
					},
					{
						"name": "LinkedIn",
						"type": "String"
					},
					{
						"name": "Date of birth2",
						"type": "String"
					},
					{
						"name": "Country of Residence",
						"type": "String"
					},
					{
						"name": "Nationality",
						"type": "String"
					},
					{
						"name": "Address",
						"type": "String"
					},
					{
						"name": "Cityname",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_OLAC_STAGE_DWH_LAKE')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "STAGE_OLAC",
								"type": "DatasetReference"
							},
							"name": "SrcStageOLAC"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DWH_OLAC",
								"type": "DatasetReference"
							},
							"name": "DWHOLAC"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "parameters{\n\tP_DWH_FILE_NAME as string\n}\nsource(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of training} as string,\n\t\tCourse_name as string,\n\t\t{Area of change} as string,\n\t\t{Service theme 1} as string,\n\t\t{Service theme 2} as string,\n\t\t{Date of data collection} as string,\n\t\tLocation as string,\n\t\t{First name} as string,\n\t\t{Last name} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\t{Professional status} as string,\n\t\t{Name of the entity} as string,\n\t\t{Type of entity} as string,\n\t\t{Sub-type of entity} as string,\n\t\tCountry as string,\n\t\tSize as string,\n\t\t{ISIC code division} as string,\n\t\t{HS 6 digit code (if available)} as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcStageOLAC\nSrcStageOLAC derive({Year of birth} = case({Year of birth}=='N/A', \r\n'',\r\niif(toInteger({Year of birth}) < year(currentUTC()), '', {Year of birth})\r\n),\n\t\tNEW_DATALAKE_FILE = 'OLAC/'+replace($P_DWH_FILE_NAME, '.csv', '_'+toString(currentTimestamp(),'YYYYMMdd_HHmmss')+'.csv')) ~> DerivedColumn1\nDerivedColumn1 sink(input(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of training} as string,\n\t\tCourse_name as string,\n\t\t{Area of change} as string,\n\t\t{Service theme 1} as string,\n\t\t{Service theme 2} as string,\n\t\t{Date of data collection} as string,\n\t\tLocation as string,\n\t\t{First name} as string,\n\t\t{Last name} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\t{Professional status} as string,\n\t\t{Name of the entity} as string,\n\t\t{Type of entity} as string,\n\t\t{Sub-type of entity} as string,\n\t\tCountry as string,\n\t\tSize as string,\n\t\t{ISIC code division} as string,\n\t\t{HS 6 digit code (if available)} as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn:'NEW_DATALAKE_FILE') ~> DWHOLAC"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/STAGE_OLAC')]",
				"[concat(variables('factoryId'), '/datasets/DWH_OLAC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_SHE_TRADES_STAGE_DWH_LAKE')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "STAGE_SHE_TRADES",
								"type": "DatasetReference"
							},
							"name": "SrcStageSheTrades"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DWH_SHE_TRADES",
								"type": "DatasetReference"
							},
							"name": "DWHSHETRADES"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "parameters{\n\tP_DWH_FILE_NAME as string\n}\nsource(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of platform} as string,\n\t\t{SheTrades Project} as string,\n\t\t{Date of data collection} as string,\n\t\t{First name} as string,\n\t\t{Last name} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\tCountry as string,\n\t\tEmail as string,\n\t\t{Job title} as string,\n\t\t{Professional status} as string,\n\t\t{Organization/ Company name} as string,\n\t\t{Type of entity} as string,\n\t\tCity as string,\n\t\tSize as string,\n\t\tISIC as string,\n\t\t{Please select the area of your activity} as string,\n\t\tHS as string,\n\t\t{Owner/ top manager gender} as string,\n\t\t{Owner/ top manager age} as string,\n\t\t{Type of event} as string,\n\t\t{Phone number} as string,\n\t\t{Registration Date} as string,\n\t\t{Submission Date} as string,\n\t\t{Middle name} as string,\n\t\t{Date of birth} as string,\n\t\t{Sub-type of entity} as string,\n\t\t{BSO ownership} as string,\n\t\t{Office Address} as string,\n\t\t{Post Code} as string,\n\t\tWebsite as string,\n\t\tTwitter as string,\n\t\tLinkedIn as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcStageSheTrades\nSrcStageSheTrades derive({Year of birth} = iif(toInteger({Year of birth}) < year(currentUTC()), '', {Year of birth}),\n\t\tNEW_DATALAKE_FILE = 'SHE_TRADES/'+replace($P_DWH_FILE_NAME, '.csv', '_'+toString(currentTimestamp(),'YYYYMMdd_HHmmss')+'.csv')) ~> DerivedColumn1\nDerivedColumn1 sink(input(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of platform} as string,\n\t\t{SheTrades Project} as string,\n\t\t{Date of data collection} as string,\n\t\t{First name} as string,\n\t\t{Last name} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\tCountry as string,\n\t\tEmail as string,\n\t\t{Job title} as string,\n\t\t{Professional status} as string,\n\t\t{Organization/ Company name} as string,\n\t\t{Type of entity} as string,\n\t\tCity as string,\n\t\tSize as string,\n\t\tISIC as string,\n\t\t{Please select the area of your activity} as string,\n\t\tHS as string,\n\t\t{Owner/ top manager gender} as string,\n\t\t{Owner/ top manager age} as string,\n\t\t{Type of event} as string,\n\t\t{Phone number} as string,\n\t\t{Registration Date} as string,\n\t\t{Submission Date} as string,\n\t\t{Middle name} as string,\n\t\t{Date of birth} as string,\n\t\t{Sub-type of entity} as string,\n\t\t{BSO ownership} as string,\n\t\t{Office Address} as string,\n\t\t{Post Code} as string,\n\t\tWebsite as string,\n\t\tTwitter as string,\n\t\tLinkedIn as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn:'NEW_DATALAKE_FILE') ~> DWHSHETRADES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/STAGE_SHE_TRADES')]",
				"[concat(variables('factoryId'), '/datasets/DWH_SHE_TRADES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_WEDF_STAGE_DWH_LAKE')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "STAGE_WEDF",
								"type": "DatasetReference"
							},
							"name": "SrcStageWEDF"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DWH_WEDF",
								"type": "DatasetReference"
							},
							"name": "DWHWEDF"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "parameters{\n\tP_DWH_FILE_NAME as string\n}\nsource(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of event} as string,\n\t\tEmail as string,\n\t\t{Phone number} as string,\n\t\t{Registration Date} as string,\n\t\t{Submission Date} as string,\n\t\t{Last name} as string,\n\t\t{Middle name} as string,\n\t\t{First name} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\t{Date of birth} as string,\n\t\tCountry as string,\n\t\t{Organization/ Company name} as string,\n\t\t{Job title} as string,\n\t\t{Professional status} as string,\n\t\t{Type of entity} as string,\n\t\t{Sub-type of entity} as string,\n\t\tSize as string,\n\t\t{BSO ownership} as string,\n\t\t{Office Address} as string,\n\t\tCity as string,\n\t\t{Post Code} as string,\n\t\tWebsite as string,\n\t\tTwitter as string,\n\t\tLinkedIn as string,\n\t\t{Date of birth2} as string,\n\t\t{Country of Residence} as string,\n\t\tNationality as string,\n\t\tAddress as string,\n\t\tCityname as string,\n\t\tRegion as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcStageWEDF\nSrcStageWEDF derive(Address = replace(Address, '\\\\n',' '),\n\t\t{Office Address} = replace({Office Address}, '\\\\n',' '),\n\t\tNEW_DATALAKE_FILE = 'WEDF/'+replace($P_DWH_FILE_NAME, '.csv', '_'+toString(currentTimestamp(),'YYYYMMdd_HHmmss')+'.csv')) ~> DerivedColumn1\nDerivedColumn1 sink(input(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of event} as string,\n\t\tEmail as string,\n\t\t{Phone number} as string,\n\t\t{Registration Date} as string,\n\t\t{Submission Date} as string,\n\t\t{Last name} as string,\n\t\t{Middle name} as string,\n\t\t{First name} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\t{Date of birth} as string,\n\t\tCountry as string,\n\t\t{Organization/ Company name} as string,\n\t\t{Job title} as string,\n\t\t{Professional status} as string,\n\t\t{Type of entity} as string,\n\t\t{Sub-type of entity} as string,\n\t\tSize as string,\n\t\t{BSO ownership} as string,\n\t\t{Office Address} as string,\n\t\tCity as string,\n\t\t{Post Code} as string,\n\t\tWebsite as string,\n\t\tTwitter as string,\n\t\tLinkedIn as string,\n\t\t{Date of birth2} as string,\n\t\t{Country of Residence} as string,\n\t\tNationality as string,\n\t\tAddress as string,\n\t\tCityname as string,\n\t\tRegion as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn:'NEW_DATALAKE_FILE') ~> DWHWEDF"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/STAGE_WEDF')]",
				"[concat(variables('factoryId'), '/datasets/DWH_WEDF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_OLAC_SRC_DATALAKE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get OLAC Files",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Set Raw File PATH",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Loaded File Path",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Failed File Path",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "RAW_SRC",
								"type": "DatasetReference",
								"parameters": {
									"P_FILE_NAME": "*.csv",
									"P_PATH": "OLAC"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter Dir",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get OLAC Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get OLAC Files').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Raw File PATH",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_PATH",
							"value": "OLAC"
						}
					},
					{
						"name": "Set Loaded File Path",
						"description": "",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_LOADED_PATH",
							"value": "OLAC/LOADED"
						}
					},
					{
						"name": "Set Failed File Path",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_FAILED_PATH",
							"value": "OLAC/FAILED"
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter Dir",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Dir').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set FILE NAME",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_FILE_NAME",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy SHE TRADES RAW To STAGE",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set FILE NAME",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "FILE_NAME",
													"value": {
														"value": "@variables('V_FAILED_PATH')",
														"type": "Expression"
													}
												},
												{
													"name": "LOAD_TIMESTAMP",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "STAGE_OLAC",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "DF_OLAC_STAGE_DWH_LAKE",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Copy SHE TRADES RAW To STAGE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DF_OLAC_STAGE_DWH_LAKE",
											"type": "DataFlowReference",
											"parameters": {
												"P_DWH_FILE_NAME": {
													"value": "'@{variables('V_FILE_NAME')}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"SrcStageOLAC": {},
												"DWHOLAC": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										}
									}
								},
								{
									"name": "Copy Failed Files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy SHE TRADES RAW To STAGE",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": "@variables('V_FILE_NAME')",
												"P_PATH": {
													"value": "@variables('V_FAILED_PATH')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete Failed Files from Landing",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Failed Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Copy Failed Files_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "DF_OLAC_STAGE_DWH_LAKE",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": "@variables('V_FILE_NAME')",
												"P_PATH": {
													"value": "@variables('V_FAILED_PATH')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete Failed Files from Landing_copy1",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Failed Files_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Delete Loaded Files from Landing",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Loaded Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Copy Loaded Files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "DF_OLAC_STAGE_DWH_LAKE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": "@variables('V_FILE_NAME')",
												"P_PATH": {
													"value": "@variables('V_LOADED_PATH')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"variables": {
					"V_FILE_NAME": {
						"type": "String"
					},
					"V_DWH_FILE_NAME": {
						"type": "String"
					},
					"V_FAILED_PATH": {
						"type": "String"
					},
					"V_LOADED_PATH": {
						"type": "String"
					},
					"V_PATH": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RAW_SRC')]",
				"[concat(variables('factoryId'), '/datasets/STAGE_OLAC')]",
				"[concat(variables('factoryId'), '/dataflows/DF_OLAC_STAGE_DWH_LAKE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_SHE_TRADE_SRC_DATALAKE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get SHE TRADES Files",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Set Failed File Path",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Loaded File Path",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Raw File PATH",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "RAW_SRC",
								"type": "DatasetReference",
								"parameters": {
									"P_FILE_NAME": "*.csv",
									"P_PATH": "SHE_TRADES"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter Dir",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get SHE TRADES Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get SHE TRADES Files').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Failed File Path",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_FAILED_PATH",
							"value": "SHE_TRADES/FAILED"
						}
					},
					{
						"name": "Set Loaded File Path",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_LOADED_PATH",
							"value": "SHE_TRADES/LOADED"
						}
					},
					{
						"name": "Set Raw File PATH",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_PATH",
							"value": "SHE_TRADES"
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter Dir",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Dir').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set FILE NAME",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_FILE_NAME",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy SHE TRADES RAW To STAGE",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set FILE NAME",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "FILE_NAME",
													"value": {
														"value": "@variables('V_FILE_NAME')",
														"type": "Expression"
													}
												},
												{
													"name": "LOAD_TIMESTAMP",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "STAGE_SHE_TRADES",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Copy Failed Files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "DF_SHE_TRADES_STAGE_DWH_LAKE",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": "@variables('V_FILE_NAME')",
												"P_PATH": {
													"value": "@variables('V_FAILED_PATH')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete Failed Files from Landing",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Failed Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "DF_SHE_TRADES_STAGE_DWH_LAKE",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Copy SHE TRADES RAW To STAGE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DF_SHE_TRADES_STAGE_DWH_LAKE",
											"type": "DataFlowReference",
											"parameters": {
												"P_DWH_FILE_NAME": {
													"value": "'@{variables('V_FILE_NAME')}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"SrcStageSheTrades": {},
												"DWHSHETRADES": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										}
									}
								},
								{
									"name": "Copy Failed Files_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy SHE TRADES RAW To STAGE",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": "@variables('V_FILE_NAME')",
												"P_PATH": {
													"value": "@variables('V_FAILED_PATH')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete Failed Files from Landing_copy1",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Failed Files_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Delete Loaded Files from Landing",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Loaded Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Copy Loaded Files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "DF_SHE_TRADES_STAGE_DWH_LAKE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": "@variables('V_FILE_NAME')",
												"P_PATH": {
													"value": "@variables('V_LOADED_PATH')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"variables": {
					"V_FILE_NAME": {
						"type": "String"
					},
					"V_DWH_FILE_NAME": {
						"type": "String"
					},
					"V_FAILED_PATH": {
						"type": "String"
					},
					"V_LOADED_PATH": {
						"type": "String"
					},
					"V_PATH": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RAW_SRC')]",
				"[concat(variables('factoryId'), '/datasets/STAGE_SHE_TRADES')]",
				"[concat(variables('factoryId'), '/dataflows/DF_SHE_TRADES_STAGE_DWH_LAKE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_WEDF_SCR_DATALAKE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get WEDF Files",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Set Raw File PATH",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Loaded File Path",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Failed File Path",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "RAW_SRC",
								"type": "DatasetReference",
								"parameters": {
									"P_FILE_NAME": "*.csv",
									"P_PATH": "WEDF"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter Dir",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Dir').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy WEDF RAW To STAGE",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set DWH FILE NAME",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "FILE_NAME",
													"value": {
														"value": "@variables('V_FILE_NAME')",
														"type": "Expression"
													}
												},
												{
													"name": "LOAD_TIMESTAMP",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "STAGE_WEDF",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "DF_WEDF_STAGE_DWH_LAKE",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Copy WEDF RAW To STAGE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DF_WEDF_STAGE_DWH_LAKE",
											"type": "DataFlowReference",
											"parameters": {
												"P_DWH_FILE_NAME": {
													"value": "'@{variables('V_FILE_NAME')}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"SrcStageWEDF": {},
												"DWHWEDF": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										}
									}
								},
								{
									"name": "Set DWH FILE NAME",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set FILE NAME",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_DWH_FILE_NAME",
										"value": {
											"value": "@replace(variables('V_FILE_NAME'),'.csv','_20200527.csv')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy Failed Files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy WEDF RAW To STAGE",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "FILE_NAME",
													"value": {
														"value": "@variables('V_FILE_NAME')",
														"type": "Expression"
													}
												},
												{
													"name": "LOAD_TIMESTAMP",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": "@variables('V_FILE_NAME')",
												"P_PATH": {
													"value": "@variables('V_FAILED_PATH')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete Failed Files from Landing",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Failed Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Copy Failed Files_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "DF_WEDF_STAGE_DWH_LAKE",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "FILE_NAME",
													"value": {
														"value": "@variables('V_FILE_NAME')",
														"type": "Expression"
													}
												},
												{
													"name": "LOAD_TIMESTAMP",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": "@variables('V_FILE_NAME')",
												"P_PATH": {
													"value": "@variables('V_FAILED_PATH')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete Failed Files from Landing_copy1",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Failed Files_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Copy Loaded Files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "DF_WEDF_STAGE_DWH_LAKE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "FILE_NAME",
													"value": {
														"value": "@variables('V_FILE_NAME')",
														"type": "Expression"
													}
												},
												{
													"name": "LOAD_TIMESTAMP",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": "@variables('V_FILE_NAME')",
												"P_PATH": {
													"value": "@variables('V_LOADED_PATH')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete Failed Files from Landing_copy1_copy1",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Loaded Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Set FILE NAME",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_FILE_NAME",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Filter Dir",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get WEDF Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get WEDF Files').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Failed File Path",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_FILE_NAME",
							"value": {
								"value": "WEDF/FAILED",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Loaded File Path",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_LOADED_PATH",
							"value": {
								"value": "WEDF/LOADED",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Raw File PATH",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_PATH",
							"value": {
								"value": "WEDF",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"V_FILE_NAME": {
						"type": "String"
					},
					"V_DWH_FILE_NAME": {
						"type": "String"
					},
					"V_FAILED_PATH": {
						"type": "String"
					},
					"V_LOADED_PATH": {
						"type": "String"
					},
					"V_PATH": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RAW_SRC')]",
				"[concat(variables('factoryId'), '/datasets/STAGE_WEDF')]",
				"[concat(variables('factoryId'), '/dataflows/DF_WEDF_STAGE_DWH_LAKE')]"
			]
		}
	]
}