pipeline/PIP_NTF_DWH_MART.json
{
	"name": "PIP_NTF_DWH_MART",
	"properties": {
		"activities": [
			{
				"name": "Delete Old Stage Data",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DWH_STAGE",
						"type": "DatasetReference",
						"parameters": {
							"P_FILE_NAME": "NTF.csv"
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false
					}
				}
			},
			{
				"name": "Set PATH",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_PATH",
					"value": "NTF"
				}
			},
			{
				"name": "Copy NTF File to Satge",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set PATH",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Delete Old Stage Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": "2020-05-28T00:00:00.000Z",
							"modifiedDatetimeEnd": "2020-05-30T00:00:00.000Z",
							"wildcardFolderPath": {
								"value": "@variables('V_PATH')",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ProjectID",
									"type": "String"
								},
								"sink": {
									"name": "ProjectID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Context",
									"type": "String"
								},
								"sink": {
									"name": "Context",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FirmID",
									"type": "String"
								},
								"sink": {
									"name": "FirmID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Date of data collection",
									"type": "String"
								},
								"sink": {
									"name": "Date of data collection",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String"
								},
								"sink": {
									"name": "Country",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "interviewkey",
									"type": "String"
								},
								"sink": {
									"name": "interviewkey",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "interviewid",
									"type": "String"
								},
								"sink": {
									"name": "interviewid",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "A01",
									"type": "String"
								},
								"sink": {
									"name": "A01",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "A02",
									"type": "String"
								},
								"sink": {
									"name": "A02",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "A03",
									"type": "String"
								},
								"sink": {
									"name": "A03",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "A04",
									"type": "String"
								},
								"sink": {
									"name": "A04",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "A06",
									"type": "String"
								},
								"sink": {
									"name": "A06",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "A07",
									"type": "String"
								},
								"sink": {
									"name": "A07",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "A09",
									"type": "String"
								},
								"sink": {
									"name": "A09",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "A10",
									"type": "String"
								},
								"sink": {
									"name": "A10",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "A11",
									"type": "String"
								},
								"sink": {
									"name": "A11",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "A12",
									"type": "String"
								},
								"sink": {
									"name": "A12",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "A13",
									"type": "String"
								},
								"sink": {
									"name": "A13",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "B01",
									"type": "String"
								},
								"sink": {
									"name": "B01",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "B03",
									"type": "String"
								},
								"sink": {
									"name": "B03",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "B17",
									"type": "String"
								},
								"sink": {
									"name": "B17",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BA03",
									"type": "String"
								},
								"sink": {
									"name": "BA03",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BA04",
									"type": "String"
								},
								"sink": {
									"name": "BA04",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BA07",
									"type": "String"
								},
								"sink": {
									"name": "BA07",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BA08",
									"type": "String"
								},
								"sink": {
									"name": "BA08",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BA11",
									"type": "String"
								},
								"sink": {
									"name": "BA11",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BA12",
									"type": "String"
								},
								"sink": {
									"name": "BA12",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BA13",
									"type": "String"
								},
								"sink": {
									"name": "BA13",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BA14",
									"type": "String"
								},
								"sink": {
									"name": "BA14",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BA15",
									"type": "String"
								},
								"sink": {
									"name": "BA15",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BB02",
									"type": "String"
								},
								"sink": {
									"name": "BB02",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BB08",
									"type": "String"
								},
								"sink": {
									"name": "BB08",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BB09",
									"type": "String"
								},
								"sink": {
									"name": "BB09",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BC03",
									"type": "String"
								},
								"sink": {
									"name": "BC03",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BC04",
									"type": "String"
								},
								"sink": {
									"name": "BC04",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "C04",
									"type": "String"
								},
								"sink": {
									"name": "C04",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "C05",
									"type": "String"
								},
								"sink": {
									"name": "C05",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DA01",
									"type": "String"
								},
								"sink": {
									"name": "DA01",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DB01",
									"type": "String"
								},
								"sink": {
									"name": "DB01",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DB02",
									"type": "String"
								},
								"sink": {
									"name": "DB02",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DB03",
									"type": "String"
								},
								"sink": {
									"name": "DB03",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FILE_NAME",
									"type": "String"
								},
								"sink": {
									"name": "FILE_NAME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LOAD_TIMESTAMP",
									"type": "String"
								},
								"sink": {
									"name": "LOAD_TIMESTAMP",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DWH_READ",
						"type": "DatasetReference",
						"parameters": {
							"P_FILE_NAME": "*.*",
							"P_PATH": {
								"value": "@variables('V_PATH')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DWH_STAGE",
						"type": "DatasetReference",
						"parameters": {
							"P_FILE_NAME": "NTF.csv"
						}
					}
				]
			},
			{
				"name": "DF_NFT_UNPIVOT",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy NTF File to Satge",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_NFT_UNPIVOT",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SrcSTGNTR": {
								"P_FILE_NAME": "NTF_2.csv"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			},
			{
				"name": "DF_DIM_SURVEY_DETAILS",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy NTF File to Satge",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "TestDIM",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SrcNTF": {
								"P_FILE_NAME": "NTF.csv"
							},
							"ExistingDIM": {
								"P_TABLE_NAME": "DIM_SURVEY_DETAILS"
							},
							"DIMSURVEYDETAILS": {
								"P_TABLE_NAME": "DIM_SURVEY_DETAILS"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			}
		],
		"variables": {
			"V_FILE_NAME": {
				"type": "String"
			},
			"V_PATH": {
				"type": "String"
			}
		},
		"annotations": []
	}
}