pipeline/PIP_SHE_TRADES_DWH_MART.json
{
	"name": "PIP_SHE_TRADES_DWH_MART",
	"properties": {
		"activities": [
			{
				"name": "Delete Old Stage Data",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DWH_STAGE",
						"type": "DatasetReference",
						"parameters": {
							"P_FILE_NAME": "ALL_COL_FILE.csv"
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false
					}
				}
			},
			{
				"name": "Copy SHE TRADE File to Satge",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Delete Old Stage Data",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": "2020-05-25T00:00:00.000Z",
							"modifiedDatetimeEnd": "2020-05-31T23:00:00.000Z",
							"wildcardFolderPath": {
								"value": "@variables('V_PATH')",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DWH_READ",
						"type": "DatasetReference",
						"parameters": {
							"P_FILE_NAME": "*.*",
							"P_PATH": {
								"value": "@variables('V_PATH')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DWH_STAGE",
						"type": "DatasetReference",
						"parameters": {
							"P_FILE_NAME": "SHE_TRADES.csv"
						}
					}
				]
			},
			{
				"name": "Set Path",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_PATH",
					"value": "SHE_TRADES"
				}
			},
			{
				"name": "DF_SHE_TRADES_DIM_ENTITY",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy SHE TRADE File to Satge",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_SHE_TRADES_DIM_ENTITY",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SrcSheTrades": {
								"P_FILE_NAME": "SHE_TRADES.csv"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			}
		],
		"variables": {
			"V_FILE_NAME": {
				"type": "String"
			},
			"V_PATH": {
				"type": "String"
			}
		},
		"annotations": []
	}
}