pipeline/PIP_WEDF_DWH_MART.json
{
	"name": "PIP_WEDF_DWH_MART",
	"properties": {
		"activities": [
			{
				"name": "GetPipelineRunInfo",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start the Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT R.PERIOD_START,R.PERIOD_END,R.SNAP_DATE,R.BATCH_NBR,PIPELINE_NAME  FROM DWH.PIPELINE_INFO P, DWH.PIPELINE_RUNS R  WHERE P.PIPELINE_ID = R.PIPELINE_ID AND R.PIPELINE_RUN_STATUS = '1' AND P.PIPELINE_NAME = '@{pipeline().parameters.P_PIPELINE_NAME}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DWH_SQL_PARAMETER_DATASET",
						"type": "DatasetReference",
						"parameters": {
							"P_TABLE_NAME": "NULL"
						}
					}
				}
			},
			{
				"name": "Start the Pipeline",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[DWH].[PRC_DWH_START_PIPELINE]",
					"storedProcedureParameters": {
						"P_IN_PIPELINE_NAME": {
							"value": {
								"value": "@pipeline().parameters.P_PIPELINE_NAME",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set PERIOD_START",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetPipelineRunInfo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_PERIOD_START",
					"value": "@activity('GetPipelineRunInfo').output.firstRow.PERIOD_START"
				}
			},
			{
				"name": "Set PERIOD_END",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetPipelineRunInfo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_PERIOD_END",
					"value": "@activity('GetPipelineRunInfo').output.firstRow.PERIOD_END"
				}
			},
			{
				"name": "Set SNAP_DATE",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetPipelineRunInfo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_SNAP_DATE",
					"value": "@activity('GetPipelineRunInfo').output.firstRow.SNAP_DATE"
				}
			},
			{
				"name": "Set BATCH_NBR",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetPipelineRunInfo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_BATCH_NBR",
					"value": "@{activity('GetPipelineRunInfo').output.firstRow.BATCH_NBR}"
				}
			},
			{
				"name": "Get DATALAKE FILES",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set PERIOD_START",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set PERIOD_END",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set SNAP_DATE",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set BATCH_NBR",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DWH_WEDF",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"modifiedDatetimeStart": {
							"value": "@formatDateTime(variables('V_PERIOD_START'))",
							"type": "Expression"
						},
						"modifiedDatetimeEnd": {
							"value": "@formatDateTime(variables('V_PERIOD_END'))",
							"type": "Expression"
						}
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter Dir",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get DATALAKE FILES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get DATALAKE FILES').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"P_PIPELINE_NAME": {
				"type": "string",
				"defaultValue": "PIP_WEDF_DWH_MART"
			}
		},
		"variables": {
			"V_PERIOD_START": {
				"type": "String"
			},
			"V_PERIOD_END": {
				"type": "String"
			},
			"V_SNAP_DATE": {
				"type": "String"
			},
			"V_BATCH_NBR": {
				"type": "String"
			}
		},
		"annotations": []
	}
}