pipeline/PIP_OLAC_SRC_DATALAKE.json
{
	"name": "PIP_OLAC_SRC_DATALAKE",
	"properties": {
		"activities": [
			{
				"name": "Get OLAC Files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set Raw File PATH",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Loaded File Path",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Failed File Path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "RAW_SRC",
						"type": "DatasetReference",
						"parameters": {
							"P_FILE_NAME": "*.csv",
							"P_PATH": "OLAC"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter Dir",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get OLAC Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get SHE TRADES Files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Raw File PATH",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_PATH",
					"value": "OLAC"
				}
			},
			{
				"name": "Set Loaded File Path",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_LOADED_PATH",
					"value": "OLAC/LOADED"
				}
			},
			{
				"name": "Set Failed File Path",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_FAILED_PATH",
					"value": "OLAC/FAILED"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Dir",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Dir').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set FILE NAME",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_FILE_NAME",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy SHE TRADES RAW To STAGE",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set FILE NAME",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "FILE_NAME",
											"value": {
												"value": "@variables('V_FAILED_PATH')",
												"type": "Expression"
											}
										},
										{
											"name": "LOAD_TIMESTAMP",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "RAW_SRC",
									"type": "DatasetReference",
									"parameters": {
										"P_FILE_NAME": {
											"value": "@variables('V_FILE_NAME')",
											"type": "Expression"
										},
										"P_PATH": {
											"value": "@variables('V_PATH')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "STAGE_OLAC",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "DF_OLAC_STAGE_DWH_LAKE",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Copy SHE TRADES RAW To STAGE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflow1",
									"type": "DataFlowReference",
									"parameters": {
										"P_DWH_FILE_NAME": {
											"value": "'@{variables('V_FILE_NAME')}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"V_FILE_NAME": {
				"type": "String"
			},
			"V_DWH_FILE_NAME": {
				"type": "String"
			},
			"V_FAILED_PATH": {
				"type": "String"
			},
			"V_LOADED_PATH": {
				"type": "String"
			},
			"V_PATH": {
				"type": "String"
			}
		},
		"annotations": []
	}
}