pipeline/PIP_WEDF_SCR_DATALAKE.json
{
	"name": "PIP_WEDF_SCR_DATALAKE",
	"properties": {
		"activities": [
			{
				"name": "Copy WEDF RAW To STAGE",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set DWH FILE NAME",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "FILE_NAME",
								"value": {
									"value": "@variables('V_FILE_NAME')",
									"type": "Expression"
								}
							},
							{
								"name": "LOAD_TIMESTAMP",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RAW_SRC",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "STAGE_WEDF",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DF_WEDF_STAGE_DWH_LAKE",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy WEDF RAW To STAGE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_WEDF_STAGE_DWH_LAKE",
						"type": "DataFlowReference",
						"parameters": {
							"P_DWH_FILE_NAME": {
								"value": "'@{variables('V_DWH_FILE_NAME')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			},
			{
				"name": "Set DWH FILE NAME",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_DWH_FILE_NAME",
					"value": {
						"value": "@replace(variables('V_FILE_NAME'),'.csv','_20200527.csv')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"V_FILE_NAME": {
				"type": "String",
				"defaultValue": "WEDF 2019 registration data_POC_1905.csv"
			},
			"V_DWH_FILE_NAME": {
				"type": "String"
			}
		},
		"annotations": []
	}
}