DevUNITCADF/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DevUNITCADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MART_SRC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"P_TABLE_NAME": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ENTITY_SR_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ENTITY_ID",
						"type": "varchar"
					},
					{
						"name": "VERSION_NO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ENTITY_NAME",
						"type": "varchar"
					},
					{
						"name": "ENTITY_EMAIL_DOMAIN_NAME",
						"type": "varchar"
					},
					{
						"name": "ADDRESS",
						"type": "varchar"
					},
					{
						"name": "CITY",
						"type": "varchar"
					},
					{
						"name": "REGION",
						"type": "varchar"
					},
					{
						"name": "PHONE NUMBER",
						"type": "varchar"
					},
					{
						"name": "WEBSITE",
						"type": "varchar"
					},
					{
						"name": "TWITTER",
						"type": "varchar"
					},
					{
						"name": "LINKEDIN",
						"type": "varchar"
					},
					{
						"name": "BSO_OWNERSHIP",
						"type": "varchar"
					},
					{
						"name": "POST_CODE",
						"type": "varchar"
					},
					{
						"name": "POBOX",
						"type": "varchar"
					},
					{
						"name": "CITY_REGION",
						"type": "varchar"
					},
					{
						"name": "CATEGORY",
						"type": "varchar"
					},
					{
						"name": "CONFIDENTIAL",
						"type": "varchar"
					},
					{
						"name": "SOCIAL_MEDIA",
						"type": "varchar"
					},
					{
						"name": "OTHER_EMAILS",
						"type": "varchar"
					},
					{
						"name": "OTHER_PHONE_NUMBERS",
						"type": "varchar"
					},
					{
						"name": "OTHER_INFORMATION",
						"type": "varchar"
					},
					{
						"name": "MAILING_ADDRESS_STREET1",
						"type": "varchar"
					},
					{
						"name": "MAILING_ADDRESS_STREET2",
						"type": "varchar"
					},
					{
						"name": "MAILING_ADDRESS_CITY",
						"type": "varchar"
					},
					{
						"name": "MAILING_STATE_PROVICE",
						"type": "varchar"
					},
					{
						"name": "MAILING_POST_CODE",
						"type": "varchar"
					},
					{
						"name": "MAILING_COUNTRY",
						"type": "varchar"
					},
					{
						"name": "MAILING_FORMAT_UN",
						"type": "varchar"
					},
					{
						"name": "BATCH_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SOURCE",
						"type": "varchar"
					},
					{
						"name": "CREATED_BY",
						"type": "varchar"
					},
					{
						"name": "UPDATED_BY",
						"type": "varchar"
					},
					{
						"name": "DATE_CREATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DATE_UPDATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "MART_OWNER",
					"table": {
						"value": "DIM_ENTITY",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MART_TEST_NTF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"P_TABLE_NAME": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "MART_OWMER",
					"table": {
						"value": "@dataset().P_TABLE_NAME",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RAW_SRC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"P_PATH": {
						"type": "string"
					},
					"P_FILE_NAME": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().P_FILE_NAME",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().P_PATH",
							"type": "Expression"
						},
						"fileSystem": "source"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "Type of event",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Registration Date",
						"type": "String"
					},
					{
						"name": "Last name",
						"type": "String"
					},
					{
						"name": "Middle name",
						"type": "String"
					},
					{
						"name": "First name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Date of birth2",
						"type": "String"
					},
					{
						"name": "Country of Residence",
						"type": "String"
					},
					{
						"name": "Nationality",
						"type": "String"
					},
					{
						"name": "Organization/ Company name",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Job title",
						"type": "String"
					},
					{
						"name": "Type of entity",
						"type": "String"
					},
					{
						"name": "Sub-type of entity",
						"type": "String"
					},
					{
						"name": "Address",
						"type": "String"
					},
					{
						"name": "Cityname",
						"type": "String"
					},
					{
						"name": "Post Code",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Phone number",
						"type": "String"
					},
					{
						"name": "Website",
						"type": "String"
					},
					{
						"name": "Twitter",
						"type": "String"
					},
					{
						"name": "LinkedIn",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SRC_FILE_PARAMETER_DATASET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"P_FILE_NAME": {
						"type": "string"
					},
					"P_PATH": {
						"type": "string"
					},
					"P_FIELD_SEPARATOR": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().P_FILE_NAME",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().P_PATH",
							"type": "Expression"
						},
						"container": "source"
					},
					"columnDelimiter": {
						"value": "@dataset().P_FIELD_SEPARATOR",
						"type": "Expression"
					},
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Context",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STAGE_NTF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "NTF.csv",
						"folderPath": "STAGE",
						"fileSystem": "source"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "FirmID",
						"type": "String"
					},
					{
						"name": "Date of data collection",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "interviewkey",
						"type": "String"
					},
					{
						"name": "interviewid",
						"type": "String"
					},
					{
						"name": "A01",
						"type": "String"
					},
					{
						"name": "A02",
						"type": "String"
					},
					{
						"name": "A03",
						"type": "String"
					},
					{
						"name": "A04",
						"type": "String"
					},
					{
						"name": "A06",
						"type": "String"
					},
					{
						"name": "A07",
						"type": "String"
					},
					{
						"name": "A09",
						"type": "String"
					},
					{
						"name": "A10",
						"type": "String"
					},
					{
						"name": "A11",
						"type": "String"
					},
					{
						"name": "A12",
						"type": "String"
					},
					{
						"name": "A13",
						"type": "String"
					},
					{
						"name": "B01",
						"type": "String"
					},
					{
						"name": "B03",
						"type": "String"
					},
					{
						"name": "B17",
						"type": "String"
					},
					{
						"name": "BA03",
						"type": "String"
					},
					{
						"name": "BA04",
						"type": "String"
					},
					{
						"name": "BA07",
						"type": "String"
					},
					{
						"name": "BA08",
						"type": "String"
					},
					{
						"name": "BA11",
						"type": "String"
					},
					{
						"name": "BA12",
						"type": "String"
					},
					{
						"name": "BA13",
						"type": "String"
					},
					{
						"name": "BA14",
						"type": "String"
					},
					{
						"name": "BA15",
						"type": "String"
					},
					{
						"name": "BB02",
						"type": "String"
					},
					{
						"name": "BB08",
						"type": "String"
					},
					{
						"name": "BB09",
						"type": "String"
					},
					{
						"name": "BC03",
						"type": "String"
					},
					{
						"name": "BC04",
						"type": "String"
					},
					{
						"name": "C04",
						"type": "String"
					},
					{
						"name": "C05",
						"type": "String"
					},
					{
						"name": "DA01",
						"type": "String"
					},
					{
						"name": "DB01",
						"type": "String"
					},
					{
						"name": "DB02",
						"type": "String"
					},
					{
						"name": "DB03",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STAGE_OLAC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "STAGE",
						"fileSystem": "source"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "Type of training",
						"type": "String"
					},
					{
						"name": "Course_name",
						"type": "String"
					},
					{
						"name": "Area of change",
						"type": "String"
					},
					{
						"name": "Service theme 1",
						"type": "String"
					},
					{
						"name": "Service theme 2",
						"type": "String"
					},
					{
						"name": "Date of data collection",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "First name",
						"type": "String"
					},
					{
						"name": "Last name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Name of the entity",
						"type": "String"
					},
					{
						"name": "Type of entity",
						"type": "String"
					},
					{
						"name": "Sub-type of entity",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "ISIC code division",
						"type": "String"
					},
					{
						"name": "HS 6 digit code (if available)",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STAGE_SHE_TRADES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "SHE_TRADES.csv",
						"folderPath": "STAGE",
						"fileSystem": "source"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "Type of platform",
						"type": "String"
					},
					{
						"name": "SheTrades Project",
						"type": "String"
					},
					{
						"name": "Date of data collection",
						"type": "String"
					},
					{
						"name": "First name",
						"type": "String"
					},
					{
						"name": "Last name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Job title",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Organization/ Company name",
						"type": "String"
					},
					{
						"name": "Type of entity",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "ISIC",
						"type": "String"
					},
					{
						"name": "Please select the area of your activity",
						"type": "String"
					},
					{
						"name": "HS",
						"type": "String"
					},
					{
						"name": "Owner/ top manager gender",
						"type": "String"
					},
					{
						"name": "Owner/ top manager age",
						"type": "String"
					},
					{
						"name": "Type of event",
						"type": "String"
					},
					{
						"name": "Phone number",
						"type": "String"
					},
					{
						"name": "Registration Date",
						"type": "String"
					},
					{
						"name": "Submission Date",
						"type": "String"
					},
					{
						"name": "Middle name",
						"type": "String"
					},
					{
						"name": "Date of birth",
						"type": "String"
					},
					{
						"name": "Sub-type of entity",
						"type": "String"
					},
					{
						"name": "BSO ownership",
						"type": "String"
					},
					{
						"name": "Office Address",
						"type": "String"
					},
					{
						"name": "Post Code",
						"type": "String"
					},
					{
						"name": "Website",
						"type": "String"
					},
					{
						"name": "Twitter",
						"type": "String"
					},
					{
						"name": "LinkedIn",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STAGE_WEDF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "WEDF.csv",
						"folderPath": "STAGE",
						"fileSystem": "source"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "Type of event",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Phone number",
						"type": "String"
					},
					{
						"name": "Registration Date",
						"type": "String"
					},
					{
						"name": "Submission Date",
						"type": "String"
					},
					{
						"name": "Last name",
						"type": "String"
					},
					{
						"name": "Middle name",
						"type": "String"
					},
					{
						"name": "First name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Date of birth",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Organization/ Company name",
						"type": "String"
					},
					{
						"name": "Job title",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Type of entity",
						"type": "String"
					},
					{
						"name": "Sub-type of entity",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "BSO ownership",
						"type": "String"
					},
					{
						"name": "Office Address",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Post Code",
						"type": "String"
					},
					{
						"name": "Website",
						"type": "String"
					},
					{
						"name": "Twitter",
						"type": "String"
					},
					{
						"name": "LinkedIn",
						"type": "String"
					},
					{
						"name": "Date of birth2",
						"type": "String"
					},
					{
						"name": "Country of Residence",
						"type": "String"
					},
					{
						"name": "Nationality",
						"type": "String"
					},
					{
						"name": "Address",
						"type": "String"
					},
					{
						"name": "Cityname",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_FILE_LOADING')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get File Using Metadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "SRC_FILE_PARAMETER_DATASET",
								"type": "DatasetReference",
								"parameters": {
									"P_FILE_NAME": {
										"value": "@pipeline().parameters.P_FILE_NAME_FORMAT",
										"type": "Expression"
									},
									"P_PATH": {
										"value": "@pipeline().parameters.P_FILE_PATH",
										"type": "Expression"
									},
									"P_FIELD_SEPARATOR": {
										"value": "@pipeline().parameters.P_FIELD_SEPARATOR",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEachFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "File Type Filter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('File Type Filter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set Stage Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_STAGE_TABLE",
										"value": {
											"value": "@{pipeline().parameters.P_STAGE_TABLE}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Final Target Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_TARGET_TABLE",
										"value": {
											"value": "@{pipeline().parameters.P_TARGET_TABLE}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Clean Query",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Stage Table",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set Final Target Table",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set Failed File Path",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set Loaded File Path",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set Source Name",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_CLEAN_TEMP_QUERY",
										"value": {
											"value": "TRUNCATE TABLE DWH.@{variables('V_STAGE_TABLE')}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Source Query",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Copy Source File To Stage",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_SOURCE_QUERY",
										"value": {
											"value": "SELECT A.*,  'ITC' SOURCE, '@{item().name}' FILE_NAME, GETDATE ()  LOAD_TIMESTAMP FROM DWH.@{variables('V_STAGE_TABLE')} A",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy Source File To Stage",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set Clean Query",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "@{variables('V_CLEAN_TEMP_QUERY')}",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@pipeline().parameters.P_FILE_PATH",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": {
													"value": "@pipeline().parameters.P_FIELD_SEPARATOR",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DWH_SQL_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_TABLE_NAME": {
													"value": "@{variables('V_STAGE_TABLE')}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Copy Stage to Target Table",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set Source Query",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@variables('V_SOURCE_QUERY')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DWH_SQL_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_TABLE_NAME": "Select NULL"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DWH_SQL_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_TABLE_NAME": {
													"value": "@{variables('V_TARGET_TABLE')}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Move Failed Files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy Source File To Stage",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@pipeline().parameters.P_FILE_PATH",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": {
													"value": "@pipeline().parameters.P_FIELD_SEPARATOR",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_FAILED_PATH')",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": {
													"value": "@pipeline().parameters.P_FIELD_SEPARATOR",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Move success Files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy Stage to Target Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@pipeline().parameters.P_FILE_PATH",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": {
													"value": "@pipeline().parameters.P_FIELD_SEPARATOR",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_LOADED_PATH')",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": {
													"value": "@pipeline().parameters.P_FIELD_SEPARATOR",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Set Failed File Path",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_FAILED_PATH",
										"value": {
											"value": "@{pipeline().parameters.P_FILE_PATH}/failed",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Loaded File Path",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_LOADED_PATH",
										"value": {
											"value": "@{pipeline().parameters.P_FILE_PATH}/loaded",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Delete After Moved to Failed",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Move Failed Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@pipeline().parameters.P_FILE_PATH",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": "|"
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": false
										}
									}
								},
								{
									"name": "Delete After Moved to Loaded",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Move success Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@pipeline().parameters.P_FILE_PATH",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": "|"
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": false
										}
									}
								},
								{
									"name": "Set Source Name",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_SOURCE_NAME",
										"value": {
											"value": "@pipeline().parameters.P_SOURCE",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Move Failed Files_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy Stage to Target Table",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@pipeline().parameters.P_FILE_PATH",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": {
													"value": "@pipeline().parameters.P_FIELD_SEPARATOR",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_FAILED_PATH')",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": {
													"value": "@pipeline().parameters.P_FIELD_SEPARATOR",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete After Moved to Failed_copy1",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Move Failed Files_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@pipeline().parameters.P_FILE_PATH",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": {
													"value": "@pipeline().parameters.P_FIELD_SEPARATOR",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": false
										}
									}
								}
							]
						}
					},
					{
						"name": "File Type Filter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get File Using Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get File Using Metadata').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"P_FILE_NAME_FORMAT": {
						"type": "string"
					},
					"P_FILE_PATH": {
						"type": "string"
					},
					"P_FIELD_SEPARATOR": {
						"type": "string"
					},
					"P_STAGE_TABLE": {
						"type": "string"
					},
					"P_TARGET_TABLE": {
						"type": "string"
					},
					"P_SOURCE": {
						"type": "string"
					}
				},
				"variables": {
					"V_SOURCE_QUERY": {
						"type": "String"
					},
					"V_CLEAN_TEMP_QUERY": {
						"type": "String"
					},
					"V_STAGE_TABLE": {
						"type": "String"
					},
					"V_TARGET_TABLE": {
						"type": "String"
					},
					"V_FAILED_PATH": {
						"type": "String"
					},
					"V_LOADED_PATH": {
						"type": "String"
					},
					"V_SOURCE_NAME": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SRC_FILE_PARAMETER_DATASET')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_MART_MASTER_DIM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetPipelineRunInfo",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Start the Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT R.PERIOD_START,R.PERIOD_END,R.SNAP_DATE,R.BATCH_NBR,PIPELINE_NAME  FROM DWH.PIPELINE_INFO P, DWH.PIPELINE_RUNS R  WHERE P.PIPELINE_ID = R.PIPELINE_ID AND R.PIPELINE_RUN_STATUS = '1' AND P.PIPELINE_NAME = '@{pipeline().parameters.P_PIPELINE_NAME}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "DWH_SQL_PARAMETER_DATASET",
								"type": "DatasetReference",
								"parameters": {
									"P_TABLE_NAME": "NULL"
								}
							}
						}
					},
					{
						"name": "Set PERIOD_START",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetPipelineRunInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_RANGE_START",
							"value": {
								"value": "@activity('GetPipelineRunInfo').output.firstRow.PERIOD_START",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set SNAP_DATE",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetPipelineRunInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_SNAP_DATE",
							"value": {
								"value": "@activity('GetPipelineRunInfo').output.firstRow.SNAP_DATE",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set BATCH_NBR",
						"description": "",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set SNAP_DATE",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set PERIOD END",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set PERIOD_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_BATCH_NBR",
							"value": {
								"value": "@{activity('GetPipelineRunInfo').output.firstRow.BATCH_NBR}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set PERIOD END",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetPipelineRunInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_RANGE_END",
							"value": {
								"value": "@activity('GetPipelineRunInfo').output.firstRow.PERIOD_END",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Start the Pipeline",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[PRC_DWH_START_PIPELINE]",
							"storedProcedureParameters": {
								"P_IN_PIPELINE_NAME": {
									"value": "PIP_MART_MASTER_DIM",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_AGE_GROUP",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[PRC_MART_DIM_AGE_GROUP]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_AREA_OF_CHANGE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_AREA_OF_CHANGE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_CONTEXT_SUB_TYPE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_CONTEXT_SUB_TYPE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_COUNTRY",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_COUNTRY]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_ENTITY_SIZE_GROUP",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_ENTITY_SIZE_GROUP]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_ENTITY_SUB_TYPE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_ENTITY_SUB_TYPE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_ENTITY_TYPE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_ENTITY_TYPE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_EVENT_TYPE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_EVENT_TYPE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_GENDER",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_GENDER]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_INT_STD_INDUSTRY_CODES_ISIC",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_INT_STD_INDUSTRY_CODES_ISIC]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_ITC_SECTION",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_ITC_SECTION]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_PLATFORM_TYPE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_PLATFORM_TYPE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_PROFESSIONAL_STATUS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_PROFESSIONAL_STATUS]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_PROJECT",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_PROJECT]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_PROJECT_STAGE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_PROJECT_STAGE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_SERVICE_THEME",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_SERVICE_THEME]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_RELATION",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_RELATION]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_HS_CODES",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_HS_CODES]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_SURVEY_VARIABLE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_SURVEY_VARIABLE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_SURVEY_VARIABLE_OPTION",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_SURVEY_VARIABLE_OPTION]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"P_PIPELINE_NAME": {
						"type": "string",
						"defaultValue": "PIP_MART_MASTER_DIM"
					}
				},
				"variables": {
					"V_RANGE_START": {
						"type": "String"
					},
					"V_RANGE_END": {
						"type": "String"
					},
					"V_SNAP_DATE": {
						"type": "String"
					},
					"V_BATCH_NBR": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_MART_WITH_DATAFLOW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetPipelineRunInfo",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Start the Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT R.PERIOD_START,R.PERIOD_END,R.SNAP_DATE,R.BATCH_NBR,PIPELINE_NAME  FROM DWH.PIPELINE_INFO P, DWH.PIPELINE_RUNS R  WHERE P.PIPELINE_ID = R.PIPELINE_ID AND R.PIPELINE_RUN_STATUS = '1' AND P.PIPELINE_NAME = '@{pipeline().parameters.P_PIPELINE_NAME}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "DWH_SQL_PARAMETER_DATASET",
								"type": "DatasetReference",
								"parameters": {
									"P_TABLE_NAME": "NULL"
								}
							}
						}
					},
					{
						"name": "Set PERIOD_START",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetPipelineRunInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_PERIOD_START",
							"value": {
								"value": "@activity('GetPipelineRunInfo').output.firstRow.PERIOD_START",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set SNAP_DATE",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetPipelineRunInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_SNAP_DATE",
							"value": {
								"value": "@activity('GetPipelineRunInfo').output.firstRow.SNAP_DATE",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set BATCH_NBR",
						"description": "",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set PERIOD END",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set SNAP_DATE",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set PERIOD_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_BATCH_NBR",
							"value": {
								"value": "@{activity('GetPipelineRunInfo').output.firstRow.BATCH_NBR}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set PERIOD END",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetPipelineRunInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_PERIOD_END",
							"value": {
								"value": "@activity('GetPipelineRunInfo').output.firstRow.PERIOD_END",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Start the Pipeline",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[PRC_DWH_START_PIPELINE]",
							"storedProcedureParameters": {
								"P_IN_PIPELINE_NAME": {
									"value": "PIP_MART_MASTER_DIM",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"P_PIPELINE_NAME": {
						"type": "string"
					}
				},
				"variables": {
					"V_PERIOD_START": {
						"type": "String"
					},
					"V_PERIOD_END": {
						"type": "String"
					},
					"V_SNAP_DATE": {
						"type": "String"
					},
					"V_BATCH_NBR": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_TEMP_1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DWH_STAGE",
								"type": "DatasetReference",
								"parameters": {
									"P_FILE_NAME": "NTF.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "MART_TEST_NTF",
								"type": "DatasetReference",
								"parameters": {
									"P_TABLE_NAME": "MART_TEST_NTT"
								}
							}
						]
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DWH_STAGE",
								"type": "DatasetReference",
								"parameters": {
									"P_FILE_NAME": "NTF_UNPOVITE.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "MART_TEST_NTF",
								"type": "DatasetReference",
								"parameters": {
									"P_TABLE_NAME": "MART_TEST_NTF_UNPOVITE"
								}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MART_TEST_NTF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_DIM_SURVEY_DETAILS')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DWH_STAGE",
								"type": "DatasetReference"
							},
							"name": "SrcNTF"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_SURVEY_DETAILS",
								"type": "DatasetReference"
							},
							"name": "ExistingDIM"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MART_DIM_SURVEY_DETAILS",
								"type": "DatasetReference"
							},
							"name": "DIMSURVEYDETAILS"
						}
					],
					"transformations": [
						{
							"name": "SelectColumns"
						},
						{
							"name": "SourceRecordHash"
						},
						{
							"name": "Exists"
						},
						{
							"name": "RunInfor"
						},
						{
							"name": "AlterRow1"
						},
						{
							"name": "DISTINCT"
						}
					],
					"script": "source(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\tFirmID as string,\n\t\t{Date of data collection} as string,\n\t\tCountry as string,\n\t\tinterviewkey as string,\n\t\tinterviewid as string,\n\t\tA01 as string,\n\t\tA02 as string,\n\t\tA03 as string,\n\t\tA04 as string,\n\t\tA06 as string,\n\t\tA07 as string,\n\t\tA09 as string,\n\t\tA10 as string,\n\t\tA11 as string,\n\t\tA12 as string,\n\t\tA13 as string,\n\t\tB01 as string,\n\t\tB03 as string,\n\t\tB17 as string,\n\t\tBA03 as string,\n\t\tBA04 as string,\n\t\tBA07 as string,\n\t\tBA08 as string,\n\t\tBA11 as string,\n\t\tBA12 as string,\n\t\tBA13 as string,\n\t\tBA14 as string,\n\t\tBA15 as string,\n\t\tBB02 as string,\n\t\tBB08 as string,\n\t\tBB09 as string,\n\t\tBC03 as string,\n\t\tBC04 as string,\n\t\tC04 as string,\n\t\tC05 as string,\n\t\tDA01 as string,\n\t\tDB01 as string,\n\t\tDB02 as string,\n\t\tDB03 as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcNTF\nsource(output(\n\t\tSURVEY_DETAILS_SR_KEY as integer,\n\t\tRECORD_HASH_VALUE as string,\n\t\tINTERVIEWEE_NAME as string,\n\t\tINTERVIERWER_NAME as string,\n\t\tINTERVIEEE_TELEPHONE as string,\n\t\tINTERVIEWEE_POSITION as string,\n\t\tINTERVIEWEE_EMAIL as string,\n\t\tSUPERVISOR_NAME as string,\n\t\tTIME_INTERVIEW_STARTED as string,\n\t\tTIME_INTERVIEW_ENDED as string,\n\t\tINTERVIEW_DURATION as string,\n\t\tINTERVIEW_KEY as string,\n\t\tINTERVIEW_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ExistingDIM\nSrcNTF select(mapColumn(\n\t\tINTERVIEW_KEY = interviewkey,\n\t\tINTERVIEW_ID = interviewid,\n\t\tINTERVIERWER_NAME = A01,\n\t\tINTERVIEEE_TELEPHONE = A02,\n\t\tTIME_INTERVIEW_STARTED = A03,\n\t\tSUPERVISOR_NAME = A07,\n\t\tINTERVIEWEE_NAME = A09,\n\t\tTIME_INTERVIEW_ENDED = A10,\n\t\tINTERVIEW_DURATION = A11,\n\t\tINTERVIEWEE_EMAIL = A12,\n\t\tINTERVIEWEE_POSITION = A13,\n\t\tFILE_NAME,\n\t\tLOAD_TIMESTAMP\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectColumns\nDISTINCT derive(SOURCE_RECORD_HASH = sha2(256,\r\nINTERVIEWEE_NAME,\r\nINTERVIERWER_NAME,\r\nINTERVIEEE_TELEPHONE,\r\nINTERVIEWEE_POSITION,\r\nINTERVIEWEE_EMAIL,\r\nSUPERVISOR_NAME,\r\nTIME_INTERVIEW_STARTED,\r\nTIME_INTERVIEW_ENDED,\r\nINTERVIEW_DURATION,\r\nINTERVIEWEE_NAME,\r\nINTERVIEW_ID)) ~> SourceRecordHash\nSourceRecordHash, ExistingDIM exists(SOURCE_RECORD_HASH == RECORD_HASH_VALUE,\n\tnegate:true,\n\tbroadcast: 'auto')~> Exists\nExists derive(BATCH_ID = 1,\n\t\tSOURCE = FILE_NAME,\n\t\tCREATED_BY = FILE_NAME,\n\t\tUPDATED_BY = FILE_NAME,\n\t\tDATE_CREATED = currentTimestamp(),\n\t\tDATE_UPDATED = currentTimestamp()) ~> RunInfor\nRunInfor alterRow(insertIf(1==1)) ~> AlterRow1\nSelectColumns aggregate(groupBy(INTERVIEWEE_NAME,\n\t\tINTERVIERWER_NAME,\n\t\tINTERVIEEE_TELEPHONE,\n\t\tINTERVIEWEE_POSITION,\n\t\tINTERVIEWEE_EMAIL,\n\t\tSUPERVISOR_NAME,\n\t\tTIME_INTERVIEW_STARTED,\n\t\tTIME_INTERVIEW_ENDED,\n\t\tINTERVIEW_DURATION,\n\t\tINTERVIEW_KEY,\n\t\tINTERVIEW_ID,\n\t\tFILE_NAME),\n\tCOUNT = count()) ~> DISTINCT\nAlterRow1 sink(input(\n\t\tSURVEY_DETAILS_SR_KEY as integer,\n\t\tRECORD_HASH_VALUE as string,\n\t\tINTERVIEWEE_NAME as string,\n\t\tINTERVIERWER_NAME as string,\n\t\tINTERVIEEE_TELEPHONE as string,\n\t\tINTERVIEWEE_POSITION as string,\n\t\tINTERVIEWEE_EMAIL as string,\n\t\tSUPERVISOR_NAME as string,\n\t\tTIME_INTERVIEW_STARTED as string,\n\t\tTIME_INTERVIEW_ENDED as string,\n\t\tINTERVIEW_DURATION as string,\n\t\tINTERVIEW_KEY as string,\n\t\tINTERVIEW_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tRECORD_HASH_VALUE = SOURCE_RECORD_HASH,\n\t\tINTERVIEWEE_NAME,\n\t\tINTERVIERWER_NAME,\n\t\tINTERVIEEE_TELEPHONE,\n\t\tINTERVIEWEE_POSITION,\n\t\tINTERVIEWEE_EMAIL,\n\t\tSUPERVISOR_NAME,\n\t\tTIME_INTERVIEW_STARTED,\n\t\tTIME_INTERVIEW_ENDED,\n\t\tINTERVIEW_DURATION,\n\t\tINTERVIEW_KEY,\n\t\tINTERVIEW_ID,\n\t\tBATCH_ID,\n\t\tSOURCE,\n\t\tCREATED_BY,\n\t\tUPDATED_BY,\n\t\tDATE_CREATED,\n\t\tDATE_UPDATED\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DIMSURVEYDETAILS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_FACT_ENTITY_SURVEY')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DWH_STAGE",
								"type": "DatasetReference"
							},
							"name": "SrcNtfUNPOVITE"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_PROJECT",
								"type": "DatasetReference"
							},
							"name": "DIMPROJECT"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_CONTEXT_SUB_TYPE",
								"type": "DatasetReference"
							},
							"name": "DIMCONTEXTSUBTYPE"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_COUNTRY",
								"type": "DatasetReference"
							},
							"name": "DIMCOUNTRY"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_SURVEY_DETAILS",
								"type": "DatasetReference"
							},
							"name": "DIMSURVEYDETAILS"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_DATE",
								"type": "DatasetReference"
							},
							"name": "DIMSURVEYDATE"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_SURVEY_VARIABLE",
								"type": "DatasetReference"
							},
							"name": "DIMSURVEYVARIABLE"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_SURVEY_VARIABLE_OPTION",
								"type": "DatasetReference"
							},
							"name": "DIMSURVEYVARIABLEOPTION"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MART_FACT_ENTITY_SURVEY",
								"type": "DatasetReference"
							},
							"name": "FACTENTITYSURVEY"
						}
					],
					"transformations": [
						{
							"name": "LkpPROJECT"
						},
						{
							"name": "LkpCONTEXT"
						},
						{
							"name": "LkpCOUNTRY"
						},
						{
							"name": "LkpSURVEYDETAILS"
						},
						{
							"name": "Select1"
						},
						{
							"name": "LkpSURVEYDATE"
						},
						{
							"name": "LkpSURVEYVARIABLE"
						},
						{
							"name": "LkpSURVEYVARIABLEOPTION"
						},
						{
							"name": "DIMPROJECT1"
						},
						{
							"name": "DIMCONTEXTSUBTYPE1"
						},
						{
							"name": "DIMCOUNTRY1"
						},
						{
							"name": "DIMSURVEYDETAILS1"
						},
						{
							"name": "DIMSURVEYDATE1"
						},
						{
							"name": "DIMSURVEYVARIABLE1"
						},
						{
							"name": "DIMSURVEYVARIABLEOPTION1"
						},
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "source(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\tFirmID as string,\n\t\t{Date of data collection} as string,\n\t\tCountry as string,\n\t\tinterviewkey as string,\n\t\tinterviewid as string,\n\t\tA01 as string,\n\t\tA02 as string,\n\t\tA03 as string,\n\t\tA04 as string,\n\t\tA06 as string,\n\t\tA07 as string,\n\t\tA09 as string,\n\t\tA10 as string,\n\t\tA11 as string,\n\t\tA12 as string,\n\t\tA13 as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as timestamp,\n\t\tVariables as string,\n\t\tAnswer_KEY as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcNtfUNPOVITE\nsource(output(\n\t\tPROJECT_SR_KEY as integer,\n\t\tPROJECT_ID as string,\n\t\tPROJECT_TITLE as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMPROJECT\nsource(output(\n\t\tCONTEXT_SUB_TYPE_SR_KEY as integer,\n\t\tCONTEXT_TYPE_CODE as string,\n\t\tCONTEXT_TYPE_DESC as string,\n\t\tCONTEXT_SUB_TYPE_CODE as string,\n\t\tCONTEXT_SUB_TYPE_DESC as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMCONTEXTSUBTYPE\nsource(output(\n\t\tCOUNTRY_SR_KEY as integer,\n\t\tCOUNTRY_CODE as string,\n\t\tCOUNTRY_NAME_EN as string,\n\t\tCOUNTRY_NAME_ES as string,\n\t\tCOUNTRY_NAME_FR as string,\n\t\tISO2_CODE as string,\n\t\tISO3_CODE as string,\n\t\tLEAST_DEVELPED_COUNTRY as string,\n\t\tLAND_LCKD_DEVELOPING_COUNTRY as string,\n\t\tSMALL_ISLAND_DEVELOPING_STATES as string,\n\t\tDEVELOPED_DEVELOPING_COUNTRY as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMCOUNTRY\nsource(output(\n\t\tSURVEY_DETAILS_SR_KEY as integer,\n\t\tRECORD_HASH_VALUE as string,\n\t\tINTERVIEWEE_NAME as string,\n\t\tINTERVIERWER_NAME as string,\n\t\tINTERVIEEE_TELEPHONE as string,\n\t\tINTERVIEWEE_POSITION as string,\n\t\tINTERVIEWEE_EMAIL as string,\n\t\tSUPERVISOR_NAME as string,\n\t\tTIME_INTERVIEW_STARTED as string,\n\t\tTIME_INTERVIEW_ENDED as string,\n\t\tINTERVIEW_DURATION as string,\n\t\tINTERVIEW_KEY as string,\n\t\tINTERVIEW_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMSURVEYDETAILS\nsource(output(\n\t\tDATE_SR_KEY as integer,\n\t\tDATE_TIME as date,\n\t\tDAY_OF_MONTH as integer,\n\t\tCALENDER_MONTH_NAME as string,\n\t\tCALENDER_MONTH_ID as integer,\n\t\tCALENDER_YEAR as integer,\n\t\tCALENDER_QUARTER_ID as integer,\n\t\tCALENDER_QUARTER_NAME as string,\n\t\tCALENDER_HALF_YEAR_ID as integer,\n\t\tCALENDER_HALF_YEAR_NAME as string,\n\t\tFISCAL_MONTH_ID as integer,\n\t\tFISCAL_MONTH_NAME as string,\n\t\tFISCAL_QUARTER_ID as integer,\n\t\tFISCAL_QUARTER_NAME as string,\n\t\tFISCAL_HALF_YEAR_ID as integer,\n\t\tFISCAL_HALF_YEAR_NAME as string,\n\t\tFISCAL_YEAR as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMSURVEYDATE\nsource(output(\n\t\tSURVEY_VARIABLE_SR_KEY as integer,\n\t\tVARIABLE_NAME as string,\n\t\tSURVEY_QUESTIONIRE_VERSION_NO as string,\n\t\tQUENTION_TITLE as string,\n\t\tVARIABLE_DESC as string,\n\t\tRESPONSE_TYPE as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMSURVEYVARIABLE\nsource(output(\n\t\tSURVEY_VARIABLE_OPTION_SR_KEY as integer,\n\t\tVARIABLE_NAME as string,\n\t\tSURVEY_QUESTIONIRE_VERSION_NO as string,\n\t\tQUENTION_TITLE as string,\n\t\tOPTIONS_CODE as string,\n\t\tOPTIONS_DESC as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMSURVEYVARIABLEOPTION\nSelect1, DIMPROJECT1 lookup(upper(trim(ProjectID)) == upper(trim(PROJECT_ID)),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LkpPROJECT\nLkpPROJECT, DIMCONTEXTSUBTYPE1 lookup(upper(trim(Context)) == upper(trim(CONTEXT_TYPE_DESC)),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LkpCONTEXT\nLkpCONTEXT, DIMCOUNTRY1 lookup(upper(trim(Country)) == upper(trim(COUNTRY_NAME_EN)),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LkpCOUNTRY\nLkpCOUNTRY, DIMSURVEYDETAILS1 lookup(iifNull(Select1@INTERVIEWEE_NAME, '') == iifNull(DIMSURVEYDETAILS1@INTERVIEWEE_NAME,'')\n\t&& iifNull(Select1@INTERVIERWER_NAME, '') == iifNull(DIMSURVEYDETAILS1@INTERVIERWER_NAME,'')\n\t&& iifNull(Select1@INTERVIEEE_TELEPHONE, '') == iifNull(DIMSURVEYDETAILS1@INTERVIEEE_TELEPHONE,'')\n\t&& iifNull(Select1@INTERVIEWEE_POSITION, '') == iifNull(DIMSURVEYDETAILS1@INTERVIEWEE_POSITION,'')\n\t&& iifNull(Select1@INTERVIEWEE_EMAIL, '') == iifNull(DIMSURVEYDETAILS1@INTERVIEWEE_EMAIL,'')\n\t&& iifNull(Select1@SUPERVISOR_NAME, '') == iifNull(DIMSURVEYDETAILS1@SUPERVISOR_NAME,'')\n\t&& iifNull(Select1@TIME_INTERVIEW_STARTED, '') == iifNull(DIMSURVEYDETAILS1@TIME_INTERVIEW_STARTED)\n\t&& iifNull(Select1@TIME_INTERVIEW_ENDED, '') == iifNull(DIMSURVEYDETAILS1@TIME_INTERVIEW_ENDED,'')\n\t&& iifNull(Select1@INTERVIEW_DURATION, '') == iifNull(DIMSURVEYDETAILS1@INTERVIEW_DURATION,'')\n\t&& iifNull(interviewkey,'') == iifNull(INTERVIEW_KEY,'')\n\t&& iifNull(interviewid,'') == iifNull(INTERVIEW_ID,''),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LkpSURVEYDETAILS\nSrcNtfUNPOVITE select(mapColumn(\n\t\tProjectID,\n\t\tContext,\n\t\tFirmID,\n\t\t{Date of data collection},\n\t\tCountry,\n\t\tinterviewkey,\n\t\tinterviewid,\n\t\tINTERVIERWER_NAME = A01,\n\t\tINTERVIEEE_TELEPHONE = A02,\n\t\tTIME_INTERVIEW_STARTED = A03,\n\t\tA04,\n\t\tA06,\n\t\tSUPERVISOR_NAME = A07,\n\t\tINTERVIEWEE_NAME = A09,\n\t\tTIME_INTERVIEW_ENDED = A10,\n\t\tINTERVIEW_DURATION = A11,\n\t\tINTERVIEWEE_EMAIL = A12,\n\t\tINTERVIEWEE_POSITION = A13,\n\t\tFILE_NAME,\n\t\tLOAD_TIMESTAMP,\n\t\tVariables,\n\t\tAnswer_KEY\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select1\nLkpSURVEYDETAILS, DIMSURVEYDATE1 lookup(toDate({Date of data collection}, 'MM/DD/YYYY') == DATE_TIME,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LkpSURVEYDATE\nLkpSURVEYDATE, DIMSURVEYVARIABLE1 lookup(Variables == VARIABLE_NAME,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LkpSURVEYVARIABLE\nLkpSURVEYVARIABLE, DIMSURVEYVARIABLEOPTION1 lookup(Variables == DIMSURVEYVARIABLEOPTION1@VARIABLE_NAME\n\t&& Answer_KEY == OPTIONS_CODE,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LkpSURVEYVARIABLEOPTION\nDIMPROJECT select(mapColumn(\n\t\tPROJECT_SR_KEY,\n\t\tPROJECT_ID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DIMPROJECT1\nDIMCONTEXTSUBTYPE select(mapColumn(\n\t\tCONTEXT_SUB_TYPE_SR_KEY,\n\t\tCONTEXT_TYPE_DESC,\n\t\tCONTEXT_SUB_TYPE_DESC\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DIMCONTEXTSUBTYPE1\nDIMCOUNTRY select(mapColumn(\n\t\tCOUNTRY_SR_KEY,\n\t\tCOUNTRY_CODE,\n\t\tCOUNTRY_NAME_EN\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DIMCOUNTRY1\nDIMSURVEYDETAILS select(mapColumn(\n\t\tSURVEY_DETAILS_SR_KEY,\n\t\tINTERVIEWEE_NAME,\n\t\tINTERVIERWER_NAME,\n\t\tINTERVIEEE_TELEPHONE,\n\t\tINTERVIEWEE_POSITION,\n\t\tINTERVIEWEE_EMAIL,\n\t\tSUPERVISOR_NAME,\n\t\tTIME_INTERVIEW_STARTED,\n\t\tTIME_INTERVIEW_ENDED,\n\t\tINTERVIEW_DURATION,\n\t\tINTERVIEW_KEY,\n\t\tINTERVIEW_ID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DIMSURVEYDETAILS1\nDIMSURVEYDATE select(mapColumn(\n\t\tSURVEY_DATE_SR_KEY = DATE_SR_KEY,\n\t\tDATE_TIME\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DIMSURVEYDATE1\nDIMSURVEYVARIABLE select(mapColumn(\n\t\tSURVEY_VARIABLE_SR_KEY,\n\t\tVARIABLE_NAME,\n\t\tSURVEY_INTERVIEWEE_RESPONSE = RESPONSE_TYPE\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DIMSURVEYVARIABLE1\nDIMSURVEYVARIABLEOPTION select(mapColumn(\n\t\tSURVEY_VARIABLE_SELECTED_OPTION_SR_KEY = SURVEY_VARIABLE_OPTION_SR_KEY,\n\t\tVARIABLE_NAME,\n\t\tOPTIONS_CODE\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DIMSURVEYVARIABLEOPTION1\nLkpSURVEYVARIABLEOPTION derive(BATCH_ID = 1,\n\t\tSOURCE = FILE_NAME,\n\t\tCREATED_BY = FILE_NAME,\n\t\tUPDATED_BY = FILE_NAME,\n\t\tDATE_CREATED = currentDate(),\n\t\tDATE_UPDATED = currentDate()) ~> DerivedColumn1\nDerivedColumn1 sink(input(\n\t\tPROJECT_SR_KEY as integer,\n\t\tCONTEXT_SUB_TYPE_SR_KEY as integer,\n\t\tCOUNTRY_SR_KEY as integer,\n\t\tSURVEY_DETAILS_SR_KEY as integer,\n\t\tSURVEY_DATE_SR_KEY as integer,\n\t\tSURVEY_VARIABLE_SR_KEY as integer,\n\t\tSURVEY_VARIABLE_SELECTED_OPTION_SR_KEY as integer,\n\t\tSURVEY_INTERVIEWEE_RESPONSE as integer,\n\t\tCHANGE_VALUE as integer,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tPROJECT_SR_KEY,\n\t\tCONTEXT_SUB_TYPE_SR_KEY,\n\t\tCOUNTRY_SR_KEY,\n\t\tSURVEY_DETAILS_SR_KEY,\n\t\tSURVEY_DATE_SR_KEY,\n\t\tSURVEY_VARIABLE_SR_KEY,\n\t\tSURVEY_VARIABLE_SELECTED_OPTION_SR_KEY,\n\t\tSURVEY_INTERVIEWEE_RESPONSE,\n\t\tBATCH_ID,\n\t\tSOURCE,\n\t\tCREATED_BY,\n\t\tUPDATED_BY,\n\t\tDATE_CREATED,\n\t\tDATE_UPDATED\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> FACTENTITYSURVEY"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_NFT_UNPIVOT')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "unpivot",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DWH_STAGE",
								"type": "DatasetReference"
							},
							"name": "SrcSTGNTR"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DWH_STAGE_FOLDER",
								"type": "DatasetReference"
							},
							"name": "TrgUnpovitNTR"
						}
					],
					"transformations": [
						{
							"name": "Unpivot1"
						}
					],
					"script": "source(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\tFirmID as string,\n\t\t{Date of data collection} as string,\n\t\tCountry as string,\n\t\tinterviewkey as string,\n\t\tinterviewid as string,\n\t\tA01 as string,\n\t\tA02 as string,\n\t\tA03 as string,\n\t\tA04 as string,\n\t\tA06 as string,\n\t\tA07 as string,\n\t\tA09 as string,\n\t\tA10 as string,\n\t\tA11 as string,\n\t\tA12 as string,\n\t\tA13 as string,\n\t\tB01 as string,\n\t\tB03 as string,\n\t\tB17 as string,\n\t\tBA03 as string,\n\t\tBA04 as string,\n\t\tBA07 as string,\n\t\tBA08 as string,\n\t\tBA11 as string,\n\t\tBA12 as string,\n\t\tBA13 as string,\n\t\tBA14 as string,\n\t\tBA15 as string,\n\t\tBB02 as string,\n\t\tBB08 as string,\n\t\tBB09 as string,\n\t\tBC03 as string,\n\t\tBC04 as string,\n\t\tC04 as string,\n\t\tC05 as string,\n\t\tDA01 as string,\n\t\tDB01 as string,\n\t\tDB02 as string,\n\t\tDB03 as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcSTGNTR\nSrcSTGNTR unpivot(output(\n\t\tVariables as string,\n\t\tAnswer_KEY as string\n\t),\n\tungroupBy(ProjectID,\n\t\tContext,\n\t\tFirmID,\n\t\t{Date of data collection},\n\t\tCountry,\n\t\tinterviewkey,\n\t\tinterviewid,\n\t\tA01,\n\t\tA02,\n\t\tA03,\n\t\tA04,\n\t\tA06,\n\t\tA07,\n\t\tA09,\n\t\tA10,\n\t\tA11,\n\t\tA12,\n\t\tA13,\n\t\tFILE_NAME,\n\t\tLOAD_TIMESTAMP),\n\tlateral: false,\n\tignoreNullPivots: true) ~> Unpivot1\nUnpivot1 sink(input(\n\t\t{ProjectID|Context|FirmID|Date of data collection|Country|interviewkey|interviewid|A01|A02|A03|A04|A06|A07|A09|A10|A11|A12|A13|B01|B03|B17|BA03|BA04|BA07|BA08|BA11|BA12|BA13|BA14|BA15|BB02|BB08|BB09|BC03|BC04|C04|C05|DA01|DB01|DB02|DB03|FILE_NAME|LOAD_TIMESTAMP} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionFileNames:['NTF_UNPOVITE.csv'],\n\tpartitionBy('hash', 1)) ~> TrgUnpovitNTR"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_NTF_DIM_ENTITY')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DWH_STAGE",
								"type": "DatasetReference"
							},
							"name": "SrcNTF"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "ExistingDIM"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "ExistingDIM1"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "ExitingDimMaxID"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "DIMENTITY"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "UpdDIMENTITY"
						}
					],
					"transformations": [
						{
							"name": "SelectColumn"
						},
						{
							"name": "DistinctByAggregate"
						},
						{
							"name": "SourceRecordHash"
						},
						{
							"name": "SelectExistingCol"
						},
						{
							"name": "ExstingRecordHash"
						},
						{
							"name": "Exists1"
						},
						{
							"name": "Lookup1"
						},
						{
							"name": "ConditionalSplit1"
						},
						{
							"name": "RunInfo"
						},
						{
							"name": "AlterRow1"
						},
						{
							"name": "RunInfo2"
						},
						{
							"name": "AlterRow2"
						},
						{
							"name": "LatestEntityID"
						},
						{
							"name": "Join1"
						},
						{
							"name": "SurrogateKey1"
						},
						{
							"name": "Join2"
						}
					],
					"script": "source(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\tFirmID as string,\n\t\t{Date of data collection} as string,\n\t\tCountry as string,\n\t\tinterviewkey as string,\n\t\tinterviewid as string,\n\t\tA01 as string,\n\t\tA02 as string,\n\t\tA03 as string,\n\t\tA04 as string,\n\t\tA06 as string,\n\t\tA07 as string,\n\t\tA09 as string,\n\t\tA10 as string,\n\t\tA11 as string,\n\t\tA12 as string,\n\t\tA13 as string,\n\t\tB01 as string,\n\t\tB03 as string,\n\t\tB17 as string,\n\t\tBA03 as string,\n\t\tBA04 as string,\n\t\tBA07 as string,\n\t\tBA08 as string,\n\t\tBA11 as string,\n\t\tBA12 as string,\n\t\tBA13 as string,\n\t\tBA14 as string,\n\t\tBA15 as string,\n\t\tBB02 as string,\n\t\tBB08 as string,\n\t\tBB09 as string,\n\t\tBC03 as string,\n\t\tBC04 as string,\n\t\tC04 as string,\n\t\tC05 as string,\n\t\tDA01 as string,\n\t\tDB01 as string,\n\t\tDB02 as string,\n\t\tDB03 as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcNTF\nsource(output(\n\t\tENTITY_SR_KEY as integer,\n\t\tENTITY_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tENTITY_NAME as string,\n\t\tENTITY_EMAIL_DOMAIN_NAME as string,\n\t\tADDRESS as string,\n\t\tCITY as string,\n\t\tREGION as string,\n\t\t{PHONE NUMBER} as string,\n\t\tWEBSITE as string,\n\t\tTWITTER as string,\n\t\tLINKEDIN as string,\n\t\tBSO_OWNERSHIP as string,\n\t\tPOST_CODE as string,\n\t\tPOBOX as string,\n\t\tCITY_REGION as string,\n\t\tCATEGORY as string,\n\t\tCONFIDENTIAL as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tOTHER_EMAILS as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_INFORMATION as string,\n\t\tMAILING_ADDRESS_STREET1 as string,\n\t\tMAILING_ADDRESS_STREET2 as string,\n\t\tMAILING_ADDRESS_CITY as string,\n\t\tMAILING_STATE_PROVICE as string,\n\t\tMAILING_POST_CODE as string,\n\t\tMAILING_COUNTRY as string,\n\t\tMAILING_FORMAT_UN as string,\n\t\tFIRM_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ExistingDIM\nsource(output(\n\t\tENTITY_SR_KEY as integer,\n\t\tENTITY_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tENTITY_NAME as string,\n\t\tENTITY_EMAIL_DOMAIN_NAME as string,\n\t\tADDRESS as string,\n\t\tCITY as string,\n\t\tREGION as string,\n\t\t{PHONE NUMBER} as string,\n\t\tWEBSITE as string,\n\t\tTWITTER as string,\n\t\tLINKEDIN as string,\n\t\tBSO_OWNERSHIP as string,\n\t\tPOST_CODE as string,\n\t\tPOBOX as string,\n\t\tCITY_REGION as string,\n\t\tCATEGORY as string,\n\t\tCONFIDENTIAL as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tOTHER_EMAILS as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_INFORMATION as string,\n\t\tMAILING_ADDRESS_STREET1 as string,\n\t\tMAILING_ADDRESS_STREET2 as string,\n\t\tMAILING_ADDRESS_CITY as string,\n\t\tMAILING_STATE_PROVICE as string,\n\t\tMAILING_POST_CODE as string,\n\t\tMAILING_COUNTRY as string,\n\t\tMAILING_FORMAT_UN as string,\n\t\tFIRM_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ExistingDIM1\nsource(output(\n\t\tMAX_VAL as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: 'Select IsNULL(Max(ENTITY_ID),0) MAX_VAL\\nFROM MART_OWNER.DIM_ENTITY',\n\tformat: 'query') ~> ExitingDimMaxID\nSrcNTF select(mapColumn(\n\t\tFIRM_ID = FirmID,\n\t\tENTITY_NAME = A04,\n\t\tADDRESS = A06,\n\t\tFILE_NAME,\n\t\tLOAD_TIMESTAMP\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectColumn\nSelectColumn aggregate(groupBy(ENTITY_NAME),\n\teach(match(name!='ENTITY_NAME'), $$ = last($$))) ~> DistinctByAggregate\nDistinctByAggregate derive(SOURCE_RECORD_HASH = sha2(256,\r\nENTITY_NAME,\r\nADDRESS,\r\nFIRM_ID\r\n)) ~> SourceRecordHash\nJoin1 select(mapColumn(\n\t\tEXIST_ENTITY_ID = ExistingDIM@ENTITY_ID,\n\t\tEXIST_VERSION_NO = ExistingDIM@VERSION_NO,\n\t\tEXIST_ENTITY_NAME = ExistingDIM@ENTITY_NAME,\n\t\tEXIST_ADDRESS = ADDRESS,\n\t\tEXIST_FIRM_ID = FIRM_ID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectExistingCol\nSelectExistingCol derive(RECORD_HASH = sha2(256,\r\nEXIST_ENTITY_NAME,\r\nEXIST_ADDRESS,\r\nEXIST_FIRM_ID\r\n)) ~> ExstingRecordHash\nSourceRecordHash, ExstingRecordHash exists(SOURCE_RECORD_HASH == RECORD_HASH,\n\tnegate:true,\n\tbroadcast: 'auto')~> Exists1\nExists1, ExstingRecordHash lookup(ENTITY_NAME == EXIST_ENTITY_NAME,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> Lookup1\nLookup1 split(isNull(EXIST_ENTITY_ID),\n\tdisjoint: false) ~> ConditionalSplit1@(NewRecord, UpdateRecord)\nSurrogateKey1 derive(ENTITY_ID = MAX_VAL+Dim_Surrogate_Key,\n\t\tVERSION_NO = 1,\n\t\tBATCH_ID = 1,\n\t\tSOURCE = FILE_NAME,\n\t\tCREATED_BY = FILE_NAME,\n\t\tUPDATED_BY = FILE_NAME,\n\t\tDATE_CREATED = currentDate(),\n\t\tDATE_UPDATED = currentDate()) ~> RunInfo\nRunInfo alterRow(insertIf(1==1)) ~> AlterRow1\nConditionalSplit1@UpdateRecord derive(VERSION_NO = EXIST_VERSION_NO +1,\n\t\tBATCH_ID = 1,\n\t\tSOURCE = FILE_NAME,\n\t\tCREATED_BY = FILE_NAME,\n\t\tUPDATED_BY = FILE_NAME,\n\t\tDATE_CREATED = currentDate(),\n\t\tDATE_UPDATED = currentDate()) ~> RunInfo2\nRunInfo2 alterRow(insertIf(1==1)) ~> AlterRow2\nExistingDIM1 aggregate(groupBy(ENTITY_ID,\n\t\tENTITY_NAME),\n\tVERSION_NO = max(VERSION_NO)) ~> LatestEntityID\nExistingDIM, LatestEntityID join(ExistingDIM@ENTITY_ID == LatestEntityID@ENTITY_ID\n\t&& ExistingDIM@ENTITY_NAME == LatestEntityID@ENTITY_NAME\n\t&& ExistingDIM@VERSION_NO == LatestEntityID@VERSION_NO,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Join1\nJoin2 keyGenerate(output(Dim_Surrogate_Key as long),\n\tstartAt: 1L) ~> SurrogateKey1\nConditionalSplit1@NewRecord, ExitingDimMaxID join(1==1,\n\tjoinType:'cross',\n\tbroadcast: 'auto')~> Join2\nAlterRow1 sink(input(\n\t\tENTITY_SR_KEY as integer,\n\t\tENTITY_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tENTITY_NAME as string,\n\t\tENTITY_EMAIL_DOMAIN_NAME as string,\n\t\tADDRESS as string,\n\t\tCITY as string,\n\t\tREGION as string,\n\t\t{PHONE NUMBER} as string,\n\t\tWEBSITE as string,\n\t\tTWITTER as string,\n\t\tLINKEDIN as string,\n\t\tBSO_OWNERSHIP as string,\n\t\tPOST_CODE as string,\n\t\tPOBOX as string,\n\t\tCITY_REGION as string,\n\t\tCATEGORY as string,\n\t\tCONFIDENTIAL as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tOTHER_EMAILS as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_INFORMATION as string,\n\t\tMAILING_ADDRESS_STREET1 as string,\n\t\tMAILING_ADDRESS_STREET2 as string,\n\t\tMAILING_ADDRESS_CITY as string,\n\t\tMAILING_STATE_PROVICE as string,\n\t\tMAILING_POST_CODE as string,\n\t\tMAILING_COUNTRY as string,\n\t\tMAILING_FORMAT_UN as string,\n\t\tFIRM_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tENTITY_ID,\n\t\tVERSION_NO,\n\t\tENTITY_NAME,\n\t\tADDRESS,\n\t\tFIRM_ID,\n\t\tBATCH_ID,\n\t\tSOURCE,\n\t\tCREATED_BY,\n\t\tUPDATED_BY,\n\t\tDATE_CREATED,\n\t\tDATE_UPDATED\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DIMENTITY\nAlterRow2 sink(input(\n\t\tENTITY_SR_KEY as integer,\n\t\tENTITY_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tENTITY_NAME as string,\n\t\tENTITY_EMAIL_DOMAIN_NAME as string,\n\t\tADDRESS as string,\n\t\tCITY as string,\n\t\tREGION as string,\n\t\t{PHONE NUMBER} as string,\n\t\tWEBSITE as string,\n\t\tTWITTER as string,\n\t\tLINKEDIN as string,\n\t\tBSO_OWNERSHIP as string,\n\t\tPOST_CODE as string,\n\t\tPOBOX as string,\n\t\tCITY_REGION as string,\n\t\tCATEGORY as string,\n\t\tCONFIDENTIAL as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tOTHER_EMAILS as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_INFORMATION as string,\n\t\tMAILING_ADDRESS_STREET1 as string,\n\t\tMAILING_ADDRESS_STREET2 as string,\n\t\tMAILING_ADDRESS_CITY as string,\n\t\tMAILING_STATE_PROVICE as string,\n\t\tMAILING_POST_CODE as string,\n\t\tMAILING_COUNTRY as string,\n\t\tMAILING_FORMAT_UN as string,\n\t\tFIRM_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tENTITY_ID = EXIST_ENTITY_ID,\n\t\tVERSION_NO,\n\t\tENTITY_NAME,\n\t\tADDRESS,\n\t\tFIRM_ID,\n\t\tBATCH_ID,\n\t\tSOURCE,\n\t\tCREATED_BY,\n\t\tUPDATED_BY,\n\t\tDATE_CREATED,\n\t\tDATE_UPDATED\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> UpdDIMENTITY"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_NTF_STAGE_DWH_LAKE')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "STAGE_NTF",
								"type": "DatasetReference"
							},
							"name": "SrcStageNTF"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DWH_NTF",
								"type": "DatasetReference"
							},
							"name": "DWHNTF"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "parameters{\n\tP_DWH_FILE_NAME as string\n}\nsource(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\tFirmID as string,\n\t\t{Date of data collection} as string,\n\t\tCountry as string,\n\t\tinterviewkey as string,\n\t\tinterviewid as string,\n\t\tA01 as string,\n\t\tA02 as string,\n\t\tA03 as string,\n\t\tA04 as string,\n\t\tA06 as string,\n\t\tA07 as string,\n\t\tA09 as string,\n\t\tA10 as string,\n\t\tA11 as string,\n\t\tA12 as string,\n\t\tA13 as string,\n\t\tB01 as string,\n\t\tB03 as string,\n\t\tB17 as string,\n\t\tBA03 as string,\n\t\tBA04 as string,\n\t\tBA07 as string,\n\t\tBA08 as string,\n\t\tBA11 as string,\n\t\tBA12 as string,\n\t\tBA13 as string,\n\t\tBA14 as string,\n\t\tBA15 as string,\n\t\tBB02 as string,\n\t\tBB08 as string,\n\t\tBB09 as string,\n\t\tBC03 as string,\n\t\tBC04 as string,\n\t\tC04 as string,\n\t\tC05 as string,\n\t\tDA01 as string,\n\t\tDB01 as string,\n\t\tDB02 as string,\n\t\tDB03 as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcStageNTF\nSrcStageNTF derive(NEW_DATALAKE_FILE = 'NTF/'+replace($P_DWH_FILE_NAME, '.csv', '_'+toString(currentTimestamp(),'YYYYMMdd_HHmmss')+'.csv')) ~> DerivedColumn1\nDerivedColumn1 sink(input(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\tFirmID as string,\n\t\t{Date of data collection} as string,\n\t\tCountry as string,\n\t\tinterviewkey as string,\n\t\tinterviewid as string,\n\t\tA01 as string,\n\t\tA02 as string,\n\t\tA03 as string,\n\t\tA04 as string,\n\t\tA06 as string,\n\t\tA07 as string,\n\t\tA09 as string,\n\t\tA10 as string,\n\t\tA11 as string,\n\t\tA12 as string,\n\t\tA13 as string,\n\t\tB01 as string,\n\t\tB03 as string,\n\t\tB17 as string,\n\t\tBA03 as string,\n\t\tBA04 as string,\n\t\tBA07 as string,\n\t\tBA08 as string,\n\t\tBA11 as string,\n\t\tBA12 as string,\n\t\tBA13 as string,\n\t\tBA14 as string,\n\t\tBA15 as string,\n\t\tBB02 as string,\n\t\tBB08 as string,\n\t\tBB09 as string,\n\t\tBC03 as string,\n\t\tBC04 as string,\n\t\tC04 as string,\n\t\tC05 as string,\n\t\tDA01 as string,\n\t\tDB01 as string,\n\t\tDB02 as string,\n\t\tDB03 as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn:'NEW_DATALAKE_FILE') ~> DWHNTF"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/STAGE_NTF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_OLAC_STAGE_DWH_LAKE')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "STAGE_OLAC",
								"type": "DatasetReference"
							},
							"name": "SrcStageOLAC"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DWH_OLAC",
								"type": "DatasetReference"
							},
							"name": "DWHOLAC"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "parameters{\n\tP_DWH_FILE_NAME as string\n}\nsource(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of training} as string,\n\t\tCourse_name as string,\n\t\t{Area of change} as string,\n\t\t{Service theme 1} as string,\n\t\t{Service theme 2} as string,\n\t\t{Date of data collection} as string,\n\t\tLocation as string,\n\t\t{First name} as string,\n\t\t{Last name} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\t{Professional status} as string,\n\t\t{Name of the entity} as string,\n\t\t{Type of entity} as string,\n\t\t{Sub-type of entity} as string,\n\t\tCountry as string,\n\t\tSize as string,\n\t\t{ISIC code division} as string,\n\t\t{HS 6 digit code (if available)} as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcStageOLAC\nSrcStageOLAC derive({Year of birth} = case({Year of birth}=='N/A', \r\n'',\r\niif(toInteger({Year of birth}) < year(currentUTC()), '', {Year of birth})\r\n),\n\t\tNEW_DATALAKE_FILE = 'OLAC/'+replace($P_DWH_FILE_NAME, '.csv', '_'+toString(currentTimestamp(),'YYYYMMdd_HHmmss')+'.csv')) ~> DerivedColumn1\nDerivedColumn1 sink(input(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of training} as string,\n\t\tCourse_name as string,\n\t\t{Area of change} as string,\n\t\t{Service theme 1} as string,\n\t\t{Service theme 2} as string,\n\t\t{Date of data collection} as string,\n\t\tLocation as string,\n\t\t{First name} as string,\n\t\t{Last name} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\t{Professional status} as string,\n\t\t{Name of the entity} as string,\n\t\t{Type of entity} as string,\n\t\t{Sub-type of entity} as string,\n\t\tCountry as string,\n\t\tSize as string,\n\t\t{ISIC code division} as string,\n\t\t{HS 6 digit code (if available)} as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn:'NEW_DATALAKE_FILE') ~> DWHOLAC"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/STAGE_OLAC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_SHE_TRADES_DIM_ENTITY')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DWH_STAGE",
								"type": "DatasetReference"
							},
							"name": "SrcSheTrades"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "ExistingDIM"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "ExstingDim1"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "ExstingDimMaxID"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "DIMENTITY"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "DIMENTITY1"
						}
					],
					"transformations": [
						{
							"name": "FilterProfessionalStatu"
						},
						{
							"name": "SelectIN"
						},
						{
							"name": "AggDistinct"
						},
						{
							"name": "SelectExits"
						},
						{
							"name": "LatestEntityID"
						},
						{
							"name": "Join1"
						},
						{
							"name": "ExstingRecordHash"
						},
						{
							"name": "Exists1"
						},
						{
							"name": "SourceRecordHash"
						},
						{
							"name": "DerivedColumn"
						},
						{
							"name": "Lookup1"
						},
						{
							"name": "NewRecords"
						},
						{
							"name": "Join2"
						},
						{
							"name": "SurrogateKey1"
						},
						{
							"name": "RunInfor"
						},
						{
							"name": "AlterRow1"
						},
						{
							"name": "ExstingRecordHashSelect"
						},
						{
							"name": "RunInfo2"
						},
						{
							"name": "AlterRow2"
						}
					],
					"script": "source(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of platform} as short,\n\t\t{SheTrades Project} as string,\n\t\t{Date of data collection} as short,\n\t\t{First name} as string,\n\t\t{Last name} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\tCountry as string,\n\t\tEmail as string,\n\t\t{Job title} as string,\n\t\t{Professional status} as string,\n\t\t{Organization/ Company name} as string,\n\t\t{Type of entity} as string,\n\t\tCity as string,\n\t\tSize as string,\n\t\tISIC as string,\n\t\t{Please select the area of your activity} as string,\n\t\tHS as string,\n\t\t{Owner/ top manager gender} as string,\n\t\t{Owner/ top manager age} as string,\n\t\t{Type of event} as string,\n\t\t{Phone number} as string,\n\t\t{Registration Date} as timestamp,\n\t\t{Submission Date} as timestamp,\n\t\t{Middle name} as string,\n\t\t{Date of birth} as date,\n\t\t{Sub-type of entity} as string,\n\t\t{BSO ownership} as string,\n\t\t{Office Address} as string,\n\t\t{Post Code} as string,\n\t\tWebsite as string,\n\t\tTwitter as string,\n\t\tLinkedIn as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcSheTrades\nsource(output(\n\t\tENTITY_SR_KEY as integer,\n\t\tENTITY_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tENTITY_NAME as string,\n\t\tENTITY_EMAIL_DOMAIN_NAME as string,\n\t\tADDRESS as string,\n\t\tCITY as string,\n\t\tREGION as string,\n\t\t{PHONE NUMBER} as string,\n\t\tWEBSITE as string,\n\t\tTWITTER as string,\n\t\tLINKEDIN as string,\n\t\tBSO_OWNERSHIP as string,\n\t\tPOST_CODE as string,\n\t\tPOBOX as string,\n\t\tCITY_REGION as string,\n\t\tCATEGORY as string,\n\t\tCONFIDENTIAL as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tOTHER_EMAILS as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_INFORMATION as string,\n\t\tMAILING_ADDRESS_STREET1 as string,\n\t\tMAILING_ADDRESS_STREET2 as string,\n\t\tMAILING_ADDRESS_CITY as string,\n\t\tMAILING_STATE_PROVICE as string,\n\t\tMAILING_POST_CODE as string,\n\t\tMAILING_COUNTRY as string,\n\t\tMAILING_FORMAT_UN as string,\n\t\tFIRM_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ExistingDIM\nsource(output(\n\t\tENTITY_SR_KEY as integer,\n\t\tENTITY_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tENTITY_NAME as string,\n\t\tENTITY_EMAIL_DOMAIN_NAME as string,\n\t\tADDRESS as string,\n\t\tCITY as string,\n\t\tREGION as string,\n\t\t{PHONE NUMBER} as string,\n\t\tWEBSITE as string,\n\t\tTWITTER as string,\n\t\tLINKEDIN as string,\n\t\tBSO_OWNERSHIP as string,\n\t\tPOST_CODE as string,\n\t\tPOBOX as string,\n\t\tCITY_REGION as string,\n\t\tCATEGORY as string,\n\t\tCONFIDENTIAL as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tOTHER_EMAILS as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_INFORMATION as string,\n\t\tMAILING_ADDRESS_STREET1 as string,\n\t\tMAILING_ADDRESS_STREET2 as string,\n\t\tMAILING_ADDRESS_CITY as string,\n\t\tMAILING_STATE_PROVICE as string,\n\t\tMAILING_POST_CODE as string,\n\t\tMAILING_COUNTRY as string,\n\t\tMAILING_FORMAT_UN as string,\n\t\tFIRM_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ExstingDim1\nsource(output(\n\t\tMAX_VAL as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: 'Select IsNULL(Max(ENTITY_ID),0) MAX_VAL\\nFROM MART_OWNER.DIM_ENTITY',\n\tformat: 'query') ~> ExstingDimMaxID\nSrcSheTrades filter(upper(trim({Professional status}))=='SELF-EMPLOYED/ FREELANCER') ~> FilterProfessionalStatu\nFilterProfessionalStatu select(mapColumn(\n\t\tProjectID,\n\t\tEMAIL = Email,\n\t\tENTITY_NAME = {Organization/ Company name},\n\t\tCITY = City,\n\t\tBSO_OWNERSHIP = {BSO ownership},\n\t\tADDRESS = {Office Address},\n\t\tPOST_CODE = {Post Code},\n\t\tWEBSITE = Website,\n\t\tTWITTER = Twitter,\n\t\tLINKEDIN = LinkedIn,\n\t\tFILE_NAME,\n\t\tLOAD_TIMESTAMP,\n\t\tSOURCE = FILE_NAME\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectIN\nSelectIN aggregate(groupBy({Organization/ Company name} = ENTITY_NAME),\n\teach(match(name!='ENTITY_NAME'), $$ = last($$))) ~> AggDistinct\nExistingDIM select(mapColumn(\n\t\tEXIST_ENTITY_ID = ENTITY_ID,\n\t\tEXIST_VERSION_NO = VERSION_NO,\n\t\tEXIST_ENTITY_NAME = ENTITY_NAME,\n\t\tEXIST_ENTITY_EMAIL_DOMAIN_NAME = ENTITY_EMAIL_DOMAIN_NAME,\n\t\tEXIST_ADDRESS = ADDRESS,\n\t\tEXIST_CITY = CITY,\n\t\tEXIST_WEBSITE = WEBSITE,\n\t\tEXIST_TWITTER = TWITTER,\n\t\tEXIST_LINKEDIN = LINKEDIN,\n\t\tEXIST_BSO_OWNERSHIP = BSO_OWNERSHIP,\n\t\tEXIST_POST_CODE = POST_CODE,\n\t\tEXIST_SOURCE = SOURCE\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectExits\nExstingDim1 aggregate(groupBy(ENTITY_NAME,\n\t\tENTITY_ID),\n\tVERSION_NO = max(VERSION_NO)) ~> LatestEntityID\nSelectExits, LatestEntityID join(EXIST_ENTITY_ID == ENTITY_ID\n\t&& EXIST_ENTITY_NAME == ENTITY_NAME\n\t&& EXIST_VERSION_NO == VERSION_NO,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Join1\nJoin1 derive(RECORD_HASH = sha2(256,\r\nEXIST_ENTITY_NAME,\r\nEXIST_ENTITY_EMAIL_DOMAIN_NAME,\r\nEXIST_ADDRESS,\r\nEXIST_CITY,\r\nEXIST_WEBSITE,\r\nEXIST_TWITTER,\r\nEXIST_LINKEDIN,\r\nEXIST_SOURCE,\r\nEXIST_BSO_OWNERSHIP,\r\nEXIST_POST_CODE\r\n)) ~> ExstingRecordHash\nSourceRecordHash, ExstingRecordHashSelect exists(SOURCE_RECORD_HASH == RECORD_HASH,\n\tnegate:true,\n\tbroadcast: 'auto')~> Exists1\nDerivedColumn derive(SOURCE_RECORD_HASH = sha2(256,\r\n{Organization/ Company name},\r\nENTITY_EMAIL_DOMAIN_NAME,\r\nADDRESS,\r\nCITY,\r\nWEBSITE,\r\nTWITTER,\r\nLINKEDIN,\r\nFILE_NAME,\r\nBSO_OWNERSHIP,\r\nPOST_CODE\r\n)) ~> SourceRecordHash\nAggDistinct derive(ENTITY_EMAIL_DOMAIN_NAME = substring(EMAIL, instr(EMAIL, '@')+1)) ~> DerivedColumn\nExists1, ExstingRecordHashSelect lookup({Organization/ Company name} == EXIST_ENTITY_NAME,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> Lookup1\nLookup1 split(isNull(EXIST_ENTITY_ID),\n\tdisjoint: false) ~> NewRecords@(NewRecords, UpdateRecord)\nNewRecords@NewRecords, ExstingDimMaxID join(1==1,\n\tjoinType:'cross',\n\tbroadcast: 'auto')~> Join2\nJoin2 keyGenerate(output(Dim_Surrogate_Key1 as long),\n\tstartAt: 1L) ~> SurrogateKey1\nSurrogateKey1 derive(ENTITY_ID = MAX_VAL + Dim_Surrogate_Key1,\n\t\tVERSION_NO = 1,\n\t\tBATCH_ID = 1,\n\t\tSOURCE = FILE_NAME,\n\t\tCREATED_BY = FILE_NAME,\n\t\tUPDATED_BY = FILE_NAME,\n\t\tDATE_CREATED = currentDate(),\n\t\tDATE_UPDATED = currentDate()) ~> RunInfor\nRunInfor alterRow(insertIf(1==1)) ~> AlterRow1\nExstingRecordHash select(mapColumn(\n\t\tEXIST_ENTITY_ID,\n\t\tEXIST_VERSION_NO,\n\t\tEXIST_ENTITY_NAME,\n\t\tRECORD_HASH\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> ExstingRecordHashSelect\nNewRecords@UpdateRecord derive(VERSION_NO = EXIST_VERSION_NO + 1,\n\t\tBATCH_ID = 1,\n\t\tSOURCE = FILE_NAME,\n\t\tCREATED_BY = FILE_NAME,\n\t\tUPDATED_BY = FILE_NAME,\n\t\tDATE_CREATED = currentDate(),\n\t\tDATE_UPDATED = currentDate()) ~> RunInfo2\nRunInfo2 alterRow(insertIf(1==1)) ~> AlterRow2\nAlterRow1 sink(input(\n\t\tENTITY_SR_KEY as integer,\n\t\tENTITY_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tENTITY_NAME as string,\n\t\tENTITY_EMAIL_DOMAIN_NAME as string,\n\t\tADDRESS as string,\n\t\tCITY as string,\n\t\tREGION as string,\n\t\t{PHONE NUMBER} as string,\n\t\tWEBSITE as string,\n\t\tTWITTER as string,\n\t\tLINKEDIN as string,\n\t\tBSO_OWNERSHIP as string,\n\t\tPOST_CODE as string,\n\t\tPOBOX as string,\n\t\tCITY_REGION as string,\n\t\tCATEGORY as string,\n\t\tCONFIDENTIAL as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tOTHER_EMAILS as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_INFORMATION as string,\n\t\tMAILING_ADDRESS_STREET1 as string,\n\t\tMAILING_ADDRESS_STREET2 as string,\n\t\tMAILING_ADDRESS_CITY as string,\n\t\tMAILING_STATE_PROVICE as string,\n\t\tMAILING_POST_CODE as string,\n\t\tMAILING_COUNTRY as string,\n\t\tMAILING_FORMAT_UN as string,\n\t\tFIRM_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tENTITY_ID,\n\t\tVERSION_NO,\n\t\tENTITY_EMAIL_DOMAIN_NAME,\n\t\tADDRESS,\n\t\tCITY,\n\t\tWEBSITE,\n\t\tTWITTER,\n\t\tLINKEDIN,\n\t\tBSO_OWNERSHIP,\n\t\tPOST_CODE,\n\t\tBATCH_ID,\n\t\tSOURCE,\n\t\tCREATED_BY,\n\t\tUPDATED_BY,\n\t\tDATE_CREATED,\n\t\tDATE_UPDATED\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DIMENTITY\nAlterRow2 sink(input(\n\t\tENTITY_SR_KEY as integer,\n\t\tENTITY_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tENTITY_NAME as string,\n\t\tENTITY_EMAIL_DOMAIN_NAME as string,\n\t\tADDRESS as string,\n\t\tCITY as string,\n\t\tREGION as string,\n\t\t{PHONE NUMBER} as string,\n\t\tWEBSITE as string,\n\t\tTWITTER as string,\n\t\tLINKEDIN as string,\n\t\tBSO_OWNERSHIP as string,\n\t\tPOST_CODE as string,\n\t\tPOBOX as string,\n\t\tCITY_REGION as string,\n\t\tCATEGORY as string,\n\t\tCONFIDENTIAL as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tOTHER_EMAILS as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_INFORMATION as string,\n\t\tMAILING_ADDRESS_STREET1 as string,\n\t\tMAILING_ADDRESS_STREET2 as string,\n\t\tMAILING_ADDRESS_CITY as string,\n\t\tMAILING_STATE_PROVICE as string,\n\t\tMAILING_POST_CODE as string,\n\t\tMAILING_COUNTRY as string,\n\t\tMAILING_FORMAT_UN as string,\n\t\tFIRM_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tENTITY_ID = EXIST_ENTITY_ID,\n\t\tVERSION_NO,\n\t\tENTITY_NAME = EXIST_ENTITY_NAME,\n\t\tENTITY_EMAIL_DOMAIN_NAME,\n\t\tADDRESS,\n\t\tCITY,\n\t\tWEBSITE,\n\t\tTWITTER,\n\t\tLINKEDIN,\n\t\tBSO_OWNERSHIP,\n\t\tPOST_CODE,\n\t\tBATCH_ID,\n\t\tSOURCE,\n\t\tCREATED_BY,\n\t\tUPDATED_BY,\n\t\tDATE_CREATED,\n\t\tDATE_UPDATED\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DIMENTITY1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_SHE_TRADES_STAGE_DWH_LAKE')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "STAGE_SHE_TRADES",
								"type": "DatasetReference"
							},
							"name": "SrcStageSheTrades"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DWH_SHE_TRADES",
								"type": "DatasetReference"
							},
							"name": "DWHSHETRADES"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "parameters{\n\tP_DWH_FILE_NAME as string\n}\nsource(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of platform} as string,\n\t\t{SheTrades Project} as string,\n\t\t{Date of data collection} as string,\n\t\t{First name} as string,\n\t\t{Last name} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\tCountry as string,\n\t\tEmail as string,\n\t\t{Job title} as string,\n\t\t{Professional status} as string,\n\t\t{Organization/ Company name} as string,\n\t\t{Type of entity} as string,\n\t\tCity as string,\n\t\tSize as string,\n\t\tISIC as string,\n\t\t{Please select the area of your activity} as string,\n\t\tHS as string,\n\t\t{Owner/ top manager gender} as string,\n\t\t{Owner/ top manager age} as string,\n\t\t{Type of event} as string,\n\t\t{Phone number} as string,\n\t\t{Registration Date} as string,\n\t\t{Submission Date} as string,\n\t\t{Middle name} as string,\n\t\t{Date of birth} as string,\n\t\t{Sub-type of entity} as string,\n\t\t{BSO ownership} as string,\n\t\t{Office Address} as string,\n\t\t{Post Code} as string,\n\t\tWebsite as string,\n\t\tTwitter as string,\n\t\tLinkedIn as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcStageSheTrades\nSrcStageSheTrades derive({Year of birth} = iif(toInteger({Year of birth}) < year(currentUTC()), '', {Year of birth}),\n\t\tNEW_DATALAKE_FILE = 'SHE_TRADES/'+replace($P_DWH_FILE_NAME, '.csv', '_'+toString(currentTimestamp(),'YYYYMMdd_HHmmss')+'.csv')) ~> DerivedColumn1\nDerivedColumn1 sink(input(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of platform} as string,\n\t\t{SheTrades Project} as string,\n\t\t{Date of data collection} as string,\n\t\t{First name} as string,\n\t\t{Last name} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\tCountry as string,\n\t\tEmail as string,\n\t\t{Job title} as string,\n\t\t{Professional status} as string,\n\t\t{Organization/ Company name} as string,\n\t\t{Type of entity} as string,\n\t\tCity as string,\n\t\tSize as string,\n\t\tISIC as string,\n\t\t{Please select the area of your activity} as string,\n\t\tHS as string,\n\t\t{Owner/ top manager gender} as string,\n\t\t{Owner/ top manager age} as string,\n\t\t{Type of event} as string,\n\t\t{Phone number} as string,\n\t\t{Registration Date} as string,\n\t\t{Submission Date} as string,\n\t\t{Middle name} as string,\n\t\t{Date of birth} as string,\n\t\t{Sub-type of entity} as string,\n\t\t{BSO ownership} as string,\n\t\t{Office Address} as string,\n\t\t{Post Code} as string,\n\t\tWebsite as string,\n\t\tTwitter as string,\n\t\tLinkedIn as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn:'NEW_DATALAKE_FILE') ~> DWHSHETRADES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/STAGE_SHE_TRADES')]"
			]
		}
	]
}