DevUNITCADF/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DevUNITCADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MART_DIM_SURVEY_DETAILS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SURVEY_DETAILS_SR_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RECORD_HASH_VALUE",
						"type": "varchar"
					},
					{
						"name": "INTERVIEWEE_NAME",
						"type": "varchar"
					},
					{
						"name": "INTERVIERWER_NAME",
						"type": "varchar"
					},
					{
						"name": "INTERVIEEE_TELEPHONE",
						"type": "varchar"
					},
					{
						"name": "INTERVIEWEE_POSITION",
						"type": "varchar"
					},
					{
						"name": "INTERVIEWEE_EMAIL",
						"type": "varchar"
					},
					{
						"name": "SUPERVISOR_NAME",
						"type": "varchar"
					},
					{
						"name": "TIME_INTERVIEW_STARTED",
						"type": "varchar"
					},
					{
						"name": "TIME_INTERVIEW_ENDED",
						"type": "varchar"
					},
					{
						"name": "INTERVIEW_DURATION",
						"type": "varchar"
					},
					{
						"name": "INTERVIEW_KEY",
						"type": "varchar"
					},
					{
						"name": "INTERVIEW_ID",
						"type": "varchar"
					},
					{
						"name": "BATCH_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SOURCE",
						"type": "varchar"
					},
					{
						"name": "CREATED_BY",
						"type": "varchar"
					},
					{
						"name": "UPDATED_BY",
						"type": "varchar"
					},
					{
						"name": "DATE_CREATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DATE_UPDATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "MART_OWNER",
					"table": "DIM_SURVEY_DETAILS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MART_DIM_SURVEY_VARIABLE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SURVEY_VARIABLE_SR_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "VARIABLE_NAME",
						"type": "varchar"
					},
					{
						"name": "SURVEY_QUESTIONIRE_VERSION_NO",
						"type": "varchar"
					},
					{
						"name": "QUENTION_TITLE",
						"type": "varchar"
					},
					{
						"name": "VARIABLE_DESC",
						"type": "varchar"
					},
					{
						"name": "RESPONSE_TYPE",
						"type": "varchar"
					},
					{
						"name": "BATCH_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SOURCE",
						"type": "varchar"
					},
					{
						"name": "CREATED_BY",
						"type": "varchar"
					},
					{
						"name": "UPDATED_BY",
						"type": "varchar"
					},
					{
						"name": "DATE_CREATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DATE_UPDATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "MART_OWNER",
					"table": "DIM_SURVEY_VARIABLE"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MART_DIM_SURVEY_VARIABLE_OPTION')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SURVEY_VARIABLE_OPTION_SR_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "VARIABLE_NAME",
						"type": "varchar"
					},
					{
						"name": "SURVEY_QUESTIONIRE_VERSION_NO",
						"type": "varchar"
					},
					{
						"name": "QUENTION_TITLE",
						"type": "varchar"
					},
					{
						"name": "OPTIONS_CODE",
						"type": "varchar"
					},
					{
						"name": "OPTIONS_DESC",
						"type": "varchar"
					},
					{
						"name": "BATCH_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SOURCE",
						"type": "varchar"
					},
					{
						"name": "CREATED_BY",
						"type": "varchar"
					},
					{
						"name": "UPDATED_BY",
						"type": "varchar"
					},
					{
						"name": "DATE_CREATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DATE_UPDATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "MART_OWNER",
					"table": "DIM_SURVEY_VARIABLE_OPTION"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MART_FACT_ENTITY_SURVEY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "PROJECT_SR_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CONTEXT_SUB_TYPE_SR_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "COUNTRY_SR_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SURVEY_DETAILS_SR_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SURVEY_DATE_SR_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SURVEY_VARIABLE_SR_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SURVEY_VARIABLE_SELECTED_OPTION_SR_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SURVEY_INTERVIEWEE_RESPONSE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CHANGE_VALUE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BATCH_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SOURCE",
						"type": "varchar"
					},
					{
						"name": "CREATED_BY",
						"type": "varchar"
					},
					{
						"name": "UPDATED_BY",
						"type": "varchar"
					},
					{
						"name": "DATE_CREATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DATE_UPDATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "MART_OWNER",
					"table": "FACT_ENTITY_SURVEY"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MART_SRC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"P_TABLE_NAME": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ENTITY_SR_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ENTITY_ID",
						"type": "varchar"
					},
					{
						"name": "VERSION_NO",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ENTITY_NAME",
						"type": "varchar"
					},
					{
						"name": "ENTITY_EMAIL_DOMAIN_NAME",
						"type": "varchar"
					},
					{
						"name": "ADDRESS",
						"type": "varchar"
					},
					{
						"name": "CITY",
						"type": "varchar"
					},
					{
						"name": "REGION",
						"type": "varchar"
					},
					{
						"name": "PHONE NUMBER",
						"type": "varchar"
					},
					{
						"name": "WEBSITE",
						"type": "varchar"
					},
					{
						"name": "TWITTER",
						"type": "varchar"
					},
					{
						"name": "LINKEDIN",
						"type": "varchar"
					},
					{
						"name": "BSO_OWNERSHIP",
						"type": "varchar"
					},
					{
						"name": "POST_CODE",
						"type": "varchar"
					},
					{
						"name": "POBOX",
						"type": "varchar"
					},
					{
						"name": "CITY_REGION",
						"type": "varchar"
					},
					{
						"name": "CATEGORY",
						"type": "varchar"
					},
					{
						"name": "CONFIDENTIAL",
						"type": "varchar"
					},
					{
						"name": "SOCIAL_MEDIA",
						"type": "varchar"
					},
					{
						"name": "OTHER_EMAILS",
						"type": "varchar"
					},
					{
						"name": "OTHER_PHONE_NUMBERS",
						"type": "varchar"
					},
					{
						"name": "OTHER_INFORMATION",
						"type": "varchar"
					},
					{
						"name": "MAILING_ADDRESS_STREET1",
						"type": "varchar"
					},
					{
						"name": "MAILING_ADDRESS_STREET2",
						"type": "varchar"
					},
					{
						"name": "MAILING_ADDRESS_CITY",
						"type": "varchar"
					},
					{
						"name": "MAILING_STATE_PROVICE",
						"type": "varchar"
					},
					{
						"name": "MAILING_POST_CODE",
						"type": "varchar"
					},
					{
						"name": "MAILING_COUNTRY",
						"type": "varchar"
					},
					{
						"name": "MAILING_FORMAT_UN",
						"type": "varchar"
					},
					{
						"name": "BATCH_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SOURCE",
						"type": "varchar"
					},
					{
						"name": "CREATED_BY",
						"type": "varchar"
					},
					{
						"name": "UPDATED_BY",
						"type": "varchar"
					},
					{
						"name": "DATE_CREATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DATE_UPDATED",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "MART_OWNER",
					"table": {
						"value": "DIM_ENTITY",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RAW_SRC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"P_PATH": {
						"type": "string"
					},
					"P_FILE_NAME": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().P_FILE_NAME",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().P_PATH",
							"type": "Expression"
						},
						"fileSystem": "source"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "Type of event",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Registration Date",
						"type": "String"
					},
					{
						"name": "Last name",
						"type": "String"
					},
					{
						"name": "Middle name",
						"type": "String"
					},
					{
						"name": "First name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Date of birth2",
						"type": "String"
					},
					{
						"name": "Country of Residence",
						"type": "String"
					},
					{
						"name": "Nationality",
						"type": "String"
					},
					{
						"name": "Organization/ Company name",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Job title",
						"type": "String"
					},
					{
						"name": "Type of entity",
						"type": "String"
					},
					{
						"name": "Sub-type of entity",
						"type": "String"
					},
					{
						"name": "Address",
						"type": "String"
					},
					{
						"name": "Cityname",
						"type": "String"
					},
					{
						"name": "Post Code",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Phone number",
						"type": "String"
					},
					{
						"name": "Website",
						"type": "String"
					},
					{
						"name": "Twitter",
						"type": "String"
					},
					{
						"name": "LinkedIn",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SRC_FILE_PARAMETER_DATASET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"P_FILE_NAME": {
						"type": "string"
					},
					"P_PATH": {
						"type": "string"
					},
					"P_FIELD_SEPARATOR": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().P_FILE_NAME",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().P_PATH",
							"type": "Expression"
						},
						"container": "source"
					},
					"columnDelimiter": {
						"value": "@dataset().P_FIELD_SEPARATOR",
						"type": "Expression"
					},
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Context",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STAGE_CRM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "CRM.csv",
						"folderPath": "STAGE",
						"fileSystem": "source"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Account Name",
						"type": "String"
					},
					{
						"name": "English Name",
						"type": "String"
					},
					{
						"name": "Acronym",
						"type": "String"
					},
					{
						"name": "Account Type",
						"type": "String"
					},
					{
						"name": "Account Sub-Type",
						"type": "String"
					},
					{
						"name": "Office Address: Country",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "Parent Account",
						"type": "String"
					},
					{
						"name": "Website",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Phone number",
						"type": "String"
					},
					{
						"name": "Confidential",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "Activity",
						"type": "String"
					},
					{
						"name": "Product",
						"type": "String"
					},
					{
						"name": "Women Managed",
						"type": "String"
					},
					{
						"name": "Youth Managed",
						"type": "String"
					},
					{
						"name": "Social media",
						"type": "String"
					},
					{
						"name": "Other emails",
						"type": "String"
					},
					{
						"name": "Other phone numbers",
						"type": "String"
					},
					{
						"name": "Other information",
						"type": "String"
					},
					{
						"name": "Ownership and management",
						"type": "String"
					},
					{
						"name": "Trade Forum",
						"type": "String"
					},
					{
						"name": "Office Address: Street 1",
						"type": "String"
					},
					{
						"name": "Office Address: Street 2",
						"type": "String"
					},
					{
						"name": "Office Address: City",
						"type": "String"
					},
					{
						"name": "Office Address: State/Province",
						"type": "String"
					},
					{
						"name": "Office Address: ZIP/Postal Code",
						"type": "String"
					},
					{
						"name": "Mailing address is equal to office address",
						"type": "String"
					},
					{
						"name": "Mailing Address: Street 1",
						"type": "String"
					},
					{
						"name": "Mailing Address: Street 2",
						"type": "String"
					},
					{
						"name": "Mailing Address: City",
						"type": "String"
					},
					{
						"name": "Mailing Address: State/Province",
						"type": "String"
					},
					{
						"name": "Mailing Address: ZIP/Postal Code",
						"type": "String"
					},
					{
						"name": "Mailing Address: Country",
						"type": "String"
					},
					{
						"name": "UN Mailing Format",
						"type": "String"
					},
					{
						"name": "Project Number",
						"type": "String"
					},
					{
						"name": "Salutation",
						"type": "String"
					},
					{
						"name": "First Name",
						"type": "String"
					},
					{
						"name": "Last Name",
						"type": "String"
					},
					{
						"name": "Account",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Job title",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Phone",
						"type": "String"
					},
					{
						"name": "Preferred Language",
						"type": "String"
					},
					{
						"name": "Skype",
						"type": "String"
					},
					{
						"name": "Use account address",
						"type": "String"
					},
					{
						"name": "Event title",
						"type": "String"
					},
					{
						"name": "Event type",
						"type": "String"
					},
					{
						"name": "Type of tool",
						"type": "String"
					},
					{
						"name": "Course name",
						"type": "String"
					},
					{
						"name": "Start date",
						"type": "String"
					},
					{
						"name": "End date",
						"type": "String"
					},
					{
						"name": "Event date",
						"type": "String"
					},
					{
						"name": "SME Trade Academy",
						"type": "String"
					},
					{
						"name": "SheTrades",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STAGE_NTF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "NTF.csv",
						"folderPath": "STAGE",
						"fileSystem": "source"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "FirmID",
						"type": "String"
					},
					{
						"name": "Date of data collection",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "interviewkey",
						"type": "String"
					},
					{
						"name": "interviewid",
						"type": "String"
					},
					{
						"name": "A01",
						"type": "String"
					},
					{
						"name": "A02",
						"type": "String"
					},
					{
						"name": "A03",
						"type": "String"
					},
					{
						"name": "A04",
						"type": "String"
					},
					{
						"name": "A06",
						"type": "String"
					},
					{
						"name": "A07",
						"type": "String"
					},
					{
						"name": "A09",
						"type": "String"
					},
					{
						"name": "A10",
						"type": "String"
					},
					{
						"name": "A11",
						"type": "String"
					},
					{
						"name": "A12",
						"type": "String"
					},
					{
						"name": "A13",
						"type": "String"
					},
					{
						"name": "B01",
						"type": "String"
					},
					{
						"name": "B03",
						"type": "String"
					},
					{
						"name": "B17",
						"type": "String"
					},
					{
						"name": "BA03",
						"type": "String"
					},
					{
						"name": "BA04",
						"type": "String"
					},
					{
						"name": "BA07",
						"type": "String"
					},
					{
						"name": "BA08",
						"type": "String"
					},
					{
						"name": "BA11",
						"type": "String"
					},
					{
						"name": "BA12",
						"type": "String"
					},
					{
						"name": "BA13",
						"type": "String"
					},
					{
						"name": "BA14",
						"type": "String"
					},
					{
						"name": "BA15",
						"type": "String"
					},
					{
						"name": "BB02",
						"type": "String"
					},
					{
						"name": "BB08",
						"type": "String"
					},
					{
						"name": "BB09",
						"type": "String"
					},
					{
						"name": "BC03",
						"type": "String"
					},
					{
						"name": "BC04",
						"type": "String"
					},
					{
						"name": "C04",
						"type": "String"
					},
					{
						"name": "C05",
						"type": "String"
					},
					{
						"name": "DA01",
						"type": "String"
					},
					{
						"name": "DB01",
						"type": "String"
					},
					{
						"name": "DB02",
						"type": "String"
					},
					{
						"name": "DB03",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STAGE_OLAC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "STAGE",
						"fileSystem": "source"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "Type of training",
						"type": "String"
					},
					{
						"name": "Course_name",
						"type": "String"
					},
					{
						"name": "Area of change",
						"type": "String"
					},
					{
						"name": "Service theme 1",
						"type": "String"
					},
					{
						"name": "Service theme 2",
						"type": "String"
					},
					{
						"name": "Date of data collection",
						"type": "String"
					},
					{
						"name": "Location",
						"type": "String"
					},
					{
						"name": "First name",
						"type": "String"
					},
					{
						"name": "Last name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Name of the entity",
						"type": "String"
					},
					{
						"name": "Type of entity",
						"type": "String"
					},
					{
						"name": "Sub-type of entity",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "ISIC code division",
						"type": "String"
					},
					{
						"name": "HS 6 digit code (if available)",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STAGE_SHE_TRADES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "SHE_TRADES.csv",
						"folderPath": "STAGE",
						"fileSystem": "source"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "Type of platform",
						"type": "String"
					},
					{
						"name": "SheTrades Project",
						"type": "String"
					},
					{
						"name": "Date of data collection",
						"type": "String"
					},
					{
						"name": "First name",
						"type": "String"
					},
					{
						"name": "Last name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Job title",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Organization/ Company name",
						"type": "String"
					},
					{
						"name": "Type of entity",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "ISIC",
						"type": "String"
					},
					{
						"name": "Please select the area of your activity",
						"type": "String"
					},
					{
						"name": "HS",
						"type": "String"
					},
					{
						"name": "Owner/ top manager gender",
						"type": "String"
					},
					{
						"name": "Owner/ top manager age",
						"type": "String"
					},
					{
						"name": "Type of event",
						"type": "String"
					},
					{
						"name": "Phone number",
						"type": "String"
					},
					{
						"name": "Registration Date",
						"type": "String"
					},
					{
						"name": "Submission Date",
						"type": "String"
					},
					{
						"name": "Middle name",
						"type": "String"
					},
					{
						"name": "Date of birth",
						"type": "String"
					},
					{
						"name": "Sub-type of entity",
						"type": "String"
					},
					{
						"name": "BSO ownership",
						"type": "String"
					},
					{
						"name": "Office Address",
						"type": "String"
					},
					{
						"name": "Post Code",
						"type": "String"
					},
					{
						"name": "Website",
						"type": "String"
					},
					{
						"name": "Twitter",
						"type": "String"
					},
					{
						"name": "LinkedIn",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STAGE_WEDF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "WEDF.csv",
						"folderPath": "STAGE",
						"fileSystem": "source"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "Type of event",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Phone number",
						"type": "String"
					},
					{
						"name": "Registration Date",
						"type": "String"
					},
					{
						"name": "Submission Date",
						"type": "String"
					},
					{
						"name": "Last name",
						"type": "String"
					},
					{
						"name": "Middle name",
						"type": "String"
					},
					{
						"name": "First name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Date of birth",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Organization/ Company name",
						"type": "String"
					},
					{
						"name": "Job title",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Type of entity",
						"type": "String"
					},
					{
						"name": "Sub-type of entity",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "BSO ownership",
						"type": "String"
					},
					{
						"name": "Office Address",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Post Code",
						"type": "String"
					},
					{
						"name": "Website",
						"type": "String"
					},
					{
						"name": "Twitter",
						"type": "String"
					},
					{
						"name": "LinkedIn",
						"type": "String"
					},
					{
						"name": "Date of birth2",
						"type": "String"
					},
					{
						"name": "Country of Residence",
						"type": "String"
					},
					{
						"name": "Nationality",
						"type": "String"
					},
					{
						"name": "Address",
						"type": "String"
					},
					{
						"name": "Cityname",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_DWH_TO_MART')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DWH_READ",
								"type": "DatasetReference",
								"parameters": {
									"P_FILE_NAME": "WEDF 2019 registration data_POC_1905_20200602_082542.csv",
									"P_PATH": "WEDF"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DWH_STAGE",
								"type": "DatasetReference",
								"parameters": {
									"P_FILE_NAME": "ALL_COL_FILE.csv"
								}
							}
						]
					},
					{
						"name": "Copy data1_copy1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DWH_READ",
								"type": "DatasetReference",
								"parameters": {
									"P_FILE_NAME": "Data_input_from_Dynamics_to_Data_Warehouse_Techm - Account Form_20200602_111523.csv",
									"P_PATH": "CRM"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DWH_STAGE",
								"type": "DatasetReference",
								"parameters": {
									"P_FILE_NAME": "ALL_COL_FILE.csv"
								}
							}
						]
					},
					{
						"name": "Copy data1_copy1_copy1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DWH_READ",
								"type": "DatasetReference",
								"parameters": {
									"P_FILE_NAME": "SheTrades Global 2019_POC_1905_20200602_082228.csv",
									"P_PATH": "SHE_TRADES"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DWH_STAGE",
								"type": "DatasetReference",
								"parameters": {
									"P_FILE_NAME": "ALL_COL_FILE.csv"
								}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_FILE_LOADING')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get File Using Metadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "SRC_FILE_PARAMETER_DATASET",
								"type": "DatasetReference",
								"parameters": {
									"P_FILE_NAME": {
										"value": "@pipeline().parameters.P_FILE_NAME_FORMAT",
										"type": "Expression"
									},
									"P_PATH": {
										"value": "@pipeline().parameters.P_FILE_PATH",
										"type": "Expression"
									},
									"P_FIELD_SEPARATOR": {
										"value": "@pipeline().parameters.P_FIELD_SEPARATOR",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEachFiles",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "File Type Filter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('File Type Filter').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set Stage Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_STAGE_TABLE",
										"value": {
											"value": "@{pipeline().parameters.P_STAGE_TABLE}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Final Target Table",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_TARGET_TABLE",
										"value": {
											"value": "@{pipeline().parameters.P_TARGET_TABLE}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Clean Query",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Stage Table",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set Final Target Table",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set Failed File Path",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set Loaded File Path",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set Source Name",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_CLEAN_TEMP_QUERY",
										"value": {
											"value": "TRUNCATE TABLE DWH.@{variables('V_STAGE_TABLE')}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Source Query",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Copy Source File To Stage",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_SOURCE_QUERY",
										"value": {
											"value": "SELECT A.*,  'ITC' SOURCE, '@{item().name}' FILE_NAME, GETDATE ()  LOAD_TIMESTAMP FROM DWH.@{variables('V_STAGE_TABLE')} A",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy Source File To Stage",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set Clean Query",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "@{variables('V_CLEAN_TEMP_QUERY')}",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@pipeline().parameters.P_FILE_PATH",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": {
													"value": "@pipeline().parameters.P_FIELD_SEPARATOR",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DWH_SQL_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_TABLE_NAME": {
													"value": "@{variables('V_STAGE_TABLE')}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Copy Stage to Target Table",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set Source Query",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@variables('V_SOURCE_QUERY')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DWH_SQL_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_TABLE_NAME": "Select NULL"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DWH_SQL_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_TABLE_NAME": {
													"value": "@{variables('V_TARGET_TABLE')}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Move Failed Files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy Source File To Stage",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@pipeline().parameters.P_FILE_PATH",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": {
													"value": "@pipeline().parameters.P_FIELD_SEPARATOR",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_FAILED_PATH')",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": {
													"value": "@pipeline().parameters.P_FIELD_SEPARATOR",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Move success Files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy Stage to Target Table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@pipeline().parameters.P_FILE_PATH",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": {
													"value": "@pipeline().parameters.P_FIELD_SEPARATOR",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_LOADED_PATH')",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": {
													"value": "@pipeline().parameters.P_FIELD_SEPARATOR",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Set Failed File Path",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_FAILED_PATH",
										"value": {
											"value": "@{pipeline().parameters.P_FILE_PATH}/failed",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Loaded File Path",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_LOADED_PATH",
										"value": {
											"value": "@{pipeline().parameters.P_FILE_PATH}/loaded",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Delete After Moved to Failed",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Move Failed Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@pipeline().parameters.P_FILE_PATH",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": "|"
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": false
										}
									}
								},
								{
									"name": "Delete After Moved to Loaded",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Move success Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@pipeline().parameters.P_FILE_PATH",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": "|"
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": false
										}
									}
								},
								{
									"name": "Set Source Name",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_SOURCE_NAME",
										"value": {
											"value": "@pipeline().parameters.P_SOURCE",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Move Failed Files_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy Stage to Target Table",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@pipeline().parameters.P_FILE_PATH",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": {
													"value": "@pipeline().parameters.P_FIELD_SEPARATOR",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_FAILED_PATH')",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": {
													"value": "@pipeline().parameters.P_FIELD_SEPARATOR",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete After Moved to Failed_copy1",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Move Failed Files_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "SRC_FILE_PARAMETER_DATASET",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@item().name",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@pipeline().parameters.P_FILE_PATH",
													"type": "Expression"
												},
												"P_FIELD_SEPARATOR": {
													"value": "@pipeline().parameters.P_FIELD_SEPARATOR",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": false
										}
									}
								}
							]
						}
					},
					{
						"name": "File Type Filter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get File Using Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get File Using Metadata').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"P_FILE_NAME_FORMAT": {
						"type": "string"
					},
					"P_FILE_PATH": {
						"type": "string"
					},
					"P_FIELD_SEPARATOR": {
						"type": "string"
					},
					"P_STAGE_TABLE": {
						"type": "string"
					},
					"P_TARGET_TABLE": {
						"type": "string"
					},
					"P_SOURCE": {
						"type": "string"
					}
				},
				"variables": {
					"V_SOURCE_QUERY": {
						"type": "String"
					},
					"V_CLEAN_TEMP_QUERY": {
						"type": "String"
					},
					"V_STAGE_TABLE": {
						"type": "String"
					},
					"V_TARGET_TABLE": {
						"type": "String"
					},
					"V_FAILED_PATH": {
						"type": "String"
					},
					"V_LOADED_PATH": {
						"type": "String"
					},
					"V_SOURCE_NAME": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SRC_FILE_PARAMETER_DATASET')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_MART_MASTER_DIM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetPipelineRunInfo",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Start the Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT R.PERIOD_START,R.PERIOD_END,R.SNAP_DATE,R.BATCH_NBR,PIPELINE_NAME  FROM DWH.PIPELINE_INFO P, DWH.PIPELINE_RUNS R  WHERE P.PIPELINE_ID = R.PIPELINE_ID AND R.PIPELINE_RUN_STATUS = '1' AND P.PIPELINE_NAME = '@{pipeline().parameters.P_PIPELINE_NAME}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "DWH_SQL_PARAMETER_DATASET",
								"type": "DatasetReference",
								"parameters": {
									"P_TABLE_NAME": "NULL"
								}
							}
						}
					},
					{
						"name": "Set PERIOD_START",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetPipelineRunInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_RANGE_START",
							"value": {
								"value": "@activity('GetPipelineRunInfo').output.firstRow.PERIOD_START",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set SNAP_DATE",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetPipelineRunInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_SNAP_DATE",
							"value": {
								"value": "@activity('GetPipelineRunInfo').output.firstRow.SNAP_DATE",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set BATCH_NBR",
						"description": "",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set SNAP_DATE",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set PERIOD END",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set PERIOD_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_BATCH_NBR",
							"value": {
								"value": "@{activity('GetPipelineRunInfo').output.firstRow.BATCH_NBR}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set PERIOD END",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetPipelineRunInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_RANGE_END",
							"value": {
								"value": "@activity('GetPipelineRunInfo').output.firstRow.PERIOD_END",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Start the Pipeline",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[PRC_DWH_START_PIPELINE]",
							"storedProcedureParameters": {
								"P_IN_PIPELINE_NAME": {
									"value": "PIP_MART_MASTER_DIM",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_AGE_GROUP",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[PRC_MART_DIM_AGE_GROUP]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_AREA_OF_CHANGE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_AREA_OF_CHANGE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_CONTEXT_SUB_TYPE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_CONTEXT_SUB_TYPE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_COUNTRY",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_COUNTRY]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_ENTITY_SIZE_GROUP",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_ENTITY_SIZE_GROUP]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_ENTITY_SUB_TYPE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_ENTITY_SUB_TYPE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_ENTITY_TYPE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_ENTITY_TYPE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_EVENT_TYPE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_EVENT_TYPE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_GENDER",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_GENDER]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_INT_STD_INDUSTRY_CODES_ISIC",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_INT_STD_INDUSTRY_CODES_ISIC]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_ITC_SECTION",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_ITC_SECTION]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_PLATFORM_TYPE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_PLATFORM_TYPE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_PROFESSIONAL_STATUS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_PROFESSIONAL_STATUS]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_PROJECT",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_PROJECT]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_PROJECT_STAGE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_PROJECT_STAGE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_SERVICE_THEME",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_SERVICE_THEME]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_RELATION",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_RELATION]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_HS_CODES",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_HS_CODES]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_SURVEY_VARIABLE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_SURVEY_VARIABLE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_SURVEY_VARIABLE_OPTION",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_SURVEY_VARIABLE_OPTION]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"P_PIPELINE_NAME": {
						"type": "string",
						"defaultValue": "PIP_MART_MASTER_DIM"
					}
				},
				"variables": {
					"V_RANGE_START": {
						"type": "String"
					},
					"V_RANGE_END": {
						"type": "String"
					},
					"V_SNAP_DATE": {
						"type": "String"
					},
					"V_BATCH_NBR": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_MART_WITH_DATAFLOW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetPipelineRunInfo",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Start the Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT R.PERIOD_START,R.PERIOD_END,R.SNAP_DATE,R.BATCH_NBR,PIPELINE_NAME  FROM DWH.PIPELINE_INFO P, DWH.PIPELINE_RUNS R  WHERE P.PIPELINE_ID = R.PIPELINE_ID AND R.PIPELINE_RUN_STATUS = '1' AND P.PIPELINE_NAME = '@{pipeline().parameters.P_PIPELINE_NAME}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "DWH_SQL_PARAMETER_DATASET",
								"type": "DatasetReference",
								"parameters": {
									"P_TABLE_NAME": "NULL"
								}
							}
						}
					},
					{
						"name": "Set PERIOD_START",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetPipelineRunInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_PERIOD_START",
							"value": {
								"value": "@activity('GetPipelineRunInfo').output.firstRow.PERIOD_START",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set SNAP_DATE",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetPipelineRunInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_SNAP_DATE",
							"value": {
								"value": "@activity('GetPipelineRunInfo').output.firstRow.SNAP_DATE",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set BATCH_NBR",
						"description": "",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set PERIOD END",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set SNAP_DATE",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set PERIOD_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_BATCH_NBR",
							"value": {
								"value": "@{activity('GetPipelineRunInfo').output.firstRow.BATCH_NBR}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set PERIOD END",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetPipelineRunInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_PERIOD_END",
							"value": {
								"value": "@activity('GetPipelineRunInfo').output.firstRow.PERIOD_END",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Start the Pipeline",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[PRC_DWH_START_PIPELINE]",
							"storedProcedureParameters": {
								"P_IN_PIPELINE_NAME": {
									"value": "PIP_MART_MASTER_DIM",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"P_PIPELINE_NAME": {
						"type": "string"
					}
				},
				"variables": {
					"V_PERIOD_START": {
						"type": "String"
					},
					"V_PERIOD_END": {
						"type": "String"
					},
					"V_SNAP_DATE": {
						"type": "String"
					},
					"V_BATCH_NBR": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_CRM_STAGE_DWH_LAKE')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "STAGE_CRM",
								"type": "DatasetReference"
							},
							"name": "SrcStageCRM"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DWH_CRM",
								"type": "DatasetReference"
							},
							"name": "DWHCRM"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "parameters{\n\tP_DWH_FILE_NAME as string\n}\nsource(output(\n\t\t{Account Name} as string,\n\t\t{English Name} as string,\n\t\tAcronym as string,\n\t\t{Account Type} as string,\n\t\t{Account Sub-Type} as string,\n\t\t{Office Address: Country} as string,\n\t\tCategory as string,\n\t\t{Parent Account} as string,\n\t\tWebsite as string,\n\t\tEmail as string,\n\t\t{Phone number} as string,\n\t\tConfidential as string,\n\t\tSize as string,\n\t\tActivity as string,\n\t\tProduct as string,\n\t\t{Women Managed} as string,\n\t\t{Youth Managed} as string,\n\t\t{Social media} as string,\n\t\t{Other emails} as string,\n\t\t{Other phone numbers} as string,\n\t\t{Other information} as string,\n\t\t{Ownership and management} as string,\n\t\t{Trade Forum} as string,\n\t\t{Office Address: Street 1} as string,\n\t\t{Office Address: Street 2} as string,\n\t\t{Office Address: City} as string,\n\t\t{Office Address: State/Province} as string,\n\t\t{Office Address: ZIP/Postal Code} as string,\n\t\t{Mailing address is equal to office address} as string,\n\t\t{Mailing Address: Street 1} as string,\n\t\t{Mailing Address: Street 2} as string,\n\t\t{Mailing Address: City} as string,\n\t\t{Mailing Address: State/Province} as string,\n\t\t{Mailing Address: ZIP/Postal Code} as string,\n\t\t{Mailing Address: Country} as string,\n\t\t{UN Mailing Format} as string,\n\t\t{Project Number} as string,\n\t\tSalutation as string,\n\t\t{First Name} as string,\n\t\t{Last Name} as string,\n\t\tAccount as string,\n\t\t{Professional status} as string,\n\t\t{Job title} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\tPhone as string,\n\t\t{Preferred Language} as string,\n\t\tSkype as string,\n\t\t{Use account address} as string,\n\t\t{Event title} as string,\n\t\t{Event type} as string,\n\t\t{Type of tool} as string,\n\t\t{Course name} as string,\n\t\t{Start date} as string,\n\t\t{End date} as string,\n\t\t{Event date} as string,\n\t\t{SME Trade Academy} as string,\n\t\tSheTrades as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcStageCRM\nSrcStageCRM derive(NEW_DATALAKE_FILE = 'CRM/'+replace($P_DWH_FILE_NAME, '.csv', '_'+toString(currentTimestamp(),'YYYYMMdd_HHmmss')+'.csv')) ~> DerivedColumn1\nDerivedColumn1 sink(input(\n\t\t{Account Name} as string,\n\t\t{English Name} as string,\n\t\tAcronym as string,\n\t\t{Account Type} as string,\n\t\t{Account Sub-Type} as string,\n\t\t{Office Address: Country} as string,\n\t\tCategory as string,\n\t\t{Parent Account} as string,\n\t\tWebsite as string,\n\t\tEmail as string,\n\t\t{Phone number} as string,\n\t\tConfidential as string,\n\t\tSize as string,\n\t\tActivity as string,\n\t\tProduct as string,\n\t\t{Women Managed} as string,\n\t\t{Youth Managed} as string,\n\t\t{Social media} as string,\n\t\t{Other emails} as string,\n\t\t{Other phone numbers} as string,\n\t\t{Other information} as string,\n\t\t{Ownership and management} as string,\n\t\t{Trade Forum} as string,\n\t\t{Office Address: Street 1} as string,\n\t\t{Office Address: Street 2} as string,\n\t\t{Office Address: City} as string,\n\t\t{Office Address: State/Province} as string,\n\t\t{Office Address: ZIP/Postal Code} as string,\n\t\t{Mailing address is equal to office address} as string,\n\t\t{Mailing Address: Street 1} as string,\n\t\t{Mailing Address: Street 2} as string,\n\t\t{Mailing Address: City} as string,\n\t\t{Mailing Address: State/Province} as string,\n\t\t{Mailing Address: ZIP/Postal Code} as string,\n\t\t{Mailing Address: Country} as string,\n\t\t{UN Mailing Format} as string,\n\t\t{Project Number} as string,\n\t\tSalutation as string,\n\t\t{First Name} as string,\n\t\t{Last Name} as string,\n\t\tAccount as string,\n\t\t{Professional status} as string,\n\t\t{Job title} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\tPhone as string,\n\t\t{Preferred Language} as string,\n\t\tSkype as string,\n\t\t{Use account address} as string,\n\t\t{Event title} as string,\n\t\t{Event type} as string,\n\t\t{Type of tool} as string,\n\t\t{Course name} as string,\n\t\t{Start date} as string,\n\t\t{End date} as string,\n\t\t{Event date} as string,\n\t\t{SME Trade Academy} as string,\n\t\tSheTrades as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn:'NEW_DATALAKE_FILE',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DWHCRM"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/STAGE_CRM')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_DIM_ENTITY')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DWH_MART_STAGE",
								"type": "DatasetReference"
							},
							"name": "srcALL"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "ExistingDIM"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "ExistingDIM1"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "ExistingDIMMax"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "DIMENTITY"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "DIMENTITY1"
						}
					],
					"transformations": [
						{
							"name": "FilterProfessionalStatus"
						},
						{
							"name": "SelectReqCol"
						},
						{
							"name": "DerivedColumn1"
						},
						{
							"name": "SelectDIM"
						},
						{
							"name": "AggDistinct"
						},
						{
							"name": "SourceHASHRecords"
						},
						{
							"name": "LatestRecord"
						},
						{
							"name": "Join1"
						},
						{
							"name": "ExitingHASHRecords"
						},
						{
							"name": "Exists1"
						},
						{
							"name": "Lookup1"
						},
						{
							"name": "SelectExiting"
						},
						{
							"name": "ConditionalSplit1"
						},
						{
							"name": "SurrogateKey1"
						},
						{
							"name": "JoinMaxID"
						},
						{
							"name": "RunInfo"
						},
						{
							"name": "AlterRow1"
						},
						{
							"name": "RunInfo2"
						},
						{
							"name": "AlterRow2"
						}
					],
					"script": "source(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of event} as string,\n\t\tEmail as string,\n\t\t{Phone number} as string,\n\t\t{Registration Date} as string,\n\t\t{Submission Date} as string,\n\t\t{Last name} as string,\n\t\t{Middle name} as string,\n\t\t{First name} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\t{Date of birth} as string,\n\t\tCountry as string,\n\t\t{Organization/ Company name} as string,\n\t\t{Job title} as string,\n\t\t{Professional status} as string,\n\t\t{Type of entity} as string,\n\t\t{Sub-type of entity} as string,\n\t\tSize as string,\n\t\t{BSO ownership} as string,\n\t\t{Office Address} as string,\n\t\tCity as string,\n\t\t{Post Code} as string,\n\t\tWebsite as string,\n\t\tTwitter as string,\n\t\tLinkedIn as string,\n\t\t{Date of birth2} as string,\n\t\t{Country of Residence} as string,\n\t\tNationality as string,\n\t\tAddress as string,\n\t\tCityname as string,\n\t\tRegion as string,\n\t\t{Type of tool} as string,\n\t\t{Area of change} as string,\n\t\t{Service themes} as string,\n\t\t{Date of data collection} as string,\n\t\tid as string,\n\t\tCourse_name as string,\n\t\tUsername as string,\n\t\tTitle as string,\n\t\tidnumber as string,\n\t\tFunctional_title as string,\n\t\tHowlong as string,\n\t\tPriorexperience as string,\n\t\t{Country code} as string,\n\t\tPobox as string,\n\t\tPostalcode as string,\n\t\tSkype as string,\n\t\tAim as string,\n\t\tYahoo as string,\n\t\tMsn as string,\n\t\tProfile_field_Supervisor as string,\n\t\t{Service theme} as string,\n\t\tCityregion as string,\n\t\tCertification_date as string,\n\t\tCertified as string,\n\t\tCohort as string,\n\t\tUniqueid as string,\n\t\tUser_id as string,\n\t\tEnrol_time as string,\n\t\t{Type of platform} as string,\n\t\t{SheTrades Project} as string,\n\t\tISIC as string,\n\t\t{Please select the area of your activity} as string,\n\t\tHS as string,\n\t\t{Owner/ top manager gender} as string,\n\t\t{Owner/ top manager age} as string,\n\t\t{Type of training} as string,\n\t\t{Service theme 1} as string,\n\t\t{Service theme 2} as string,\n\t\tLocation as string,\n\t\t{Name of the entity} as string,\n\t\t{ISIC code division} as string,\n\t\t{HS 6 digit code (if available)} as string,\n\t\t{Account Name} as string,\n\t\t{English Name} as string,\n\t\tAcronym as string,\n\t\t{Account Type} as string,\n\t\t{Account Sub-Type} as string,\n\t\t{Office Address: Country} as string,\n\t\tCategory as string,\n\t\t{Parent Account} as string,\n\t\tConfidential as string,\n\t\tActivity as string,\n\t\tProduct as string,\n\t\t{Women Managed} as string,\n\t\t{Youth Managed} as string,\n\t\t{Social media} as string,\n\t\t{Other emails} as string,\n\t\t{Other phone numbers} as string,\n\t\t{Other information} as string,\n\t\t{Ownership and management} as string,\n\t\t{Trade Forum} as string,\n\t\t{Office Address: Street 1} as string,\n\t\t{Office Address: Street 2} as string,\n\t\t{Office Address: City} as string,\n\t\t{Office Address: State/Province} as string,\n\t\t{Office Address: ZIP/Postal Code} as string,\n\t\t{Mailing address is equal to office address} as string,\n\t\t{Mailing Address: Street 1} as string,\n\t\t{Mailing Address: Street 2} as string,\n\t\t{Mailing Address: City} as string,\n\t\t{Mailing Address: State/Province} as string,\n\t\t{Mailing Address: ZIP/Postal Code} as string,\n\t\t{Mailing Address: Country} as string,\n\t\t{UN Mailing Format} as string,\n\t\t{Project Number} as string,\n\t\tSalutation as string,\n\t\tAccount as string,\n\t\tPhone as string,\n\t\t{Preferred Language} as string,\n\t\t{Use account address} as string,\n\t\t{Event title} as string,\n\t\t{Event type} as string,\n\t\t{Course name} as string,\n\t\t{Start date} as string,\n\t\t{End date} as string,\n\t\t{Event date} as string,\n\t\t{SME Trade Academy} as string,\n\t\tSheTrades as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tlimit: 1000) ~> srcALL\nsource(output(\n\t\tENTITY_SR_KEY as integer,\n\t\tENTITY_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tENTITY_NAME as string,\n\t\tENTITY_EMAIL_DOMAIN_NAME as string,\n\t\tADDRESS as string,\n\t\tCITY as string,\n\t\tREGION as string,\n\t\tPHONE_NUMBER as string,\n\t\tWEBSITE as string,\n\t\tTWITTER as string,\n\t\tLINKEDIN as string,\n\t\tBSO_OWNERSHIP as string,\n\t\tPOST_CODE as string,\n\t\tPOBOX as string,\n\t\tCITY_REGION as string,\n\t\tCATEGORY as string,\n\t\tCONFIDENTIAL as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tOTHER_EMAILS as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_INFORMATION as string,\n\t\tMAILING_ADDRESS_STREET1 as string,\n\t\tMAILING_ADDRESS_STREET2 as string,\n\t\tMAILING_ADDRESS_CITY as string,\n\t\tMAILING_STATE_PROVICE as string,\n\t\tMAILING_POST_CODE as string,\n\t\tMAILING_COUNTRY as string,\n\t\tMAILING_FORMAT_UN as string,\n\t\tFIRM_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ExistingDIM\nsource(output(\n\t\tENTITY_SR_KEY as integer,\n\t\tENTITY_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tENTITY_NAME as string,\n\t\tENTITY_EMAIL_DOMAIN_NAME as string,\n\t\tADDRESS as string,\n\t\tCITY as string,\n\t\tREGION as string,\n\t\tPHONE_NUMBER as string,\n\t\tWEBSITE as string,\n\t\tTWITTER as string,\n\t\tLINKEDIN as string,\n\t\tBSO_OWNERSHIP as string,\n\t\tPOST_CODE as string,\n\t\tPOBOX as string,\n\t\tCITY_REGION as string,\n\t\tCATEGORY as string,\n\t\tCONFIDENTIAL as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tOTHER_EMAILS as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_INFORMATION as string,\n\t\tMAILING_ADDRESS_STREET1 as string,\n\t\tMAILING_ADDRESS_STREET2 as string,\n\t\tMAILING_ADDRESS_CITY as string,\n\t\tMAILING_STATE_PROVICE as string,\n\t\tMAILING_POST_CODE as string,\n\t\tMAILING_COUNTRY as string,\n\t\tMAILING_FORMAT_UN as string,\n\t\tFIRM_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ExistingDIM1\nsource(output(\n\t\tMAX_VAL as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: 'Select IsNULL(Max(ENTITY_ID),0) MAX_VAL\\nFROM MART_OWNER.DIM_ENTITY',\n\tformat: 'query') ~> ExistingDIMMax\nsrcALL filter({Professional status}!='Self-employed/ freelancer') ~> FilterProfessionalStatus\nFilterProfessionalStatus select(mapColumn(\n\t\tEmail,\n\t\t{Phone number},\n\t\t{Organization/ Company name},\n\t\t{Professional status},\n\t\t{BSO ownership},\n\t\t{Office Address},\n\t\tCity,\n\t\t{Post Code},\n\t\tWebsite,\n\t\tTwitter,\n\t\tLinkedIn,\n\t\tAddress,\n\t\tCityname,\n\t\tRegion,\n\t\tPostalcode,\n\t\tCityregion,\n\t\t{Name of the entity},\n\t\t{Account Name},\n\t\t{Office Address: Country},\n\t\tCategory,\n\t\tConfidential,\n\t\t{Social media},\n\t\t{Other emails},\n\t\t{Other phone numbers},\n\t\t{Other information},\n\t\t{Office Address: Street 1},\n\t\t{Office Address: Street 2},\n\t\t{Office Address: City},\n\t\t{Office Address: State/Province},\n\t\t{Office Address: ZIP/Postal Code},\n\t\t{Mailing Address: Street 1},\n\t\t{Mailing Address: Street 2},\n\t\t{Mailing Address: City},\n\t\t{Mailing Address: State/Province},\n\t\t{Mailing Address: ZIP/Postal Code},\n\t\t{Mailing Address: Country},\n\t\t{UN Mailing Format},\n\t\tAccount,\n\t\tPhone,\n\t\tFILE_NAME,\n\t\tLOAD_TIMESTAMP\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectReqCol\nSelectReqCol derive(ENTITY_NAME = case(isNull({Organization/ Company name})==false(),\r\n     {Organization/ Company name},\r\n     isNull({Name of the entity})==false(),\r\n     {Name of the entity},\r\n     isNull(Account)==false(),\r\n     Account,\r\n     isNull({Account Name})==false(),\r\n     {Account},\r\n     ''),\n\t\tENTITY_EMAIL_DOMAIN_NAME = substring(Email, instr(Email, '@')+1),\n\t\tADDRESS = case(isNull(Address)==false(),\r\n     Address,\r\n     isNull({Office Address})==false(),\r\n     {Office Address},\r\n     isNull({Office Address: Street 1})==false(),\r\n     {Office Address: Street 1},\r\n     ''),\n\t\tCITY = case(isNull(City)==false(),\r\n     City,\r\n     isNull(Cityname)==false(),\r\n     Cityname,\r\n     isNull({Office Address: City})==false(),\r\n     {Office Address: City},\r\n     ''),\n\t\tREGION = Region,\n\t\tPHONE_NUMBER = {Phone number},\n\t\tWEBSITE = Website,\n\t\tTWITTER = Twitter,\n\t\tLINKEDIN = LinkedIn,\n\t\tSOURCE = FILE_NAME,\n\t\tBSO_OWNERSHIP = {BSO ownership},\n\t\tPOST_CODE = case(isNull({Post Code})==false(),\r\n     {Post Code},\r\n     isNull(Postalcode)==false(),\r\n     Postalcode,\r\n     isNull({Office Address: ZIP/Postal Code})==false(),\r\n     {Office Address: ZIP/Postal Code},\r\n     ''),\n\t\tPOBOX = {Office Address: Street 2},\n\t\tCITY_REGION = case(isNull(Cityregion)==false(),\r\n     Cityregion,\r\n     isNull({Office Address: State/Province})==false(),\r\n     {Office Address: State/Province},\r\n     ''),\n\t\tCATEGORY = Category,\n\t\tCONFIDENTIAL = Confidential,\n\t\tSOCIAL_MEDIA = {Social media},\n\t\tOTHER_EMAILS = {Other emails},\n\t\tOTHER_PHONE_NUMBERS = {Other phone numbers},\n\t\tOTHER_INFORMATION = {Other information},\n\t\tMAILING_ADDRESS_STREET1 = {Mailing Address: Street 1},\n\t\tMAILING_ADDRESS_STREET2 = {Mailing Address: Street 2},\n\t\tMAILING_ADDRESS_CITY = {Mailing Address: City},\n\t\tMAILING_STATE_PROVICE = {Mailing Address: State/Province},\n\t\tMAILING_POST_CODE = {Mailing Address: ZIP/Postal Code},\n\t\tMAILING_COUNTRY = {Mailing Address: Country},\n\t\tMAILING_FORMAT_UN = {UN Mailing Format}) ~> DerivedColumn1\nDerivedColumn1 select(mapColumn(\n\t\tFILE_NAME,\n\t\tLOAD_TIMESTAMP,\n\t\tENTITY_NAME,\n\t\tENTITY_EMAIL_DOMAIN_NAME,\n\t\tADDRESS = DerivedColumn1@ADDRESS,\n\t\tCITY = DerivedColumn1@CITY,\n\t\tREGION = DerivedColumn1@REGION,\n\t\tPHONE_NUMBER,\n\t\tWEBSITE = DerivedColumn1@WEBSITE,\n\t\tTWITTER = DerivedColumn1@TWITTER,\n\t\tLINKEDIN = DerivedColumn1@LINKEDIN,\n\t\tSOURCE,\n\t\tBSO_OWNERSHIP,\n\t\tPOST_CODE,\n\t\tPOBOX,\n\t\tCITY_REGION,\n\t\tCATEGORY = DerivedColumn1@CATEGORY,\n\t\tCONFIDENTIAL = DerivedColumn1@CONFIDENTIAL,\n\t\tSOCIAL_MEDIA,\n\t\tOTHER_EMAILS,\n\t\tOTHER_PHONE_NUMBERS,\n\t\tOTHER_INFORMATION,\n\t\tMAILING_ADDRESS_STREET1,\n\t\tMAILING_ADDRESS_STREET2,\n\t\tMAILING_ADDRESS_CITY,\n\t\tMAILING_STATE_PROVICE,\n\t\tMAILING_POST_CODE,\n\t\tMAILING_COUNTRY,\n\t\tMAILING_FORMAT_UN\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectDIM\nSelectDIM aggregate(groupBy(ENTITY_NAME),\n\teach(match(name!='ENTITY_NAME'), $$ = last($$))) ~> AggDistinct\nAggDistinct derive(SOURCE_HASH_RECORD = sha2(256,\r\nENTITY_NAME,\r\nENTITY_EMAIL_DOMAIN_NAME,\r\nADDRESS,\r\nCITY,\r\nREGION,\r\nPHONE_NUMBER,\r\nWEBSITE,\r\nTWITTER,\r\nLINKEDIN,\r\nSOURCE,\r\nBSO_OWNERSHIP,\r\nPOST_CODE,\r\nPOBOX,\r\nCITY_REGION,\r\nCATEGORY,\r\nCONFIDENTIAL,\r\nSOCIAL_MEDIA,\r\nOTHER_EMAILS,\r\nOTHER_PHONE_NUMBERS,\r\nOTHER_INFORMATION,\r\nMAILING_ADDRESS_STREET1,\r\nMAILING_ADDRESS_STREET2,\r\nMAILING_ADDRESS_CITY,\r\nMAILING_STATE_PROVICE,\r\nMAILING_POST_CODE,\r\nMAILING_COUNTRY,\r\nMAILING_FORMAT_UN)) ~> SourceHASHRecords\nExistingDIM1 aggregate(groupBy(ENTITY_ID),\n\tVERSION_NO = max(VERSION_NO)) ~> LatestRecord\nExistingDIM, LatestRecord join(ExistingDIM@ENTITY_ID == LatestRecord@ENTITY_ID\n\t&& ExistingDIM@VERSION_NO == LatestRecord@VERSION_NO,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Join1\nJoin1 derive(EXISTING_RECORD_HASH = sha2(256,\r\nENTITY_NAME,\r\nENTITY_EMAIL_DOMAIN_NAME,\r\nADDRESS,\r\nCITY,\r\nREGION,\r\nPHONE_NUMBER,\r\nWEBSITE,\r\nTWITTER,\r\nLINKEDIN,\r\nSOURCE,\r\nBSO_OWNERSHIP,\r\nPOST_CODE,\r\nPOBOX,\r\nCITY_REGION,\r\nCATEGORY,\r\nCONFIDENTIAL,\r\nSOCIAL_MEDIA,\r\nOTHER_EMAILS,\r\nOTHER_PHONE_NUMBERS,\r\nOTHER_INFORMATION,\r\nMAILING_ADDRESS_STREET1,\r\nMAILING_ADDRESS_STREET2,\r\nMAILING_ADDRESS_CITY,\r\nMAILING_STATE_PROVICE,\r\nMAILING_POST_CODE,\r\nMAILING_COUNTRY,\r\nMAILING_FORMAT_UN)) ~> ExitingHASHRecords\nSourceHASHRecords, SelectExiting exists(SOURCE_HASH_RECORD == EXISTING_RECORD_HASH,\n\tnegate:true,\n\tbroadcast: 'auto')~> Exists1\nExists1, SelectExiting lookup(ENTITY_NAME == EXISTING_ENTITY_NAME,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> Lookup1\nExitingHASHRecords select(mapColumn(\n\t\tEXISTING_ENTITY_SR_KEY = ENTITY_SR_KEY,\n\t\tEXISTING_ENTITY_ID = ExistingDIM@ENTITY_ID,\n\t\tEXISTING_VERSION_NO = ExistingDIM@VERSION_NO,\n\t\tEXISTING_RECORD_HASH,\n\t\tEXISTING_ENTITY_NAME = ENTITY_NAME\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectExiting\nLookup1 split(isNull(EXISTING_ENTITY_NAME),\n\tdisjoint: false) ~> ConditionalSplit1@(NewRecord, UpdateRecord)\nConditionalSplit1@NewRecord keyGenerate(output(NEW_ENTITY_ID as long),\n\tstartAt: 1L) ~> SurrogateKey1\nSurrogateKey1, ExistingDIMMax join(1==1,\n\tjoinType:'cross',\n\tbroadcast: 'auto')~> JoinMaxID\nJoinMaxID derive(ENTITY_ID = MAX_VAL+NEW_ENTITY_ID,\n\t\tVERSION_NO = 1,\n\t\tBATCH_ID = 1,\n\t\tCREATED_BY = FILE_NAME,\n\t\tUPDATED_BY = FILE_NAME,\n\t\tDATE_CREATED = currentDate(),\n\t\tDATE_UPDATED = currentDate()) ~> RunInfo\nRunInfo alterRow(insertIf(1==1)) ~> AlterRow1\nConditionalSplit1@UpdateRecord derive(VERSION_NO = EXISTING_VERSION_NO+1,\n\t\tBATCH_ID = 1,\n\t\tCREATED_BY = FILE_NAME,\n\t\tUPDATED_BY = FILE_NAME,\n\t\tDATE_CREATED = currentDate(),\n\t\tDATE_UPDATED = currentDate()) ~> RunInfo2\nRunInfo2 alterRow(insertIf(1==1)) ~> AlterRow2\nAlterRow1 sink(input(\n\t\tENTITY_SR_KEY as integer,\n\t\tENTITY_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tENTITY_NAME as string,\n\t\tENTITY_EMAIL_DOMAIN_NAME as string,\n\t\tADDRESS as string,\n\t\tCITY as string,\n\t\tREGION as string,\n\t\tPHONE_NUMBER as string,\n\t\tWEBSITE as string,\n\t\tTWITTER as string,\n\t\tLINKEDIN as string,\n\t\tBSO_OWNERSHIP as string,\n\t\tPOST_CODE as string,\n\t\tPOBOX as string,\n\t\tCITY_REGION as string,\n\t\tCATEGORY as string,\n\t\tCONFIDENTIAL as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tOTHER_EMAILS as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_INFORMATION as string,\n\t\tMAILING_ADDRESS_STREET1 as string,\n\t\tMAILING_ADDRESS_STREET2 as string,\n\t\tMAILING_ADDRESS_CITY as string,\n\t\tMAILING_STATE_PROVICE as string,\n\t\tMAILING_POST_CODE as string,\n\t\tMAILING_COUNTRY as string,\n\t\tMAILING_FORMAT_UN as string,\n\t\tFIRM_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tENTITY_ID,\n\t\tVERSION_NO,\n\t\tENTITY_NAME,\n\t\tENTITY_EMAIL_DOMAIN_NAME,\n\t\tADDRESS,\n\t\tCITY,\n\t\tREGION,\n\t\tPHONE_NUMBER,\n\t\tWEBSITE,\n\t\tTWITTER,\n\t\tLINKEDIN,\n\t\tBSO_OWNERSHIP,\n\t\tPOST_CODE,\n\t\tPOBOX,\n\t\tCITY_REGION,\n\t\tCATEGORY,\n\t\tCONFIDENTIAL,\n\t\tSOCIAL_MEDIA,\n\t\tOTHER_EMAILS,\n\t\tOTHER_PHONE_NUMBERS,\n\t\tOTHER_INFORMATION,\n\t\tMAILING_ADDRESS_STREET1,\n\t\tMAILING_ADDRESS_STREET2,\n\t\tMAILING_ADDRESS_CITY,\n\t\tMAILING_STATE_PROVICE,\n\t\tMAILING_POST_CODE,\n\t\tMAILING_COUNTRY,\n\t\tMAILING_FORMAT_UN,\n\t\tBATCH_ID,\n\t\tSOURCE,\n\t\tCREATED_BY,\n\t\tUPDATED_BY,\n\t\tDATE_CREATED,\n\t\tDATE_UPDATED\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DIMENTITY\nAlterRow2 sink(input(\n\t\tENTITY_SR_KEY as integer,\n\t\tENTITY_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tENTITY_NAME as string,\n\t\tENTITY_EMAIL_DOMAIN_NAME as string,\n\t\tADDRESS as string,\n\t\tCITY as string,\n\t\tREGION as string,\n\t\tPHONE_NUMBER as string,\n\t\tWEBSITE as string,\n\t\tTWITTER as string,\n\t\tLINKEDIN as string,\n\t\tBSO_OWNERSHIP as string,\n\t\tPOST_CODE as string,\n\t\tPOBOX as string,\n\t\tCITY_REGION as string,\n\t\tCATEGORY as string,\n\t\tCONFIDENTIAL as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tOTHER_EMAILS as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_INFORMATION as string,\n\t\tMAILING_ADDRESS_STREET1 as string,\n\t\tMAILING_ADDRESS_STREET2 as string,\n\t\tMAILING_ADDRESS_CITY as string,\n\t\tMAILING_STATE_PROVICE as string,\n\t\tMAILING_POST_CODE as string,\n\t\tMAILING_COUNTRY as string,\n\t\tMAILING_FORMAT_UN as string,\n\t\tFIRM_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tENTITY_ID = EXISTING_ENTITY_ID,\n\t\tVERSION_NO,\n\t\tENTITY_NAME,\n\t\tENTITY_EMAIL_DOMAIN_NAME,\n\t\tADDRESS,\n\t\tCITY,\n\t\tREGION,\n\t\t{PHONE NUMBER} = PHONE_NUMBER,\n\t\tWEBSITE,\n\t\tTWITTER,\n\t\tLINKEDIN,\n\t\tBSO_OWNERSHIP,\n\t\tPOST_CODE,\n\t\tPOBOX,\n\t\tCITY_REGION,\n\t\tCATEGORY,\n\t\tCONFIDENTIAL,\n\t\tSOCIAL_MEDIA,\n\t\tOTHER_EMAILS,\n\t\tOTHER_PHONE_NUMBERS,\n\t\tOTHER_INFORMATION,\n\t\tMAILING_ADDRESS_STREET1,\n\t\tMAILING_ADDRESS_STREET2,\n\t\tMAILING_ADDRESS_CITY,\n\t\tMAILING_STATE_PROVICE,\n\t\tMAILING_POST_CODE,\n\t\tMAILING_COUNTRY,\n\t\tMAILING_FORMAT_UN,\n\t\tBATCH_ID,\n\t\tSOURCE,\n\t\tCREATED_BY,\n\t\tUPDATED_BY,\n\t\tDATE_CREATED,\n\t\tDATE_UPDATED\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DIMENTITY1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_DIM_PARTICIPANT')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DWH_MART_STAGE",
								"type": "DatasetReference"
							},
							"name": "SrcAll"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_PARTICIPANT",
								"type": "DatasetReference"
							},
							"name": "ExistingDIM"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_PARTICIPANT",
								"type": "DatasetReference"
							},
							"name": "ExistingDIM1"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_PARTICIPANT",
								"type": "DatasetReference"
							},
							"name": "ExistingDimMAX"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MART_DIM_PARTICIPANT",
								"type": "DatasetReference"
							},
							"name": "iDIMPARTICIPANT"
						}
					],
					"transformations": [
						{
							"name": "SelectReqColumns"
						},
						{
							"name": "DerivedDIMCol"
						},
						{
							"name": "SelectDIMCol"
						},
						{
							"name": "AggDistinct"
						},
						{
							"name": "SourceHASHRecords"
						},
						{
							"name": "LatestRecord"
						},
						{
							"name": "Join1"
						},
						{
							"name": "ExitingHASHRecords"
						},
						{
							"name": "SelectExiting"
						},
						{
							"name": "Exists1"
						},
						{
							"name": "Lookup1"
						},
						{
							"name": "ConditionalSplit1"
						},
						{
							"name": "SurrogateKey1"
						},
						{
							"name": "JoinMaxID"
						},
						{
							"name": "RunInfo"
						},
						{
							"name": "AlterRow1"
						},
						{
							"name": "RunInfo2"
						}
					],
					"script": "source(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of event} as string,\n\t\tEmail as string,\n\t\t{Phone number} as string,\n\t\t{Registration Date} as string,\n\t\t{Submission Date} as string,\n\t\t{Last name} as string,\n\t\t{Middle name} as string,\n\t\t{First name} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\t{Date of birth} as string,\n\t\tCountry as string,\n\t\t{Organization/ Company name} as string,\n\t\t{Job title} as string,\n\t\t{Professional status} as string,\n\t\t{Type of entity} as string,\n\t\t{Sub-type of entity} as string,\n\t\tSize as string,\n\t\t{BSO ownership} as string,\n\t\t{Office Address} as string,\n\t\tCity as string,\n\t\t{Post Code} as string,\n\t\tWebsite as string,\n\t\tTwitter as string,\n\t\tLinkedIn as string,\n\t\t{Date of birth2} as string,\n\t\t{Country of Residence} as string,\n\t\tNationality as string,\n\t\tAddress as string,\n\t\tCityname as string,\n\t\tRegion as string,\n\t\t{Type of tool} as string,\n\t\t{Area of change} as string,\n\t\t{Service themes} as string,\n\t\t{Date of data collection} as string,\n\t\tid as string,\n\t\tCourse_name as string,\n\t\tUsername as string,\n\t\tTitle as string,\n\t\tidnumber as string,\n\t\tFunctional_title as string,\n\t\tHowlong as string,\n\t\tPriorexperience as string,\n\t\t{Country code} as string,\n\t\tPobox as string,\n\t\tPostalcode as string,\n\t\tSkype as string,\n\t\tAim as string,\n\t\tYahoo as string,\n\t\tMsn as string,\n\t\tProfile_field_Supervisor as string,\n\t\t{Service theme} as string,\n\t\tCityregion as string,\n\t\tCertification_date as string,\n\t\tCertified as string,\n\t\tCohort as string,\n\t\tUniqueid as string,\n\t\tUser_id as string,\n\t\tEnrol_time as string,\n\t\t{Type of platform} as string,\n\t\t{SheTrades Project} as string,\n\t\tISIC as string,\n\t\t{Please select the area of your activity} as string,\n\t\tHS as string,\n\t\t{Owner/ top manager gender} as string,\n\t\t{Owner/ top manager age} as string,\n\t\t{Type of training} as string,\n\t\t{Service theme 1} as string,\n\t\t{Service theme 2} as string,\n\t\tLocation as string,\n\t\t{Name of the entity} as string,\n\t\t{ISIC code division} as string,\n\t\t{HS 6 digit code (if available)} as string,\n\t\t{Account Name} as string,\n\t\t{English Name} as string,\n\t\tAcronym as string,\n\t\t{Account Type} as string,\n\t\t{Account Sub-Type} as string,\n\t\t{Office Address: Country} as string,\n\t\tCategory as string,\n\t\t{Parent Account} as string,\n\t\tConfidential as string,\n\t\tActivity as string,\n\t\tProduct as string,\n\t\t{Women Managed} as string,\n\t\t{Youth Managed} as string,\n\t\t{Social media} as string,\n\t\t{Other emails} as string,\n\t\t{Other phone numbers} as string,\n\t\t{Other information} as string,\n\t\t{Ownership and management} as string,\n\t\t{Trade Forum} as string,\n\t\t{Office Address: Street 1} as string,\n\t\t{Office Address: Street 2} as string,\n\t\t{Office Address: City} as string,\n\t\t{Office Address: State/Province} as string,\n\t\t{Office Address: ZIP/Postal Code} as string,\n\t\t{Mailing address is equal to office address} as string,\n\t\t{Mailing Address: Street 1} as string,\n\t\t{Mailing Address: Street 2} as string,\n\t\t{Mailing Address: City} as string,\n\t\t{Mailing Address: State/Province} as string,\n\t\t{Mailing Address: ZIP/Postal Code} as string,\n\t\t{Mailing Address: Country} as string,\n\t\t{UN Mailing Format} as string,\n\t\t{Project Number} as string,\n\t\tSalutation as string,\n\t\tAccount as string,\n\t\tPhone as string,\n\t\t{Preferred Language} as string,\n\t\t{Use account address} as string,\n\t\t{Event title} as string,\n\t\t{Event type} as string,\n\t\t{Course name} as string,\n\t\t{Start date} as string,\n\t\t{End date} as string,\n\t\t{Event date} as string,\n\t\t{SME Trade Academy} as string,\n\t\tSheTrades as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcAll\nsource(output(\n\t\tPARTICIPANT_SR_KEY as integer,\n\t\tPARTICIPANT_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tEMAIL as string,\n\t\tLAST_NAME as string,\n\t\tMIDDLE_NAME as string,\n\t\tFIRST_NAME as string,\n\t\tGENDER as string,\n\t\tYEAR_OF_BIRTH as integer,\n\t\tNATIONALITY as string,\n\t\tJOB_TITLE as string,\n\t\tADDRESS as string,\n\t\tID as string,\n\t\tUSERNAME as string,\n\t\tHOWLONG as string,\n\t\tPRIOR_EXPERIENCE as string,\n\t\tSALUTATION as string,\n\t\tCITY_NAME as string,\n\t\tPOBOX as string,\n\t\tPOST_CODE as string,\n\t\tSKYPE as string,\n\t\tAIM as string,\n\t\tYAHOO as string,\n\t\tMSN as string,\n\t\tCITY_REGION as string,\n\t\tOTHER_INFORMATION as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_EMAILS as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tPREFERRED_LANGUAGE as string,\n\t\tCONFIDENTIAL as string,\n\t\tPHONE_NUMBER as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ExistingDIM\nsource(output(\n\t\tPARTICIPANT_SR_KEY as integer,\n\t\tPARTICIPANT_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tEMAIL as string,\n\t\tLAST_NAME as string,\n\t\tMIDDLE_NAME as string,\n\t\tFIRST_NAME as string,\n\t\tGENDER as string,\n\t\tYEAR_OF_BIRTH as integer,\n\t\tNATIONALITY as string,\n\t\tJOB_TITLE as string,\n\t\tADDRESS as string,\n\t\tID as string,\n\t\tUSERNAME as string,\n\t\tHOWLONG as string,\n\t\tPRIOR_EXPERIENCE as string,\n\t\tSALUTATION as string,\n\t\tCITY_NAME as string,\n\t\tPOBOX as string,\n\t\tPOST_CODE as string,\n\t\tSKYPE as string,\n\t\tAIM as string,\n\t\tYAHOO as string,\n\t\tMSN as string,\n\t\tCITY_REGION as string,\n\t\tOTHER_INFORMATION as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_EMAILS as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tPREFERRED_LANGUAGE as string,\n\t\tCONFIDENTIAL as string,\n\t\tPHONE_NUMBER as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ExistingDIM1\nsource(output(\n\t\tMAX_VAL as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: 'Select IsNULL(Max(PARTICIPANT_ID),0) MAX_VAL\\nFROM MART_OWNER.DIM_PARTICIPANT',\n\tformat: 'query') ~> ExistingDimMAX\nSrcAll select(mapColumn(\n\t\tEmail,\n\t\t{Phone number},\n\t\t{Last name},\n\t\t{Middle name},\n\t\t{First name},\n\t\tGender,\n\t\t{Year of birth},\n\t\t{Date of birth},\n\t\t{Job title},\n\t\t{Professional status},\n\t\t{Office Address},\n\t\tCity,\n\t\t{Post Code},\n\t\t{Date of birth2},\n\t\tNationality,\n\t\tAddress,\n\t\tCityname,\n\t\tid,\n\t\tUsername,\n\t\tTitle,\n\t\tFunctional_title,\n\t\tHowlong,\n\t\tPriorexperience,\n\t\tPobox,\n\t\tPostalcode,\n\t\tSkype,\n\t\tAim,\n\t\tYahoo,\n\t\tMsn,\n\t\tCityregion,\n\t\tUniqueid,\n\t\tUser_id,\n\t\tConfidential,\n\t\t{Social media},\n\t\t{Other emails},\n\t\t{Other phone numbers},\n\t\t{Other information},\n\t\t{Office Address: Street 1},\n\t\t{Office Address: Street 2},\n\t\t{Office Address: City},\n\t\tSalutation,\n\t\tPhone,\n\t\t{Preferred Language},\n\t\tFILE_NAME,\n\t\tLOAD_TIMESTAMP\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectReqColumns\nSelectReqColumns derive(UNIQUE_PARTICIPANT_ID = iifNull(Email, upper(trim({First name}))+upper(trim({Last name}))+upper(trim(Gender))+upper(trim({Year of birth}))),\n\t\tEMAIL = Email,\n\t\tLAST_NAME = {Last name},\n\t\tMIDDLE_NAME = {Middle name},\n\t\tFIRST_NAME = {First name},\n\t\tGENDER = Gender,\n\t\tYEAR_OF_BIRTH = {Year of birth},\n\t\tNATIONALITY = Nationality,\n\t\tJOB_TITLE = case(isNull({Job title})==false(),\r\n     {Job title},\r\n     isNull(Functional_title)==false(),\r\n     Functional_title,\r\n     ''),\n\t\tADDRESS = iif({Professional status}=='Self-employed/ freelancer', \r\n    case(isNull(Address)==false(),\r\n            Address,\r\n         isNull({Office Address})==false(),\r\n            {Office Address},\r\n         isNull({Office Address: Street 1})==false(),\r\n            {Office Address: Street 1},\r\n         ''),\r\n    ''),\n\t\tID = case(isNull(id)==false(),\r\n    id,\r\n    isNull(Uniqueid)==false(),\r\n    Uniqueid,\r\n    ''),\n\t\tUSERNAME = case(isNull(Username)==false(),\r\n    Username,\r\n    isNull(User_id)==false(),\r\n    User_id,\r\n    ''),\n\t\tHOWLONG = Howlong,\n\t\tPRIOR_EXPERIENCE = Priorexperience,\n\t\tSALUTATION = case(isNull(Title)==false(),\r\n    Title,\r\n    isNull(Salutation)==false(),\r\n    Salutation,\r\n    ''),\n\t\tCITY_NAME = case(isNull(City)==false(),\r\n    City,\r\n    isNull(Cityname)==false(),\r\n    Cityname,\r\n        isNull({Office Address: City})==false(),\r\n    {Office Address: City},\r\n    ''),\n\t\tPOBOX = case(isNull(Pobox)==false(),\r\n    Pobox,\r\n    isNull({Office Address: Street 2})==false(),\r\n    {Office Address: Street 2},\r\n    ''),\n\t\tPOST_CODE = case(isNull({Post Code})==false(),\r\n    {Post Code},\r\n    isNull(Postalcode)==false(),\r\n    Postalcode,\r\n    ''),\n\t\tSKYPE = Skype,\n\t\tAIM = Aim,\n\t\tYAHOO = Yahoo,\n\t\tMSN = Msn,\n\t\tSOURCE = FILE_NAME,\n\t\tCITY_REGION = Cityregion,\n\t\tOTHER_INFORMATION = {Other information},\n\t\tOTHER_PHONE_NUMBERS = {Other phone numbers},\n\t\tOTHER_EMAILS = {Other emails},\n\t\tSOCIAL_MEDIA = {Social media},\n\t\tPREFERRED_LANGUAGE = {Preferred Language},\n\t\tCONFIDENTIAL = Confidential,\n\t\t{PHONE NUMBER} = Phone) ~> DerivedDIMCol\nDerivedDIMCol select(mapColumn(\n\t\tFILE_NAME,\n\t\tLOAD_TIMESTAMP,\n\t\tUNIQUE_PARTICIPANT_ID,\n\t\tEMAIL = DerivedDIMCol@EMAIL,\n\t\tLAST_NAME,\n\t\tMIDDLE_NAME,\n\t\tFIRST_NAME,\n\t\tGENDER = DerivedDIMCol@GENDER,\n\t\tYEAR_OF_BIRTH,\n\t\tNATIONALITY = DerivedDIMCol@NATIONALITY,\n\t\tJOB_TITLE,\n\t\tADDRESS = DerivedDIMCol@ADDRESS,\n\t\tID = DerivedDIMCol@ID,\n\t\tUSERNAME = DerivedDIMCol@USERNAME,\n\t\tHOWLONG = DerivedDIMCol@HOWLONG,\n\t\tPRIOR_EXPERIENCE,\n\t\tSALUTATION = DerivedDIMCol@SALUTATION,\n\t\tCITY_NAME,\n\t\tPOBOX = DerivedDIMCol@POBOX,\n\t\tPOST_CODE,\n\t\tSKYPE = DerivedDIMCol@SKYPE,\n\t\tAIM = DerivedDIMCol@AIM,\n\t\tMSN = DerivedDIMCol@MSN,\n\t\tSOURCE,\n\t\tCITY_REGION,\n\t\tOTHER_INFORMATION,\n\t\tOTHER_PHONE_NUMBERS,\n\t\tOTHER_EMAILS,\n\t\tSOCIAL_MEDIA,\n\t\tPREFERRED_LANGUAGE,\n\t\tCONFIDENTIAL = DerivedDIMCol@CONFIDENTIAL,\n\t\t{PHONE NUMBER} = DerivedDIMCol@{PHONE NUMBER},\n\t\tYAHOO = DerivedDIMCol@YAHOO\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectDIMCol\nSelectDIMCol aggregate(groupBy(UNIQUE_PARTICIPANT_ID),\n\teach(match(name!='UNIQUE_PARTICIPANT_ID'), $$ = last($$))) ~> AggDistinct\nAggDistinct derive(SOURCE_HASH_RECORD = sha2(256,EMAIL,\r\nLAST_NAME,\r\nMIDDLE_NAME,\r\nFIRST_NAME,\r\nGENDER,\r\nYEAR_OF_BIRTH,\r\nNATIONALITY,\r\nJOB_TITLE,\r\nADDRESS,\r\nID,\r\nUSERNAME,\r\nHOWLONG,\r\nPRIOR_EXPERIENCE,\r\nSALUTATION,\r\nCITY_NAME,\r\nPOBOX,\r\nPOST_CODE,\r\nSKYPE,\r\nAIM,\r\nYAHOO,\r\nMSN,\r\nSOURCE,\r\nCITY_REGION,\r\nOTHER_INFORMATION,\r\nOTHER_PHONE_NUMBERS,\r\nOTHER_EMAILS,\r\nSOCIAL_MEDIA,\r\nPREFERRED_LANGUAGE,\r\nCONFIDENTIAL,\r\n{PHONE NUMBER})) ~> SourceHASHRecords\nExistingDIM1 aggregate(groupBy(PARTICIPANT_ID),\n\tVERSION_NO = max(VERSION_NO)) ~> LatestRecord\nExistingDIM, LatestRecord join(ExistingDIM@PARTICIPANT_ID == LatestRecord@PARTICIPANT_ID\n\t&& ExistingDIM@VERSION_NO == LatestRecord@VERSION_NO,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> Join1\nJoin1 derive(EXISTING_RECORD_HASH = sha2(256,EMAIL,\r\nLAST_NAME,\r\nMIDDLE_NAME,\r\nFIRST_NAME,\r\nGENDER,\r\nYEAR_OF_BIRTH,\r\nNATIONALITY,\r\nJOB_TITLE,\r\nADDRESS,\r\nID,\r\nUSERNAME,\r\nHOWLONG,\r\nPRIOR_EXPERIENCE,\r\nSALUTATION,\r\nCITY_NAME,\r\nPOBOX,\r\nPOST_CODE,\r\nSKYPE,\r\nAIM,\r\nYAHOO,\r\nMSN,\r\nSOURCE,\r\nCITY_REGION,\r\nOTHER_INFORMATION,\r\nOTHER_PHONE_NUMBERS,\r\nOTHER_EMAILS,\r\nSOCIAL_MEDIA,\r\nPREFERRED_LANGUAGE,\r\nCONFIDENTIAL,\r\nPHONE_NUMBER),\n\t\tEXISTING_UNIQUE_PARTICIPANT_ID = iifNull(EMAIL, upper(trim(FIRST_NAME))+upper(trim(LAST_NAME))+upper(trim(GENDER))+toString(YEAR_OF_BIRTH),EMAIL)) ~> ExitingHASHRecords\nExitingHASHRecords select(mapColumn(\n\t\tEXISTING_PARTICIPANT_SR_KEY = PARTICIPANT_SR_KEY,\n\t\tEXISTING_PARTICIPANT_ID = ExistingDIM@PARTICIPANT_ID,\n\t\tEXISTING_VERSION_NO = ExistingDIM@VERSION_NO,\n\t\tEXISTING_RECORD_HASH,\n\t\tEXISTING_UNIQUE_PARTICIPANT_ID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectExiting\nSourceHASHRecords, SelectExiting exists(SOURCE_HASH_RECORD == EXISTING_RECORD_HASH,\n\tnegate:true,\n\tbroadcast: 'auto')~> Exists1\nExists1, SelectExiting lookup(UNIQUE_PARTICIPANT_ID == EXISTING_UNIQUE_PARTICIPANT_ID,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> Lookup1\nLookup1 split(isNull(EXISTING_PARTICIPANT_ID),\n\tdisjoint: false) ~> ConditionalSplit1@(NewRecords, UpdatedRecords)\nConditionalSplit1@NewRecords keyGenerate(output(NEW_PARTICIPANT_ID as long),\n\tstartAt: 1L) ~> SurrogateKey1\nSurrogateKey1, ExistingDimMAX join(1==1,\n\tjoinType:'cross',\n\tbroadcast: 'auto')~> JoinMaxID\nJoinMaxID derive(NEW_PARTICIPANT_ID = MAX_VAL+NEW_PARTICIPANT_ID,\n\t\tVERSION_NO = 1,\n\t\tBATCH_ID = 1,\n\t\tCREATED_BY = FILE_NAME,\n\t\tUPDATED_BY = FILE_NAME,\n\t\tDATE_CREATED = currentDate(),\n\t\tDATE_UPDATED = currentDate()) ~> RunInfo\nRunInfo alterRow(insertIf(1==1)) ~> AlterRow1\nConditionalSplit1@UpdatedRecords derive(VERSION_NO = EXISTING_VERSION_NO+1,\n\t\tBATCH_ID = 1,\n\t\tCREATED_BY = FILE_NAME,\n\t\tUPDATED_BY = FILE_NAME,\n\t\tDATE_CREATED = currentDate(),\n\t\tDATE_UPDATED = currentDate()) ~> RunInfo2\nAlterRow1 sink(input(\n\t\tPARTICIPANT_SR_KEY as integer,\n\t\tPARTICIPANT_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tEMAIL as string,\n\t\tLAST_NAME as string,\n\t\tMIDDLE_NAME as string,\n\t\tFIRST_NAME as string,\n\t\tGENDER as string,\n\t\tYEAR_OF_BIRTH as integer,\n\t\tNATIONALITY as string,\n\t\tJOB_TITLE as string,\n\t\tADDRESS as string,\n\t\tID as string,\n\t\tUSERNAME as string,\n\t\tHOWLONG as string,\n\t\tPRIOR_EXPERIENCE as string,\n\t\tSALUTATION as string,\n\t\tCITY_NAME as string,\n\t\tPOBOX as string,\n\t\tPOST_CODE as string,\n\t\tSKYPE as string,\n\t\tAIM as string,\n\t\tYAHOO as string,\n\t\tMSN as string,\n\t\tCITY_REGION as string,\n\t\tOTHER_INFORMATION as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_EMAILS as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tPREFERRED_LANGUAGE as string,\n\t\tCONFIDENTIAL as string,\n\t\tPHONE_NUMBER as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> iDIMPARTICIPANT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_DIM_SURVEY_DETAILS')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DWH_STAGE",
								"type": "DatasetReference"
							},
							"name": "SrcNTF"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_SURVEY_DETAILS",
								"type": "DatasetReference"
							},
							"name": "ExistingDIM"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MART_DIM_SURVEY_DETAILS",
								"type": "DatasetReference"
							},
							"name": "DIMSURVEYDETAILS"
						}
					],
					"transformations": [
						{
							"name": "SelectColumns"
						},
						{
							"name": "SourceRecordHash"
						},
						{
							"name": "Exists"
						},
						{
							"name": "RunInfor"
						},
						{
							"name": "AlterRow1"
						},
						{
							"name": "DISTINCT"
						}
					],
					"script": "source(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\tFirmID as string,\n\t\t{Date of data collection} as string,\n\t\tCountry as string,\n\t\tinterviewkey as string,\n\t\tinterviewid as string,\n\t\tA01 as string,\n\t\tA02 as string,\n\t\tA03 as string,\n\t\tA04 as string,\n\t\tA06 as string,\n\t\tA07 as string,\n\t\tA09 as string,\n\t\tA10 as string,\n\t\tA11 as string,\n\t\tA12 as string,\n\t\tA13 as string,\n\t\tB01 as string,\n\t\tB03 as string,\n\t\tB17 as string,\n\t\tBA03 as string,\n\t\tBA04 as string,\n\t\tBA07 as string,\n\t\tBA08 as string,\n\t\tBA11 as string,\n\t\tBA12 as string,\n\t\tBA13 as string,\n\t\tBA14 as string,\n\t\tBA15 as string,\n\t\tBB02 as string,\n\t\tBB08 as string,\n\t\tBB09 as string,\n\t\tBC03 as string,\n\t\tBC04 as string,\n\t\tC04 as string,\n\t\tC05 as string,\n\t\tDA01 as string,\n\t\tDB01 as string,\n\t\tDB02 as string,\n\t\tDB03 as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcNTF\nsource(output(\n\t\tSURVEY_DETAILS_SR_KEY as integer,\n\t\tRECORD_HASH_VALUE as string,\n\t\tINTERVIEWEE_NAME as string,\n\t\tINTERVIERWER_NAME as string,\n\t\tINTERVIEEE_TELEPHONE as string,\n\t\tINTERVIEWEE_POSITION as string,\n\t\tINTERVIEWEE_EMAIL as string,\n\t\tSUPERVISOR_NAME as string,\n\t\tTIME_INTERVIEW_STARTED as string,\n\t\tTIME_INTERVIEW_ENDED as string,\n\t\tINTERVIEW_DURATION as string,\n\t\tINTERVIEW_KEY as string,\n\t\tINTERVIEW_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ExistingDIM\nSrcNTF select(mapColumn(\n\t\tINTERVIEW_KEY = interviewkey,\n\t\tINTERVIEW_ID = interviewid,\n\t\tINTERVIERWER_NAME = A01,\n\t\tINTERVIEEE_TELEPHONE = A02,\n\t\tTIME_INTERVIEW_STARTED = A03,\n\t\tSUPERVISOR_NAME = A07,\n\t\tINTERVIEWEE_NAME = A09,\n\t\tTIME_INTERVIEW_ENDED = A10,\n\t\tINTERVIEW_DURATION = A11,\n\t\tINTERVIEWEE_EMAIL = A12,\n\t\tINTERVIEWEE_POSITION = A13,\n\t\tFILE_NAME,\n\t\tLOAD_TIMESTAMP\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectColumns\nDISTINCT derive(SOURCE_RECORD_HASH = sha2(256,\r\nINTERVIEWEE_NAME,\r\nINTERVIERWER_NAME,\r\nINTERVIEEE_TELEPHONE,\r\nINTERVIEWEE_POSITION,\r\nINTERVIEWEE_EMAIL,\r\nSUPERVISOR_NAME,\r\nTIME_INTERVIEW_STARTED,\r\nTIME_INTERVIEW_ENDED,\r\nINTERVIEW_DURATION,\r\nINTERVIEWEE_NAME,\r\nINTERVIEW_ID)) ~> SourceRecordHash\nSourceRecordHash, ExistingDIM exists(SOURCE_RECORD_HASH == RECORD_HASH_VALUE,\n\tnegate:true,\n\tbroadcast: 'auto')~> Exists\nExists derive(BATCH_ID = 1,\n\t\tSOURCE = FILE_NAME,\n\t\tCREATED_BY = FILE_NAME,\n\t\tUPDATED_BY = FILE_NAME,\n\t\tDATE_CREATED = currentTimestamp(),\n\t\tDATE_UPDATED = currentTimestamp()) ~> RunInfor\nRunInfor alterRow(insertIf(1==1)) ~> AlterRow1\nSelectColumns aggregate(groupBy(INTERVIEWEE_NAME,\n\t\tINTERVIERWER_NAME,\n\t\tINTERVIEEE_TELEPHONE,\n\t\tINTERVIEWEE_POSITION,\n\t\tINTERVIEWEE_EMAIL,\n\t\tSUPERVISOR_NAME,\n\t\tTIME_INTERVIEW_STARTED,\n\t\tTIME_INTERVIEW_ENDED,\n\t\tINTERVIEW_DURATION,\n\t\tINTERVIEW_KEY,\n\t\tINTERVIEW_ID,\n\t\tFILE_NAME),\n\tCOUNT = count()) ~> DISTINCT\nAlterRow1 sink(input(\n\t\tSURVEY_DETAILS_SR_KEY as integer,\n\t\tRECORD_HASH_VALUE as string,\n\t\tINTERVIEWEE_NAME as string,\n\t\tINTERVIERWER_NAME as string,\n\t\tINTERVIEEE_TELEPHONE as string,\n\t\tINTERVIEWEE_POSITION as string,\n\t\tINTERVIEWEE_EMAIL as string,\n\t\tSUPERVISOR_NAME as string,\n\t\tTIME_INTERVIEW_STARTED as string,\n\t\tTIME_INTERVIEW_ENDED as string,\n\t\tINTERVIEW_DURATION as string,\n\t\tINTERVIEW_KEY as string,\n\t\tINTERVIEW_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tRECORD_HASH_VALUE = SOURCE_RECORD_HASH,\n\t\tINTERVIEWEE_NAME,\n\t\tINTERVIERWER_NAME,\n\t\tINTERVIEEE_TELEPHONE,\n\t\tINTERVIEWEE_POSITION,\n\t\tINTERVIEWEE_EMAIL,\n\t\tSUPERVISOR_NAME,\n\t\tTIME_INTERVIEW_STARTED,\n\t\tTIME_INTERVIEW_ENDED,\n\t\tINTERVIEW_DURATION,\n\t\tINTERVIEW_KEY,\n\t\tINTERVIEW_ID,\n\t\tBATCH_ID,\n\t\tSOURCE,\n\t\tCREATED_BY,\n\t\tUPDATED_BY,\n\t\tDATE_CREATED,\n\t\tDATE_UPDATED\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DIMSURVEYDETAILS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MART_DIM_SURVEY_DETAILS')]"
			]
		}
	]
}