vgITCADF/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "vgITCADF"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://vgtestadlsgen2.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PIP_WEDF_SCR_DATALAKE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get WEDF Files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "RAW_SRC",
								"type": "DatasetReference",
								"parameters": {
									"P_FILE_NAME": "*.csv"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter Dir",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Dir').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy WEDF RAW To STAGE",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set DWH FILE NAME",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "FILE_NAME",
													"value": {
														"value": "@variables('V_FILE_NAME')",
														"type": "Expression"
													}
												},
												{
													"name": "LOAD_TIMESTAMP",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "STAGE_WEDF",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "DF_WEDF_STAGE_DWH_LAKE",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Copy WEDF RAW To STAGE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DF_WEDF_STAGE_DWH_LAKE",
											"type": "DataFlowReference",
											"parameters": {
												"P_DWH_FILE_NAME": {
													"value": "'@{variables('V_DWH_FILE_NAME')}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"SrcStageWEDF": {},
												"DWHWEDF": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										}
									}
								},
								{
									"name": "Set DWH FILE NAME",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set FILE NAME",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_DWH_FILE_NAME",
										"value": {
											"value": "@replace(variables('V_FILE_NAME'),'.csv','_20200527.csv')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set FILE NAME",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_FILE_NAME",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Filter Dir",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get WEDF Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get WEDF Files').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"V_FILE_NAME": {
						"type": "String",
						"defaultValue": "WEDF 2018 registration data_POC.csv"
					},
					"V_DWH_FILE_NAME": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RAW_SRC')]",
				"[concat(variables('factoryId'), '/datasets/STAGE_WEDF')]",
				"[concat(variables('factoryId'), '/dataflows/DF_WEDF_STAGE_DWH_LAKE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_WEDF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "WEDF",
						"fileSystem": "target"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "Type of event",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Phone number",
						"type": "String"
					},
					{
						"name": "Registration Date",
						"type": "String"
					},
					{
						"name": "Submission Date",
						"type": "String"
					},
					{
						"name": "Last name",
						"type": "String"
					},
					{
						"name": "Middle name",
						"type": "String"
					},
					{
						"name": "First name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Date of birth",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Organization/ Company name",
						"type": "String"
					},
					{
						"name": "Job title",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Type of entity",
						"type": "String"
					},
					{
						"name": "Sub-type of entity",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "BSO ownership",
						"type": "String"
					},
					{
						"name": "Office Address",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Post Code",
						"type": "String"
					},
					{
						"name": "Website",
						"type": "String"
					},
					{
						"name": "Twitter",
						"type": "String"
					},
					{
						"name": "LinkedIn",
						"type": "String"
					},
					{
						"name": "Date of birth2",
						"type": "String"
					},
					{
						"name": "Country of Residence",
						"type": "String"
					},
					{
						"name": "Nationality",
						"type": "String"
					},
					{
						"name": "Address",
						"type": "String"
					},
					{
						"name": "Cityname",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RAW_SRC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"P_FILE_NAME": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().P_FILE_NAME",
							"type": "Expression"
						},
						"folderPath": "WEDF",
						"container": "source"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "Type of event",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Registration Date",
						"type": "String"
					},
					{
						"name": "Last name",
						"type": "String"
					},
					{
						"name": "Middle name",
						"type": "String"
					},
					{
						"name": "First name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Date of birth2",
						"type": "String"
					},
					{
						"name": "Country of Residence",
						"type": "String"
					},
					{
						"name": "Nationality",
						"type": "String"
					},
					{
						"name": "Organization/ Company name",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Job title",
						"type": "String"
					},
					{
						"name": "Type of entity",
						"type": "String"
					},
					{
						"name": "Sub-type of entity",
						"type": "String"
					},
					{
						"name": "Address",
						"type": "String"
					},
					{
						"name": "Cityname",
						"type": "String"
					},
					{
						"name": "Post Code",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Phone number",
						"type": "String"
					},
					{
						"name": "Website",
						"type": "String"
					},
					{
						"name": "Twitter",
						"type": "String"
					},
					{
						"name": "LinkedIn",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STAGE_WEDF')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "WEDF.csv",
						"folderPath": "STAGE",
						"fileSystem": "source"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProjectID",
						"type": "String"
					},
					{
						"name": "Context",
						"type": "String"
					},
					{
						"name": "Type of event",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Phone number",
						"type": "String"
					},
					{
						"name": "Registration Date",
						"type": "String"
					},
					{
						"name": "Submission Date",
						"type": "String"
					},
					{
						"name": "Last name",
						"type": "String"
					},
					{
						"name": "Middle name",
						"type": "String"
					},
					{
						"name": "First name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Date of birth",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Organization/ Company name",
						"type": "String"
					},
					{
						"name": "Job title",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Type of entity",
						"type": "String"
					},
					{
						"name": "Sub-type of entity",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "BSO ownership",
						"type": "String"
					},
					{
						"name": "Office Address",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Post Code",
						"type": "String"
					},
					{
						"name": "Website",
						"type": "String"
					},
					{
						"name": "Twitter",
						"type": "String"
					},
					{
						"name": "LinkedIn",
						"type": "String"
					},
					{
						"name": "Date of birth2",
						"type": "String"
					},
					{
						"name": "Country of Residence",
						"type": "String"
					},
					{
						"name": "Nationality",
						"type": "String"
					},
					{
						"name": "Address",
						"type": "String"
					},
					{
						"name": "Cityname",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_WEDF_STAGE_DWH_LAKE')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "STAGE_WEDF",
								"type": "DatasetReference"
							},
							"name": "SrcStageWEDF"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DWH_WEDF",
								"type": "DatasetReference"
							},
							"name": "DWHWEDF"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "parameters{\n\tP_DWH_FILE_NAME as string\n}\nsource(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of event} as string,\n\t\tEmail as string,\n\t\t{Phone number} as string,\n\t\t{Registration Date} as string,\n\t\t{Submission Date} as string,\n\t\t{Last name} as string,\n\t\t{Middle name} as string,\n\t\t{First name} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\t{Date of birth} as string,\n\t\tCountry as string,\n\t\t{Organization/ Company name} as string,\n\t\t{Job title} as string,\n\t\t{Professional status} as string,\n\t\t{Type of entity} as string,\n\t\t{Sub-type of entity} as string,\n\t\tSize as string,\n\t\t{BSO ownership} as string,\n\t\t{Office Address} as string,\n\t\tCity as string,\n\t\t{Post Code} as string,\n\t\tWebsite as string,\n\t\tTwitter as string,\n\t\tLinkedIn as string,\n\t\t{Date of birth2} as string,\n\t\t{Country of Residence} as string,\n\t\tNationality as string,\n\t\tAddress as string,\n\t\tCityname as string,\n\t\tRegion as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcStageWEDF\nSrcStageWEDF derive(Address = replace(Address, '\\\\n',' '),\n\t\t{Office Address} = replace({Office Address}, '\\\\n',' ')) ~> DerivedColumn1\nDerivedColumn1 sink(input(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of event} as string,\n\t\tEmail as string,\n\t\t{Phone number} as string,\n\t\t{Registration Date} as string,\n\t\t{Submission Date} as string,\n\t\t{Last name} as string,\n\t\t{Middle name} as string,\n\t\t{First name} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\t{Date of birth} as string,\n\t\tCountry as string,\n\t\t{Organization/ Company name} as string,\n\t\t{Job title} as string,\n\t\t{Professional status} as string,\n\t\t{Type of entity} as string,\n\t\t{Sub-type of entity} as string,\n\t\tSize as string,\n\t\t{BSO ownership} as string,\n\t\t{Office Address} as string,\n\t\tCity as string,\n\t\t{Post Code} as string,\n\t\tWebsite as string,\n\t\tTwitter as string,\n\t\tLinkedIn as string,\n\t\t{Date of birth2} as string,\n\t\t{Country of Residence} as string,\n\t\tNationality as string,\n\t\tAddress as string,\n\t\tCityname as string,\n\t\tRegion as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionFileNames:[($P_DWH_FILE_NAME)],\n\tpartitionBy('hash', 1)) ~> DWHWEDF"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/STAGE_WEDF')]",
				"[concat(variables('factoryId'), '/datasets/DWH_WEDF')]"
			]
		}
	]
}