DevUNITCADF/PartialArmTemplates/ArmTemplate_6_8_2020_18_52_54.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DevUNITCADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PIP_WEDF_SCR_DATALAKE_NEW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get WEDF Files",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Set Raw File PATH",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Loaded File Path",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Failed File Path",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "RAW_SRC",
								"type": "DatasetReference",
								"parameters": {
									"P_PATH": {
										"value": "@variables('V_PATH')",
										"type": "Expression"
									},
									"P_FILE_NAME": "*.*"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter Dir",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Dir').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy Loaded Files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "DF_WEDF_RAW_DATALAKE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												},
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@variables('V_LOADED_PATH')",
													"type": "Expression"
												},
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete Loaded Files from Landing",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Loaded Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												},
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Set FILE NAME",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_FILE_NAME",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy Failed Files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "DF_WEDF_RAW_DATALAKE",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												},
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@variables('V_FAILED_PATH')",
													"type": "Expression"
												},
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete Failed Files from Landing",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Failed Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												},
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "DF_WEDF_RAW_DATALAKE",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Set FILE NAME",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DF_WEDF_RAW_DATALAKE",
											"type": "DataFlowReference",
											"parameters": {
												"P_DWH_FILE_NAME": {
													"value": "'@{variables('V_FILE_NAME')}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"SrcStageWEDF": {
													"P_PATH": {
														"value": "@variables('V_PATH')",
														"type": "Expression"
													},
													"P_FILE_NAME": {
														"value": "@variables('V_FILE_NAME')",
														"type": "Expression"
													}
												}
											}
										},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										}
									}
								}
							]
						}
					},
					{
						"name": "Filter Dir",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get WEDF Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get WEDF Files').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Failed File Path",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_FILE_NAME",
							"value": {
								"value": "WEDF/FAILED",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Loaded File Path",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_LOADED_PATH",
							"value": {
								"value": "WEDF/LOADED",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Raw File PATH",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_PATH",
							"value": {
								"value": "WEDF",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"V_FILE_NAME": {
						"type": "String"
					},
					"V_FAILED_PATH": {
						"type": "String"
					},
					"V_LOADED_PATH": {
						"type": "String"
					},
					"V_PATH": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_WEDF_RAW_DATALAKE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_WEDF_RAW_DATALAKE')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "RAW_SRC",
								"type": "DatasetReference"
							},
							"name": "SrcStageWEDF"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DWH_WEDF",
								"type": "DatasetReference"
							},
							"name": "DWHWEDF"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "parameters{\n\tP_DWH_FILE_NAME as string\n}\nsource(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of event} as string,\n\t\tEmail as string,\n\t\t{Phone number} as string,\n\t\t{Registration Date} as string,\n\t\t{Submission Date} as string,\n\t\t{Last name} as string,\n\t\t{Middle name} as string,\n\t\t{First name} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\t{Date of birth} as string,\n\t\tCountry as string,\n\t\t{Organization/ Company name} as string,\n\t\t{Job title} as string,\n\t\t{Professional status} as string,\n\t\t{Type of entity} as string,\n\t\t{Sub-type of entity} as string,\n\t\tSize as string,\n\t\t{BSO ownership} as string,\n\t\t{Office Address} as string,\n\t\tCity as string,\n\t\t{Post Code} as string,\n\t\tWebsite as string,\n\t\tTwitter as string,\n\t\tLinkedIn as string,\n\t\t{Date of birth2} as string,\n\t\t{Country of Residence} as string,\n\t\tNationality as string,\n\t\tAddress as string,\n\t\tCityname as string,\n\t\tRegion as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcStageWEDF\nSrcStageWEDF derive(Address = replace(Address, '\\\\n',' '),\n\t\t{Office Address} = replace({Office Address}, '\\\\n',' '),\n\t\tFILE_NAME = $P_DWH_FILE_NAME,\n\t\tLOAD_TIMESTAMP = currentTimestamp(),\n\t\tNEW_DATALAKE_FILE = 'WEDF/'+replace($P_DWH_FILE_NAME, '.csv', '_'+toString(currentTimestamp(),'YYYYMMdd_HHmmss')+'.csv')) ~> DerivedColumn1\nDerivedColumn1 sink(input(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of event} as string,\n\t\tEmail as string,\n\t\t{Phone number} as string,\n\t\t{Registration Date} as string,\n\t\t{Submission Date} as string,\n\t\t{Last name} as string,\n\t\t{Middle name} as string,\n\t\t{First name} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\t{Date of birth} as string,\n\t\tCountry as string,\n\t\t{Organization/ Company name} as string,\n\t\t{Job title} as string,\n\t\t{Professional status} as string,\n\t\t{Type of entity} as string,\n\t\t{Sub-type of entity} as string,\n\t\tSize as string,\n\t\t{BSO ownership} as string,\n\t\t{Office Address} as string,\n\t\tCity as string,\n\t\t{Post Code} as string,\n\t\tWebsite as string,\n\t\tTwitter as string,\n\t\tLinkedIn as string,\n\t\t{Date of birth2} as string,\n\t\t{Country of Residence} as string,\n\t\tNationality as string,\n\t\tAddress as string,\n\t\tCityname as string,\n\t\tRegion as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn:'NEW_DATALAKE_FILE') ~> DWHWEDF"
				}
			},
			"dependsOn": []
		}
	]
}