DevUNITCADF/PartialArmTemplates/ArmTemplate_6_2_2020_16_19_6.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DevUNITCADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PIP_SHE_TRADE_SRC_DATALAKE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get SHE TRADES Files",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Set Failed File Path",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Loaded File Path",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Raw File PATH",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "RAW_SRC",
								"type": "DatasetReference",
								"parameters": {
									"P_PATH": "SHE_TRADES",
									"P_FILE_NAME": "*.csv"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter Dir",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get SHE TRADES Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get SHE TRADES Files').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Failed File Path",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_FAILED_PATH",
							"value": "SHE_TRADES/FAILED"
						}
					},
					{
						"name": "Set Loaded File Path",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_LOADED_PATH",
							"value": "SHE_TRADES/LOADED"
						}
					},
					{
						"name": "Set Raw File PATH",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_PATH",
							"value": "SHE_TRADES"
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter Dir",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Dir').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set FILE NAME",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_FILE_NAME",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy SHE TRADES RAW To STAGE",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set FILE NAME",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "FILE_NAME",
													"value": {
														"value": "@variables('V_FILE_NAME')",
														"type": "Expression"
													}
												},
												{
													"name": "LOAD_TIMESTAMP",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "STAGE_SHE_TRADES",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "Copy Failed Files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "DF_SHE_TRADES_STAGE_DWH_LAKE",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": "@variables('V_FILE_NAME')",
												"P_PATH": {
													"value": "@variables('V_FAILED_PATH')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete Failed Files from Landing",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Failed Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "DF_SHE_TRADES_STAGE_DWH_LAKE",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Copy SHE TRADES RAW To STAGE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DF_SHE_TRADES_STAGE_DWH_LAKE",
											"type": "DataFlowReference",
											"parameters": {
												"P_DWH_FILE_NAME": {
													"value": "'@{variables('V_FILE_NAME')}'",
													"type": "Expression"
												}
											}
										},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										}
									}
								},
								{
									"name": "Copy Failed Files_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy SHE TRADES RAW To STAGE",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": "@variables('V_FILE_NAME')",
												"P_PATH": {
													"value": "@variables('V_FAILED_PATH')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete Failed Files from Landing_copy1",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Failed Files_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Delete Loaded Files from Landing",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Loaded Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Copy Loaded Files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "DF_SHE_TRADES_STAGE_DWH_LAKE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_FILE_NAME": "@variables('V_FILE_NAME')",
												"P_PATH": {
													"value": "@variables('V_LOADED_PATH')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"variables": {
					"V_FILE_NAME": {
						"type": "String"
					},
					"V_DWH_FILE_NAME": {
						"type": "String"
					},
					"V_FAILED_PATH": {
						"type": "String"
					},
					"V_LOADED_PATH": {
						"type": "String"
					},
					"V_PATH": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_CRM_SRC_DATALAKE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set Loaded File Path",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_LOADED_PATH",
							"value": "CRM/LOADED"
						}
					},
					{
						"name": "Set Raw File PATH",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_PATH",
							"value": "CRM"
						}
					},
					{
						"name": "Set Failed File Path",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_LOADED_PATH",
							"value": "CRM/FAILED"
						}
					},
					{
						"name": "Get CRM Files",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Set Loaded File Path",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Failed File Path",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Raw File PATH",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "RAW_SRC",
								"type": "DatasetReference",
								"parameters": {
									"P_PATH": "CRM",
									"P_FILE_NAME": "*.*"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter Dir",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get CRM Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get CRM Files').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type, 'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter Dir",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Dir').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set FILE NAME",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_FILE_NAME",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy CRM RAW To STAGE",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set FILE NAME",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "FILE_NAME",
													"value": {
														"value": "@variables('V_FILE_NAME')",
														"type": "Expression"
													}
												},
												{
													"name": "LOAD_TIMESTAMP",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												},
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "STAGE_CRM",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "DF_CRM_STAGE_DWH_LAKE",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Copy CRM RAW To STAGE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DF_CRM_STAGE_DWH_LAKE",
											"type": "DataFlowReference",
											"parameters": {
												"P_DWH_FILE_NAME": {
													"value": "'@{variables('V_FILE_NAME')}'",
													"type": "Expression"
												}
											}
										},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										}
									}
								},
								{
									"name": "Copy Failed Files_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy CRM RAW To STAGE",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												},
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@variables('V_FAILED_PATH')",
													"type": "Expression"
												},
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete Failed Files from Landing_copy1",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Failed Files_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												},
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": false
										}
									}
								},
								{
									"name": "Copy Failed Files 1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "DF_CRM_STAGE_DWH_LAKE",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												},
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@variables('V_FAILED_PATH')",
													"type": "Expression"
												},
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete Failed Files from Landing 1",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Failed Files 1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												},
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": false
										}
									}
								},
								{
									"name": "Copy Loaded Files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "DF_CRM_STAGE_DWH_LAKE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												},
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@variables('V_LOADED_PATH')",
													"type": "Expression"
												},
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete Loaded Files from Landing",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Loaded Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_SRC",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												},
												"P_FILE_NAME": {
													"value": "@variables('V_FILE_NAME')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": false
										}
									}
								}
							]
						}
					}
				],
				"variables": {
					"V_FILE_NAME": {
						"type": "String"
					},
					"V_DWH_FILE_NAME": {
						"type": "String"
					},
					"V_FAILED_PATH": {
						"type": "String"
					},
					"V_LOADED_PATH": {
						"type": "String"
					},
					"V_PATH": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/STAGE_CRM')]",
				"[concat(variables('factoryId'), '/dataflows/DF_CRM_STAGE_DWH_LAKE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STAGE_CRM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "CRM.csv",
						"folderPath": "STAGE",
						"fileSystem": "source"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Account Name",
						"type": "String"
					},
					{
						"name": "English Name",
						"type": "String"
					},
					{
						"name": "Acronym",
						"type": "String"
					},
					{
						"name": "Account Type",
						"type": "String"
					},
					{
						"name": "Account Sub-Type",
						"type": "String"
					},
					{
						"name": "Office Address: Country",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "Parent Account",
						"type": "String"
					},
					{
						"name": "Website",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Phone number",
						"type": "String"
					},
					{
						"name": "Confidential",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "Activity",
						"type": "String"
					},
					{
						"name": "Product",
						"type": "String"
					},
					{
						"name": "Women Managed",
						"type": "String"
					},
					{
						"name": "Youth Managed",
						"type": "String"
					},
					{
						"name": "Social media",
						"type": "String"
					},
					{
						"name": "Other emails",
						"type": "String"
					},
					{
						"name": "Other phone numbers",
						"type": "String"
					},
					{
						"name": "Other information",
						"type": "String"
					},
					{
						"name": "Ownership and management",
						"type": "String"
					},
					{
						"name": "Trade Forum",
						"type": "String"
					},
					{
						"name": "Office Address: Street 1",
						"type": "String"
					},
					{
						"name": "Office Address: Street 2",
						"type": "String"
					},
					{
						"name": "Office Address: City",
						"type": "String"
					},
					{
						"name": "Office Address: State/Province",
						"type": "String"
					},
					{
						"name": "Office Address: ZIP/Postal Code",
						"type": "String"
					},
					{
						"name": "Mailing address is equal to office address",
						"type": "String"
					},
					{
						"name": "Mailing Address: Street 1",
						"type": "String"
					},
					{
						"name": "Mailing Address: Street 2",
						"type": "String"
					},
					{
						"name": "Mailing Address: City",
						"type": "String"
					},
					{
						"name": "Mailing Address: State/Province",
						"type": "String"
					},
					{
						"name": "Mailing Address: ZIP/Postal Code",
						"type": "String"
					},
					{
						"name": "Mailing Address: Country",
						"type": "String"
					},
					{
						"name": "UN Mailing Format",
						"type": "String"
					},
					{
						"name": "Project Number",
						"type": "String"
					},
					{
						"name": "Salutation",
						"type": "String"
					},
					{
						"name": "First Name",
						"type": "String"
					},
					{
						"name": "Last Name",
						"type": "String"
					},
					{
						"name": "Account",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Job title",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Phone",
						"type": "String"
					},
					{
						"name": "Preferred Language",
						"type": "String"
					},
					{
						"name": "Skype",
						"type": "String"
					},
					{
						"name": "Use account address",
						"type": "String"
					},
					{
						"name": "Event title",
						"type": "String"
					},
					{
						"name": "Event type",
						"type": "String"
					},
					{
						"name": "Type of tool",
						"type": "String"
					},
					{
						"name": "Course name",
						"type": "String"
					},
					{
						"name": "Start date",
						"type": "String"
					},
					{
						"name": "End date",
						"type": "String"
					},
					{
						"name": "Event date",
						"type": "String"
					},
					{
						"name": "SME Trade Academy",
						"type": "String"
					},
					{
						"name": "SheTrades",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_CRM_STAGE_DWH_LAKE')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "STAGE_CRM",
								"type": "DatasetReference"
							},
							"name": "SrcStageCRM"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DWH_CRM",
								"type": "DatasetReference"
							},
							"name": "DWHCRM"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "parameters{\n\tP_DWH_FILE_NAME as string\n}\nsource(output(\n\t\t{Account Name} as string,\n\t\t{English Name} as string,\n\t\tAcronym as string,\n\t\t{Account Type} as string,\n\t\t{Account Sub-Type} as string,\n\t\t{Office Address: Country} as string,\n\t\tCategory as string,\n\t\t{Parent Account} as string,\n\t\tWebsite as string,\n\t\tEmail as string,\n\t\t{Phone number} as string,\n\t\tConfidential as string,\n\t\tSize as string,\n\t\tActivity as string,\n\t\tProduct as string,\n\t\t{Women Managed} as string,\n\t\t{Youth Managed} as string,\n\t\t{Social media} as string,\n\t\t{Other emails} as string,\n\t\t{Other phone numbers} as string,\n\t\t{Other information} as string,\n\t\t{Ownership and management} as string,\n\t\t{Trade Forum} as string,\n\t\t{Office Address: Street 1} as string,\n\t\t{Office Address: Street 2} as string,\n\t\t{Office Address: City} as string,\n\t\t{Office Address: State/Province} as string,\n\t\t{Office Address: ZIP/Postal Code} as string,\n\t\t{Mailing address is equal to office address} as string,\n\t\t{Mailing Address: Street 1} as string,\n\t\t{Mailing Address: Street 2} as string,\n\t\t{Mailing Address: City} as string,\n\t\t{Mailing Address: State/Province} as string,\n\t\t{Mailing Address: ZIP/Postal Code} as string,\n\t\t{Mailing Address: Country} as string,\n\t\t{UN Mailing Format} as string,\n\t\t{Project Number} as string,\n\t\tSalutation as string,\n\t\t{First Name} as string,\n\t\t{Last Name} as string,\n\t\tAccount as string,\n\t\t{Professional status} as string,\n\t\t{Job title} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\tPhone as string,\n\t\t{Preferred Language} as string,\n\t\tSkype as string,\n\t\t{Use account address} as string,\n\t\t{Event title} as string,\n\t\t{Event type} as string,\n\t\t{Type of tool} as string,\n\t\t{Course name} as string,\n\t\t{Start date} as string,\n\t\t{End date} as string,\n\t\t{Event date} as string,\n\t\t{SME Trade Academy} as string,\n\t\tSheTrades as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SrcStageCRM\nSrcStageCRM derive(NEW_DATALAKE_FILE = 'CRM/'+replace($P_DWH_FILE_NAME, '.csv', '_'+toString(currentTimestamp(),'YYYYMMdd_HHmmss')+'.csv')) ~> DerivedColumn1\nDerivedColumn1 sink(input(\n\t\t{Account Name} as string,\n\t\t{English Name} as string,\n\t\tAcronym as string,\n\t\t{Account Type} as string,\n\t\t{Account Sub-Type} as string,\n\t\t{Office Address: Country} as string,\n\t\tCategory as string,\n\t\t{Parent Account} as string,\n\t\tWebsite as string,\n\t\tEmail as string,\n\t\t{Phone number} as string,\n\t\tConfidential as string,\n\t\tSize as string,\n\t\tActivity as string,\n\t\tProduct as string,\n\t\t{Women Managed} as string,\n\t\t{Youth Managed} as string,\n\t\t{Social media} as string,\n\t\t{Other emails} as string,\n\t\t{Other phone numbers} as string,\n\t\t{Other information} as string,\n\t\t{Ownership and management} as string,\n\t\t{Trade Forum} as string,\n\t\t{Office Address: Street 1} as string,\n\t\t{Office Address: Street 2} as string,\n\t\t{Office Address: City} as string,\n\t\t{Office Address: State/Province} as string,\n\t\t{Office Address: ZIP/Postal Code} as string,\n\t\t{Mailing address is equal to office address} as string,\n\t\t{Mailing Address: Street 1} as string,\n\t\t{Mailing Address: Street 2} as string,\n\t\t{Mailing Address: City} as string,\n\t\t{Mailing Address: State/Province} as string,\n\t\t{Mailing Address: ZIP/Postal Code} as string,\n\t\t{Mailing Address: Country} as string,\n\t\t{UN Mailing Format} as string,\n\t\t{Project Number} as string,\n\t\tSalutation as string,\n\t\t{First Name} as string,\n\t\t{Last Name} as string,\n\t\tAccount as string,\n\t\t{Professional status} as string,\n\t\t{Job title} as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\tPhone as string,\n\t\t{Preferred Language} as string,\n\t\tSkype as string,\n\t\t{Use account address} as string,\n\t\t{Event title} as string,\n\t\t{Event type} as string,\n\t\t{Type of tool} as string,\n\t\t{Course name} as string,\n\t\t{Start date} as string,\n\t\t{End date} as string,\n\t\t{Event date} as string,\n\t\t{SME Trade Academy} as string,\n\t\tSheTrades as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn:'NEW_DATALAKE_FILE',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> DWHCRM"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/STAGE_CRM')]",
				"[concat(variables('factoryId'), '/datasets/DWH_CRM')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_CRM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "CRM",
						"fileSystem": "target"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Account Name",
						"type": "String"
					},
					{
						"name": "English Name",
						"type": "String"
					},
					{
						"name": "Acronym",
						"type": "String"
					},
					{
						"name": "Account Type",
						"type": "String"
					},
					{
						"name": "Account Sub-Type",
						"type": "String"
					},
					{
						"name": "Office Address: Country",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "Parent Account",
						"type": "String"
					},
					{
						"name": "Website",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Phone number",
						"type": "String"
					},
					{
						"name": "Confidential",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "Activity",
						"type": "String"
					},
					{
						"name": "Product",
						"type": "String"
					},
					{
						"name": "Women Managed",
						"type": "String"
					},
					{
						"name": "Youth Managed",
						"type": "String"
					},
					{
						"name": "Social media",
						"type": "String"
					},
					{
						"name": "Other emails",
						"type": "String"
					},
					{
						"name": "Other phone numbers",
						"type": "String"
					},
					{
						"name": "Other information",
						"type": "String"
					},
					{
						"name": "Ownership and management",
						"type": "String"
					},
					{
						"name": "Trade Forum",
						"type": "String"
					},
					{
						"name": "Office Address: Street 1",
						"type": "String"
					},
					{
						"name": "Office Address: Street 2",
						"type": "String"
					},
					{
						"name": "Office Address: City",
						"type": "String"
					},
					{
						"name": "Office Address: State/Province",
						"type": "String"
					},
					{
						"name": "Office Address: ZIP/Postal Code",
						"type": "String"
					},
					{
						"name": "Mailing address is equal to office address",
						"type": "String"
					},
					{
						"name": "Mailing Address: Street 1",
						"type": "String"
					},
					{
						"name": "Mailing Address: Street 2",
						"type": "String"
					},
					{
						"name": "Mailing Address: City",
						"type": "String"
					},
					{
						"name": "Mailing Address: State/Province",
						"type": "String"
					},
					{
						"name": "Mailing Address: ZIP/Postal Code",
						"type": "String"
					},
					{
						"name": "Mailing Address: Country",
						"type": "String"
					},
					{
						"name": "UN Mailing Format",
						"type": "String"
					},
					{
						"name": "Project Number",
						"type": "String"
					},
					{
						"name": "Salutation",
						"type": "String"
					},
					{
						"name": "First Name",
						"type": "String"
					},
					{
						"name": "Last Name",
						"type": "String"
					},
					{
						"name": "Account",
						"type": "String"
					},
					{
						"name": "Professional status",
						"type": "String"
					},
					{
						"name": "Job title",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Year of birth",
						"type": "String"
					},
					{
						"name": "Phone",
						"type": "String"
					},
					{
						"name": "Preferred Language",
						"type": "String"
					},
					{
						"name": "Skype",
						"type": "String"
					},
					{
						"name": "Use account address",
						"type": "String"
					},
					{
						"name": "Event title",
						"type": "String"
					},
					{
						"name": "Event type",
						"type": "String"
					},
					{
						"name": "Type of tool",
						"type": "String"
					},
					{
						"name": "Course name",
						"type": "String"
					},
					{
						"name": "Start date",
						"type": "String"
					},
					{
						"name": "End date",
						"type": "String"
					},
					{
						"name": "Event date",
						"type": "String"
					},
					{
						"name": "SME Trade Academy",
						"type": "String"
					},
					{
						"name": "SheTrades",
						"type": "String"
					},
					{
						"name": "FILE_NAME",
						"type": "String"
					},
					{
						"name": "LOAD_TIMESTAMP",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		}
	]
}