DevUNITCADF/PartialArmTemplates/ArmTemplate_6_6_2020_14_0_5.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DevUNITCADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PIP_MART_MASTER_DIM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetPipelineRunInfo",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Start the Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT R.PERIOD_START,R.PERIOD_END,R.SNAP_DATE,R.BATCH_NBR,PIPELINE_NAME  FROM DWH.PIPELINE_INFO P, DWH.PIPELINE_RUNS R  WHERE P.PIPELINE_ID = R.PIPELINE_ID AND R.PIPELINE_RUN_STATUS = '1' AND P.PIPELINE_NAME = '@{pipeline().parameters.P_PIPELINE_NAME}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "DWH_SQL_PARAMETER_DATASET",
								"type": "DatasetReference",
								"parameters": {
									"P_TABLE_NAME": "NULL"
								}
							}
						}
					},
					{
						"name": "Set PERIOD_START",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetPipelineRunInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_RANGE_START",
							"value": {
								"value": "@activity('GetPipelineRunInfo').output.firstRow.PERIOD_START",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set SNAP_DATE",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetPipelineRunInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_SNAP_DATE",
							"value": {
								"value": "@activity('GetPipelineRunInfo').output.firstRow.SNAP_DATE",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set BATCH_NBR",
						"description": "",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set SNAP_DATE",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set PERIOD END",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set PERIOD_START",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_BATCH_NBR",
							"value": {
								"value": "@{activity('GetPipelineRunInfo').output.firstRow.BATCH_NBR}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set PERIOD END",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetPipelineRunInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_RANGE_END",
							"value": {
								"value": "@activity('GetPipelineRunInfo').output.firstRow.PERIOD_END",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Start the Pipeline",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[PRC_DWH_START_PIPELINE]",
							"storedProcedureParameters": {
								"P_IN_PIPELINE_NAME": {
									"value": "PIP_MART_MASTER_DIM",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_AGE_GROUP",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[PRC_MART_DIM_AGE_GROUP]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_AREA_OF_CHANGE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_AREA_OF_CHANGE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_CONTEXT_SUB_TYPE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_CONTEXT_SUB_TYPE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_COUNTRY",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_COUNTRY]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_ENTITY_SIZE_GROUP",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_ENTITY_SIZE_GROUP]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_ENTITY_SUB_TYPE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_ENTITY_SUB_TYPE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_ENTITY_TYPE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_ENTITY_TYPE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_EVENT_TYPE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_EVENT_TYPE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_GENDER",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_GENDER]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_INT_STD_INDUSTRY_CODES_ISIC",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_INT_STD_INDUSTRY_CODES_ISIC]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_ITC_SECTION",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_ITC_SECTION]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_PLATFORM_TYPE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_PLATFORM_TYPE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_PROFESSIONAL_STATUS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_PROFESSIONAL_STATUS]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_PROJECT",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_PROJECT]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_PROJECT_STAGE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_PROJECT_STAGE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_SERVICE_THEME",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_SERVICE_THEME]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_RELATION",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_RELATION]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_HS_CODES",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_HS_CODES]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_SURVEY_VARIABLE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_SURVEY_VARIABLE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_SURVEY_VARIABLE_OPTION",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_SURVEY_VARIABLE_OPTION]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRC_MART_DIM_TRAINING_TYPE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set BATCH_NBR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MART_OWNER].[PRC_MART_DIM_TRAINING_TYPE]",
							"storedProcedureParameters": {
								"P_IN_BATCH_NBR": {
									"value": {
										"value": "@int(variables('V_BATCH_NBR'))",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"P_IN_PERIOD_END": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_END'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_PERIOD_START": {
									"value": {
										"value": "@formatDateTime(variables('V_RANGE_START'))",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"P_IN_SNAP_DATE": {
									"value": {
										"value": "@formatDateTime(variables('V_SNAP_DATE'))",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"P_PIPELINE_NAME": {
						"type": "string",
						"defaultValue": "PIP_MART_MASTER_DIM"
					}
				},
				"variables": {
					"V_RANGE_START": {
						"type": "String"
					},
					"V_RANGE_END": {
						"type": "String"
					},
					"V_SNAP_DATE": {
						"type": "String"
					},
					"V_BATCH_NBR": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}